Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.2
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: python ./pre_commit_scripts/mypy_static_type_check.py
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check
        files: ^frontend/
        entry: python frontend/i18n/check/run_i18n_checks.py
        language: python
        pass_filenames: false

      - id: prettier-format-check
        name: run prettier formatting check
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_formatting_check.py
        language: python
        pass_filenames: false

      - id: eslint-lint-check
        name: run eslint static type check
        files: ^frontend/
        entry: python ./pre_commit_scripts/eslint_static_type_check.py
        language: python
        types_or: [javascript, ts, tsx, jsx, vue]
        pass_filenames: false

  # Note: Disabled as it breaks on TOC links.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       args: [-q]

Remove TS check files as these have been migrated to a separate project
  backend/pyproject.toml
  backend/utils/type_checker/__init__.py
  backend/utils/type_checker/__main__.py
  backend/utils/type_checker/checker.py
  backend/utils/type_checker/cli.py
  backend/utils/type_checker/django_parser.py
  backend/utils/type_checker/typescript_parser.py
  backend/utils/type_checker/utils.py
Due: mypy-check

Correct docs with pre-commit requirements file
  CONTRIBUTING.md
  README.md
Due: none

initial contact form
  frontend/pages/help/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

standardize django error messages
  backend/authentication/views.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_retrieve.py
  backend/communities/organizations/tests/test_org_update.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

Translated using Weblate (Spanish)
  frontend/i18n/es.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (Spanish) (#1301)
  frontend/i18n/es.json
Due: run-i18n-check, prettier-format-check

update unit tests
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_retrieve.py
  backend/communities/organizations/tests/test_org_update.py
  backend/communities/organizations/views.py
  backend/content/tests/discussion/entry/test_discussion_entry_delete.py
  backend/content/tests/discussion/entry/test_discussion_entry_partial_update.py
  backend/content/tests/discussion/entry/test_discussion_entry_update.py
  backend/content/tests/discussion/test_discussion_delete.py
  backend/content/tests/discussion/test_discussion_partial_update.py
  backend/content/tests/resource/test_resource_delete.py
  backend/content/tests/resource/test_resource_partial_update.py
  backend/content/tests/resource/test_resource_update.py
  backend/events/tests/test_event_delete.py
  backend/events/tests/test_event_update.py
  backend/events/views.py
Due: mypy-check

Fixed URL for group subpages
  frontend/utils/groupSubPages.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Split Faqs in separate tables in DB
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/events/models.py
Due: mypy-check

Added new tables to admin panel
  backend/communities/admin.py
  backend/events/admin.py
Due: mypy-check

Added ability to add FAQs
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/events/serializers.py
  backend/events/views.py
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

formatting
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/events/views.py
Due: mypy-check

i18n changes
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Updated tests
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/content/tests/faq/test_faq.py
  backend/events/tests/faq/test_event_faq_update.py
Due: mypy-check

Fixed org faq update test
  backend/communities/organizations/tests/faq/test_org_faq_update.py
Due: mypy-check

Standardize backend error messages (#1302)
  backend/authentication/views.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_retrieve.py
  backend/communities/organizations/tests/test_org_update.py
  backend/communities/organizations/views.py
  backend/content/tests/discussion/entry/test_discussion_entry_delete.py
  backend/content/tests/discussion/entry/test_discussion_entry_partial_update.py
  backend/content/tests/discussion/entry/test_discussion_entry_update.py
  backend/content/tests/discussion/test_discussion_delete.py
  backend/content/tests/discussion/test_discussion_partial_update.py
  backend/content/tests/resource/test_resource_delete.py
  backend/content/tests/resource/test_resource_partial_update.py
  backend/content/tests/resource/test_resource_update.py
  backend/content/views.py
  backend/events/tests/test_event_delete.py
  backend/events/tests/test_event_update.py
  backend/events/views.py
Due: mypy-check

Move file to allow for merge conflict fix
  backend/content/tests/image/test_image_upload.py
Due: mypy-check

Added backend tests
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/communities/organizations/views.py
  backend/events/tests/faq/test_event_faq_create.py
  backend/events/views.py
Due: mypy-check

Formatting
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/events/tests/faq/test_event_faq_create.py
Due: mypy-check

User Flags
  backend/authentication/admin.py
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

Add share buttons to more event pages and minor styling
  backend/events/views.py
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/organizations/[orgId]/events.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/stores/event.ts
  frontend/types/icon-map.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

Issue 716 (#1276)
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/organizations/[orgId]/events.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/events.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Minor minor code formatting
  backend/authentication/tests/flag/test_user_flag_create.py
Due: mypy-check

User Flags (#1305)
  backend/authentication/admin.py
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

issue_fix_904
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/modal/ModalSharePage.vue
  frontend/components/modal/qr-code/ModalQRCode.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix view and test
  backend/authentication/factories.py
  backend/authentication/tests/test_auth.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

reverted to APIView, refactored logic, adjusted tests
  backend/authentication/tests/test_auth.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

chore: created new components and refactor
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useClusterMap.ts
  frontend/composables/usePointerMap.ts
  frontend/i18n/en-US.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/home/index.vue
  frontend/stores/event.ts
  frontend/types/map.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: cluster and pointers are showing
  frontend/components/media/MediaMap.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useClusterMap.ts
  frontend/types/map.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Minor spacing change
  backend/authentication/tests/test_auth.py
Due: mypy-check

Fix for User Delete funcationality in the backend. (#1309)
  backend/authentication/factories.py
  backend/authentication/tests/test_auth.py
  backend/authentication/views.py
Due: mypy-check

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (French) (#1311)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

fix pytest
  backend/authentication/tests/test_auth.py
Due: mypy-check

chore: refacor sidebar and change folder structure
  frontend/components/btn/action/BtnAction.vue
  frontend/components/form/FormViewSelector.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/components/menu/mobile/MenuMobileNavigationDropdown.vue
  frontend/components/sidebar/left/SidebarLeft.vue
  frontend/components/sidebar/left/content/SidebarLeftContent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/components/sidebar/left/content/SidebarLeftDefaultContent.vue
  frontend/composables/map/useClusterMap.ts
  frontend/composables/map/useMap.ts
  frontend/composables/map/usePointerMap.ts
  frontend/composables/map/useRoutingMap.ts
  frontend/types/icon-map.ts
  frontend/types/map.ts
  frontend/types/sidebar-type.ts
  frontend/utils/mapUtils.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

adjusted frontend api calls
  frontend/composables/useAuth.ts
  frontend/composables/useFileManager.ts
  frontend/pages/groups/create.vue
  frontend/pages/resources/create.vue
  frontend/pages/resources/index.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

adjusted script to include "as string"
  utils/check_used_api_calls.py
Due: none

updated script to search within test/s folders, fix test endpoint
  frontend/test/pages/auth/sign-in.spec.ts
  utils/check_used_api_calls.py
Due: run-i18n-check, prettier-format-check, eslint-lint-check
