Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.3
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Fix test import paths - resolve all import errors
  frontend/test/utils/mentionSuggestion.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix remaining test import paths
  frontend/test/utils/baseURLs.spec.ts
  frontend/test/utils/captcha.spec.ts
  frontend/test/utils/groupSubPages.spec.ts
  frontend/test/utils/imageURLRegistry.s.spec.ts
  frontend/test/utils/locales.spec.ts
  frontend/test/utils/mapUtils.spec.ts
  frontend/test/utils/navMenuItems.spec.ts
  frontend/test/utils/passwordRules.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix sidebarUtils.spec.ts import path and composable usage
  frontend/test/utils/sidebarUtils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix Prettier formatting in mentionSuggestion.spec.ts
  frontend/test/utils/mentionSuggestion.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix missing Component type import in mentionSuggestion.spec.ts
  frontend/test/utils/mentionSuggestion.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix import paths in utility test files
  frontend/test/utils/errorHandler.spec.ts
  frontend/test/utils/i18n.spec.ts
  frontend/test/utils/routeUtils.spec.ts
  frontend/test/utils/utils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Spanish)
  frontend/i18n/locales/es.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

i18n-check fixes
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1729)
  frontend/i18n/locales/es.json
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

refactor: code refactoring
  frontend/app/components/card/CardResource.vue
Due: run-i18n-check, prettier-eslint-checks

feat: added group resources test files
  backend/communities/groups/tests/resource/test_group_resource_list.py
  backend/communities/groups/tests/resource/test_group_resource_retrieve.py
Due: mypy-check

feat: added org resource tests
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_list.py
  backend/communities/organizations/tests/resource/test_org_resource_retrieve.py
Due: mypy-check

feat: added event resource tests
  backend/events/tests/resource/test_event_resource_delete.py
  backend/events/tests/resource/test_event_resource_list.py
  backend/events/tests/resource/test_event_resource_retrieve.py
Due: mypy-check

fix: group, org and event resource tests
  backend/communities/groups/tests/resource/test_group_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_list.py
  backend/events/tests/resource/test_event_resource_list.py
Due: mypy-check

fix: formatting
  backend/communities/groups/tests/resource/test_group_resource_delete.py
Due: mypy-check

fix: resource tests
  backend/communities/groups/tests/resource/test_group_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/events/tests/resource/test_event_resource_delete.py
Due: mypy-check

refactor: fixed imports
  frontend/app/components/card/CardResource.vue
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/services/communities/group/resource.ts
  frontend/app/services/communities/organization/resource.ts
  frontend/app/services/event/resource.ts
Due: run-i18n-check, prettier-eslint-checks

fix: prettier
  frontend/app/services/communities/group/resource.ts
Due: run-i18n-check, prettier-eslint-checks

fixed prettier
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

fixes prettier error for index.vue
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

ran eslint
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):use correct loading component when loading new organizations
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

addressed a couple comments
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
Due: run-i18n-check, prettier-eslint-checks

used infinite scroll comp and make code similar to events page
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Ukrainian) (#1732)
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

implemented comments
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

code changes based on review
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/shared/types/organization.d.ts
Due: run-i18n-check, prettier-eslint-checks

Update spdx-checker pre-commit hook
  .pre-commit-config.yaml
Due: none

Translated using Weblate (Ukrainian) (#1734)
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):updated topics combobox with new requirements
  backend/communities/organizations/filters.py
  backend/events/filters.py
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/test-e2e/specs/mobile/organizations-home-page.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

added proper naming for variables
  backend/core/management/commands/populate_db.py
Due: mypy-check

Update PR template to indicate that contributors can close issues
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(frontend): created flow and machines within stores and composable to interpret useFlowScreens
  frontend/app/components/machines/Machine.ts
  frontend/app/components/machines/MachineCreateEvent.ts
  frontend/app/components/machines/steps/createEvent/MachineStepsCreateEventsReview.ts
  frontend/app/components/machines/steps/createEvent/MachinesStepsCreateEventEventDetails.ts
  frontend/app/composables/useFlowScreens.ts
  frontend/app/stores/data/event.ts
  frontend/app/stores/data/group.ts
  frontend/app/stores/data/index.ts
  frontend/app/stores/data/organization.ts
  frontend/app/stores/data/topics.ts
  frontend/app/stores/index.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/app/stores/machines/flow.ts
  frontend/app/stores/machines/index.ts
  frontend/shared/types/index.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/shared/types/machines/index.ts
Due: run-i18n-check, prettier-eslint-checks

Minor changes and removing unneeded code
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/test-e2e/specs/mobile/organizations-home-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):updated topics combobox with new requirements (#1736)
  backend/communities/organizations/filters.py
  backend/events/filters.py
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/test-e2e/specs/mobile/organizations-home-page.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks
