Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

initial setup
  backend/core/settings.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy-check

chore: basic concept of filtering done
  frontend/app/components/header/app-page/HeaderAppPageList.vue
  frontend/app/components/shield/Shield.vue
  frontend/app/pages/events/index.vue
Due: prettier-eslint-checks, run-i18n-check

refactor: better check for existence, passes None and empty string in this implementation.
  backend/authentication/views.py
Due: mypy-check

fix: two small typos
  backend/authentication/views.py
Due: mypy-check

refactor: changed VerifyEmailView.post's implementation to be more similar to SignUpView.get. Added better error logging + try/catch block.
  backend/authentication/views.py
Due: mypy-check

chore: added filtering to events withing organizations
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  frontend/app/components/form/dateTime/FormDateTimeInput.vue
  frontend/app/components/form/text/FormTextInputSearch.vue
  frontend/app/composables/queries/index.ts
  frontend/app/composables/queries/useGetOrganizationEvents.ts
  frontend/app/pages/organizations/[orgId]/events.vue
  frontend/app/services/communities/organization/event.ts
  frontend/app/services/communities/organization/index.ts
  frontend/app/stores/data/organization.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

chore: fixed sizes class and added filters on top for organizations
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/form/text/FormTextInputSearch.vue
  frontend/app/pages/organizations/[orgId]/events.vue
  frontend/app/pages/organizations/index.vue
Due: prettier-eslint-checks, run-i18n-check

chore: added loading for events
  frontend/app/pages/organizations/[orgId]/events.vue
Due: prettier-eslint-checks, run-i18n-check

Add base complexipy to backend for future issues
  .github/workflows/ci_backend_static_analysis.yaml
  backend/complexipy-snapshot.json
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(frontend): show field-specific errors for empty resource fields
  frontend/app/components/form/FormResource.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add FAQ modal form-validation specs (#2151)
  frontend/test-e2e/specs/all/events/event-faq/event-faq-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add resource modal form-validation specs (#2151)
  frontend/test-e2e/specs/all/events/event-resources/event-resources-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): make FAQ entry validation messages caller-independent
  frontend/app/components/form/FormFAQEntry.vue
Due: prettier-eslint-checks, run-i18n-check

refactor: update type deprecated typing hints to modern Python's typing syntax 1
  backend/authentication/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/content/serializers.py
  backend/content/tests/filescan/test_content_filescan_integration.py
  backend/content/tests/image/test_content_image_upload.py
Due: mypy-check

refactor: update type deprecated typing hints to modern Python's typing syntax 2
  backend/core/filescan/filescan_client.py
  backend/core/internal_events.py
  backend/core/management/commands/populate_db.py
  backend/core/management/commands/populate_db_utils/populate_org_events.py
  backend/core/management/commands/populate_db_utils/populate_org_group_event.py
  backend/core/management/commands/populate_db_utils/populate_org_groups.py
  backend/core/management/commands/populate_db_utils/populate_orgs.py
  backend/core/management/commands/wait_for_db.py
  backend/core/tests/test_internal_events.py
Due: mypy-check

refactor: update type deprecated typing hints to modern Python's typing syntax 3
  backend/events/serializers.py
  backend/events/views.py
Due: mypy-check

refactor(services): update python's deprecated typing hints to modern python typing syntax
  services/filescan/tests/test_scan_endpoint.py
Due: none

chore(frontend): drop redundant validation schema comments
  frontend/app/components/form/FormFAQEntry.vue
  frontend/app/components/form/FormResource.vue
Due: prettier-eslint-checks, run-i18n-check

fix key-values for i18n check
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/uk.json
  frontend/i18n/locales/zh-Hans.json
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
  frontend/test-e2e/specs/all/create-flows/organization-create-modal.spec.ts
  frontend/test-e2e/specs/all/events/events-create/events-create-location-step.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-create/organizations-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

implement stack layout for filters in screens below 640px
  frontend/app/pages/organizations/index.vue
Due: prettier-eslint-checks, run-i18n-check

django-tasks-db setup
  backend/core/settings.py
Due: mypy-check

chore(backend): isolate complexipy in its own dependency group
  .github/workflows/ci_backend_static_analysis.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

reduce mobile country and city filter widths
  frontend/app/pages/organizations/index.vue
Due: prettier-eslint-checks, run-i18n-check

added: email tasks, verification email logic
  backend/authentication/tasks.py
  backend/authentication/views.py
Due: mypy-check

chore(backend): isolate complexipy in its own dependency group (#2185)
  .github/workflows/ci_backend_static_analysis.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

test(e2e): add mobile entity logo shortcut spec (#2158)
  frontend/test-e2e/specs/mobile/organizations/organization-logo/organization-logo.spec.ts
Due: prettier-eslint-checks, run-i18n-check

style(e2e): apply prettier formatting to mobile logo spec
  frontend/test-e2e/specs/mobile/organizations/organization-logo/organization-logo.spec.ts
Due: prettier-eslint-checks, run-i18n-check

docs(e2e): drop redundant header comment from mobile logo spec
  frontend/test-e2e/specs/mobile/organizations/organization-logo/organization-logo.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added: added db_worker cmd for background tasks
  docker-compose.yml
Due: none

Update activists' deprecated typing syntax to modern typing for static analysis. (#2186)
  backend/authentication/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/content/serializers.py
  backend/content/tests/filescan/test_content_filescan_integration.py
  backend/content/tests/image/test_content_image_upload.py
  backend/core/filescan/filescan_client.py
  backend/core/internal_events.py
  backend/core/management/commands/populate_db.py
  backend/core/management/commands/populate_db_utils/populate_org_events.py
  backend/core/management/commands/populate_db_utils/populate_org_group_event.py
  backend/core/management/commands/populate_db_utils/populate_org_groups.py
  backend/core/management/commands/populate_db_utils/populate_orgs.py
  backend/core/management/commands/wait_for_db.py
  backend/core/tests/test_internal_events.py
  backend/events/serializers.py
  backend/events/views.py
  services/filescan/tests/test_scan_endpoint.py
Due: mypy-check

Update CI stage titles and pre-commit versions
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/ci_services_pytest.yaml
  .github/workflows/ci_services_static_analysis.yaml
  .pre-commit-config.yaml
Due: none

chore: fix typing and label
  frontend/app/components/card/CardMetricsOverview.vue
  frontend/app/components/form/dateTime/FormDateTimeInput.vue
  frontend/app/components/header/app-page/HeaderAppPageList.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/composables/queries/useGetOrganizationEvents.ts
  frontend/app/composables/useGetLabelByKeyFilter.ts
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/[orgId]/events.vue
  frontend/app/pages/organizations/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

test(e2e): fix flaky group-create country field assertion
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add mobile entity logo shortcut spec (#2158) (#2187)
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-logo/organization-logo.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add FAQ and resource modal form-validation specs (#2151) (#2183)
  frontend/app/components/form/FormFAQEntry.vue
  frontend/app/components/form/FormResource.vue
  frontend/test-e2e/specs/all/events/event-faq/event-faq-form-validation.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Minor pyproject.toml fixes
  backend/pyproject.toml
Due: none

Update views.py
  backend/authentication/views.py
Due: mypy-check

fix: override background tasks backend for test
  backend/authentication/tests/test_auth_sign_up.py
Due: mypy-check

initial commit
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/utils/permissions.py
Due: mypy-check

test(e2e): add API error and navigation smoke tests for organizations listing (#2192)
  frontend/test-e2e/specs/all/organizations/organizations-list/organizations-list-api-errors.spec.ts
Due: prettier-eslint-checks, run-i18n-check
