Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

Fixes for backend tests and add docs - wip
  backend/communities/admin.py
  backend/communities/groups/filters.py
  backend/communities/groups/views.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/location/test_location_str_methods.py
  backend/core/management/commands/populate_db_utils/populate_orgs.py
  backend/events/factories.py
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_filters.py
Due: mypy-check

Remove old fields from backend tests - wip
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_filters.py
Due: mypy-check

Update pytest docs
  CONTRIBUTING.md
Due: none

Restart groups of orgs after a new one has been created
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Move store declaration inside of function
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Remove unneeded backend test file
  backend/events/tests/test_event_api.py
Due: mypy-check

Send description texts to backend on create + test fix attempt - wip
  backend/Dockerfile
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/test_event_create.py
  backend/events/tests/test_event_filters.py
  frontend/app/components/meta-tag/MetaTagDates.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/test/mocks/data.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Translated using Weblate (Indonesian)
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Add id.json (Indonesian translation) into frontend/i18n/locales
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

style: add trailing newline to id.json
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

translation update for 'App Store'
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Fixes for backend tests
  backend/events/filters.py
  backend/events/tests/test_event_filters.py
Due: mypy-check

i18n-check fixes
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Fix Ruff issue - wip comment out unused variable
  backend/communities/groups/views.py
Due: mypy-check

Fixes for final backend tests - assign topic type from topics.json
  backend/content/factories.py
  backend/events/admin.py
  backend/events/factories.py
Due: mypy-check

Add back in validation of start time and end time + minor clean up
  backend/communities/organizations/views.py
  backend/content/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/views.py
Due: mypy-check

Fix test for assigning multiple topics to groups
  backend/communities/groups/tests/topic/test_group_topic.py
Due: mypy-check

Add comment on choice of fixing group topics test
  backend/communities/groups/tests/topic/test_group_topic.py
Due: mypy-check

Remove unneeded JSONs and fix the test of multiple org topics
  backend/communities/organizations/tests/topic/test_org_topic.py
  create_event.json
  create_group.json
  create_org.json
Due: mypy-check

Final fix to backend Python tests
  backend/Dockerfile
  backend/communities/organizations/tests/topic/test_org_topic.py
Due: mypy-check

fix(e2e): auth, rate limiting, filters, drag-and-drop, and test updates
  backend/core/settings.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/playwright.config.mts
  frontend/server/api/session/login.ts
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
  frontend/yarn.lock
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: fix i18n-check
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

refactor: remove errorHandler in composable since within the service layer its where its converted to an AppError
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: fix calendar issue with first load when creating event and moving loading of global css
  frontend/app/app.vue
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/stores/machines/create-event.ts
  frontend/nuxt.config.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (German)
  frontend/i18n/locales/de.json
Due: prettier-eslint-checks, run-i18n-check

Partial fixes of i18n-check errors
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

fix: fix issue to display on list for events and organization the image and fixed issue with pagination on lists
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

Remove further unneeded frontend files
  frontend/app/components/card/CardDatePicker.vue
  frontend/app/components/indicator/IndicatorProcessProgress.vue
  frontend/app/composables/useFormCheckboxRadio.ts
  frontend/test/components/btn/BtnTag.spec.ts
  frontend/test/components/shield/ShieldApp.spec.ts
  frontend/test/components/shield/ShieldPrivate.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Add needed images back into frontend
  frontend/public/icons/from_library/bootstrap_cloud_moon_dark.png
  frontend/public/icons/from_library/bootstrap_cloud_moon_light.png
  frontend/public/icons/from_library/bootstrap_envelope_dark.png
  frontend/public/icons/from_library/bootstrap_envelope_light.png
  frontend/shared/utils/imageURLRegistry.s.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

fix: fix unit tests to accomodate new logic
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: update image when going back to organizations when the image is updated
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

(WIP)added multi ID filter to backend and started implementation of frontend redirect after events created.
  backend/common/custom_filters.py
  backend/events/filters.py
  frontend/app/components/modal/create/ModalCreateEvent.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
