Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

test(e2e): add API error and navigation smoke tests for organizations listing (#2192)
  frontend/test-e2e/specs/all/organizations/organizations-list/organizations-home-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-list/organizations-list-api-errors.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add filter and pagination specs for organizations listing (#2194)
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/test-e2e/component-objects/OrganizationsFilter.ts
  frontend/test-e2e/specs/desktop/organizations-filter.spec.ts
  frontend/test-e2e/specs/desktop/organizations-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): move events listing desktop specs into events/events-list/
  frontend/test-e2e/specs/desktop/events/events-list/events-filter.spec.ts
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): move event FAQ keyboard spec into events/event-faq/
  frontend/test-e2e/specs/desktop/events/event-faq/event-faq-keyboard-navigation-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): move organizations-home-page specs into organizations-list/
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-home-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organizations-list/organizations-home-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): move org filter and pagination specs into organizations-list/
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-filter.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): move sign-out spec into authentication/sign-out/ subdirectory
  frontend/test-e2e/specs/all/authentication/sign-out/sign-out-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): move all/landing-page.spec.ts into landing-page/ subdirectory
  frontend/test-e2e/specs/all/landing-page/landing-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore(dev): increase org seed data to 20 to enable pagination testing
  docker-compose.yml
Due: none

fix(pagination): add h-px to org sentinel so IntersectionObserver threshold fires
  frontend/app/pages/organizations/index.vue
Due: prettier-eslint-checks, run-i18n-check

fix(pagination): seed org store from SSR payload when page > 1 and store is empty
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add organizations pagination spec for issue #2194
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(pagination): add h-px to events sentinel so IntersectionObserver threshold fires
  frontend/app/pages/events/index.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): rewrite events pagination spec for consistency with orgs spec (#2194)
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore(vscode): configure Playwright IDE runner to reuse existing dev server
  .vscode/settings.json
Due: none

style: fix prettier formatting and vue/attributes-order lint errors
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add API error and navigation smoke tests for organizations listing (#2192) (#2193)
  frontend/test-e2e/specs/all/organizations/organizations-list/organizations-home-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-list/organizations-list-api-errors.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): poll card count instead of waiting for page=2 response
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): harden group create modal org selection against open-click race
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/specs/all/create-flows/group-create-modal.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

style: fix import order in CreateGroupModal to satisfy perfectionist/sort-imports
  frontend/test-e2e/component-objects/CreateGroupModal.ts
Due: prettier-eslint-checks, run-i18n-check

fix(pagination): seed events store from SSR payload so page 2 appends
  frontend/app/composables/queries/useGetEvents.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): re-scroll on each poll until pagination loads a second page
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add org/event filter and pagination specs; fix infinite scroll sentinel and SSR hydration (#2194) (#2195)
  .vscode/settings.json
  docker-compose.yml
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/component-objects/OrganizationsFilter.ts
  frontend/test-e2e/specs/all/authentication/sign-out/sign-out-validation.spec.ts
  frontend/test-e2e/specs/all/create-flows/group-create-modal.spec.ts
  frontend/test-e2e/specs/all/landing-page/landing-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/desktop/events-pagination.spec.ts
  frontend/test-e2e/specs/desktop/events/event-faq/event-faq-keyboard-navigation-permissions.spec.ts
  frontend/test-e2e/specs/desktop/events/events-list/events-filter.spec.ts
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-filter.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-home-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-pagination.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organizations-list/organizations-home-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Ukrainian) (#2197)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

feat(backend): add --skip-if-populated flag to populate_db (#2198)
  backend/core/management/commands/populate_db.py
  backend/tests/test_populate_db_command.py
Due: mypy-check

fix(docker): persist local dev database across restarts (#2198)
  docker-compose.yml
Due: none

chore(dev): add reset-dev-db.sh and keep e2e runs on a fresh database (#2198)
  reset-dev-db.sh
  run-e2e-tests.sh
Due: none

fix(backend): organizations_by_user 500s for non-admin users
  backend/communities/organizations/tests/test_org_by_user.py
  backend/communities/organizations/views.py
Due: mypy-check

fix(backend): reduce populate_db handle complexity for CI (#2198)
  backend/complexipy-snapshot.json
  backend/core/management/commands/populate_db.py
Due: mypy-check

fix(frontend): translate edit and delete icon labels for screen readers
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): use aria-label directly on icon buttons
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
Due: prettier-eslint-checks, run-i18n-check

fix(composables): reset pagination and discard stale responses on filter change
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizations.integration.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): add unit tests for Collapsable, EmptyState, BtnRoadMap and BtnActionAdd components
  frontend/test/components/Collapsable.spec.ts
  frontend/test/components/EmptyState.spec.ts
  frontend/test/components/btn/BtnRoadMap.spec.ts
  frontend/test/components/btn/action/BtnActionAdd.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add unit tests for CardGetInvolved components and auth pages
  frontend/test/components/card/get-involved/CardGetInvolved.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedEvent.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedGroup.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedOrganization.spec.ts
  frontend/test/pages/auth/confirm/email.spec.ts
  frontend/test/pages/auth/pwreset/email.spec.ts
  frontend/test/vitest-globals.d.ts
Due: prettier-eslint-checks, run-i18n-check

fix(authentication): align VerifyEmailView with SignUpView, fix email check, and fix message inconsistencies
  backend/authentication/views.py
Due: mypy-check

fix(authentication): fix message inconsistencies in extend_schema decorators
  backend/authentication/views.py
Due: mypy-check

fix(lint): remove unused variables flagged by no-unused-vars
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizations.integration.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(test): replace self-comparison in integration tests to resolve ESLint error
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizations.integration.spec.ts
Due: prettier-eslint-checks, run-i18n-check

style: fix prettier formatting issues on modified files
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
