Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Translated using Weblate (Indonesian)
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Spanish)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

fix by removing unccesary if statement rendering on modal and added teleport to mount on render
  frontend/app/components/modal/ModalBase.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

fix tests
  frontend/test/components/modal/ModalBase.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix unit tests
  frontend/test/composables/useUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: hide create/edit controls on FAQ/resource pages for non-admins (#2012)
  frontend/app/components/btn/action/BtnActionAdd.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/composables/useUser.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/test/components/modal/ModalBase.spec.ts
  frontend/test/composables/useUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): stabilize theme change test on mobile with force click
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2014)
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Update prek, structure YAML file and minor frontend change
  backend/core/management/commands/entity_data_to_assign.yaml
  backend/pyproject.toml
  backend/uv.lock
  frontend/test/components/modal/ModalBase.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore(populate_db): migrate assigned dev seed data from JSON to YAML (#2010) (#2011)
  backend/core/management/commands/entity_data_to_assign.json
  backend/core/management/commands/entity_data_to_assign.yaml
  backend/core/management/commands/populate_db.py
  backend/pyproject.toml
  backend/tests/fixtures/populate_db_assigned.json
  backend/tests/fixtures/populate_db_assigned.yaml
  backend/tests/test_populate_db_command.py
  backend/uv.lock
  docker-compose.yml
  frontend/test/components/modal/ModalBase.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Update readme testing shields
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  README.md
Due: none

Issue 1171. Filescan integration with backend.
  backend/content/serializers.py
  backend/content/tests/filescan/test_image_filescan_integration.py
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/image/test_image_upload.py
  backend/content/views.py
  backend/core/filescan/__init__.py
  backend/core/filescan/filescan_client.py
  backend/core/filescan/scan_helpers.py
  backend/core/settings.py
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.filescan_integration.yml
  services/__init__.py
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/README.md
  services/filescan/main.py
  services/filescan/pyproject.toml
  services/filescan/tests/__init__.py
  services/filescan/tests_integration/__init__.py
Due: mypy-check

feat(organizations): prioritize Activist org first in dev-mode organization list
  backend/communities/organizations/views.py
Due: mypy-check

fix: use data=request.data in serializer to align with DRF API usage
  backend/communities/organizations/views.py
Due: mypy-check

update dev activist org info for new contributors
  backend/core/management/commands/entity_data_to_assign.yaml
Due: none

ruff formating fix
  backend/communities/organizations/views.py
Due: mypy-check

fix(types): add queryset return annotation for OrganizationAPIView.get_queryset
  backend/communities/organizations/views.py
Due: mypy-check

Translated using Weblate (Italian)
  frontend/i18n/locales/it.json
Due: prettier-eslint-checks, run-i18n-check

test: improve Loading component test coverage
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

ssr implemented and pages not breaking when reloading
  frontend/app/components/SearchBar.vue
  frontend/app/components/feed/Feed.vue
  frontend/app/components/footer/FooterWebsite.vue
  frontend/app/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/app/components/media/map/MediaMap.vue
  frontend/app/components/media/map/MediaMapEvent.vue
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/composables/generic/useBreakpoint.ts
  frontend/app/composables/map/useRoutingMap.ts
  frontend/app/constants/navMenuItems.ts
  frontend/app/layouts/App.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/events/[eventId]/index.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/index.vue
  frontend/app/pages/organizations/[orgId]/index.vue
  frontend/app/plugins/error-watcher.ts
  frontend/app/stores/dev.ts
  frontend/nuxt.config.ts
  frontend/test/composables/useBreakpoint.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix build
  frontend/app/pages/legal/privacy-policy.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add event permission gating specs (#1980)
  frontend/package.json
  frontend/playwright.config.mts
  frontend/test-e2e/constants/authPaths.ts
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/global-setup.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Issue 1171: Quarantine volume.
  .gitignore
  backend/content/tests/filescan/test_image_filescan_integration.py
  backend/core/filescan/filescan_client.py
  backend/core/filescan/scan_helpers.py
  docker-compose.yml
  services/filescan/CSAM_IMPLEMENTATION_NOTES.md
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/README.md
  services/filescan/main.py
  services/filescan/tests/test_scan_endpoint.py
  services/filescan/tests_integration/test_scan_quarantine_integration.py
Due: mypy-check

fix: prettier formatting in Loading.spec.ts
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: improve Loading component unit test coverage (#2020)
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Issue 1171. Added GitHub action.
  .github/workflows/ci_filescan.yaml
  .gitignore
  backend/content/tests/filescan/test_image_filescan_integration.py
  backend/content/tests/image/test_image_icon_create.py
  docker-compose.filescan_integration.yml
  services/filescan/main.py
Due: mypy-check

Issue 1171: Modify GH actions.
  .github/workflows/ci_backend.yaml
  .github/workflows/ci_filescan.yaml
  backend/content/tests/image/test_image_icon_create.py
Due: mypy-check

Issue 1171: Fix ci_backend_pytest.yml.
  .github/workflows/ci_backend_pytest.yaml
Due: none

Issue 1171: Malware detect notification.
  .env.dev
  .gitignore
  backend/content/tests/filescan/test_image_filescan_integration.py
  backend/core/filescan/filescan_client.py
  backend/core/internal_events.py
  backend/core/settings.py
  backend/core/tests/test_internal_events.py
  backend/core/urls.py
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/README.md
  services/filescan/main.py
  services/filescan/notification_helpers.py
  services/filescan/requirements.txt
  services/filescan/tests/test_scan_endpoint.py
  services/filescan/tests_integration/test_scan_quarantine_integration.py
Due: mypy-check

Issue 1171: Test fails and new how-to doc.
  .env.dev
  backend/content/tests/image/test_image_icon_create.py
  backend/core/tests/test_throttling.py
  services/filescan/README.md
  services/filescan/tests_integration/test_scan_quarantine_integration.py
  services/filescan/what-to-do-when-malware-shows-up.md
Due: mypy-check

Translated using Weblate (Italian) (#2017)
  frontend/i18n/locales/it.json
Due: prettier-eslint-checks, run-i18n-check

Order events so that the dev sync is always first
  backend/communities/organizations/views.py
  backend/core/management/commands/entity_data_to_assign.yaml
  backend/events/views.py
Due: mypy-check

Prioritize Activist organization first on /organizations in development mode (#2016)
  backend/communities/organizations/views.py
  backend/core/management/commands/entity_data_to_assign.yaml
  backend/events/views.py
Due: mypy-check

DRF/Spectacular warnings dumps.
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/filters.py
  backend/communities/organizations/views.py
  backend/core/settings.py
  backend/events/filters.py
  backend/events/views.py
Due: mypy-check

Add `skip_postgeneration_save = True` to factory Meta classes.
  backend/authentication/factories.py
  backend/content/factories.py
  backend/events/factories.py
Due: mypy-check

fix issue with pagination when coming back from a page + refactor stores to make it more maintanable and modular with factory stores
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/composables/queries/useGetOrganization.ts
  frontend/app/composables/queries/useGetOrganizationImages.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/stores/data/event.ts
  frontend/app/stores/data/group.ts
  frontend/app/stores/data/organization.ts
  frontend/app/stores/factories/flow.ts
  frontend/app/stores/factories/images.ts
  frontend/app/stores/factories/pagination.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/test/stores/data/event.spec.ts
  frontend/test/stores/data/group.spec.ts
  frontend/test/stores/data/organization.spec.ts
  frontend/test/stores/event.spec.ts
  frontend/test/stores/factories/flow.spec.ts
  frontend/test/stores/factories/images.spec.ts
  frontend/test/stores/factories/pagination.spec.ts
  frontend/test/stores/group.spec.ts
  frontend/test/stores/machines/create-event.spec.ts
  frontend/test/stores/machines/create-group.spec.ts
  frontend/test/stores/machines/create-organization.spec.ts
  frontend/test/stores/machines/topics.spec.ts
  frontend/test/stores/organization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix nuxt type check
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): deterministic first event for member permission tests
  backend/core/management/commands/populate_db.py
  backend/events/views.py
  frontend/test-e2e/actions/navigation/events.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

perf(e2e): speed up Organization Group Resources specs
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
Due: prettier-eslint-checks, run-i18n-check
