Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

typecheck errors fixed
  frontend/app/components/LoadingScreen.vue
  frontend/app/pages/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
  frontend/test-e2e/global-fixtures.ts
  frontend/tsconfig.playwright.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):adding missing user verification
  frontend/app/components/media/image-carousel/MediaImageCarousel.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Turkish)
  frontend/i18n/locales/tr.json
Due: run-i18n-check, prettier-eslint-checks

test: add unit tests for TooltipBase.vue (#1653)
  frontend/test/components/tooltip/TooltipBase.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Turkish) (#1648)
  frontend/i18n/locales/tr.json
Due: run-i18n-check, prettier-eslint-checks

test(components): add unit tests for button components using Testing Library queries
  .gitignore
  frontend/package.json
  frontend/test/components/btn/BtnShareIcon.spec.ts
  frontend/test/components/btn/BtnTag.spec.ts
  frontend/test/components/btn/action/BtnAction.spec.ts
  frontend/test/components/btn/action/BtnActionDropdown.spec.ts
  frontend/test/components/btn/helpers.ts
  frontend/test/components/btn/route/BtnRouteExternal.spec.ts
  frontend/test/components/btn/route/BtnRouteInternal.spec.ts
  frontend/test/setup.ts
  frontend/test/utils/btnUtils.spec.ts
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

test: add unit tests for Sidebar and useSidebar logic (#1652)
  frontend/test/components/sidebar/SidebarLeft.spec.ts
  frontend/test/utils/sidebarUtils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):add new BtnActionAdd with permissions to add new elements
  frontend/app/components/btn/action/BtnActionAdd.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/i18n/locales/en-US.json
Due: run-i18n-check, prettier-eslint-checks

Fix i18n check and remove unneeded comment
  frontend/app/pages/events/index.vue
  frontend/i18n/locales/tr.json
Due: run-i18n-check, prettier-eslint-checks

Misc fixes to serializers and revert Docker compose YAML file
  backend/events/serializers.py
  docker-compose.yml
Due: mypy-check

Remove unneded spacing
  backend/events/serializers.py
Due: mypy-check

Fix pytest test
  backend/events/serializers.py
Due: mypy-check

fix:open add button fix to open modals for resources and faqs
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: run-i18n-check, prettier-eslint-checks

fix:open modal event faq
  frontend/app/components/modal/faq-entry/ModalFaqEntryEvent.vue
Due: run-i18n-check, prettier-eslint-checks

Updated Backend Dependencies (#1634)
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

Make question issues tasks
  .github/ISSUE_TEMPLATE/question.yml
Due: none

Fixes for pytest tests
  backend/events/serializers.py
  backend/events/tests/test_event_api.py
Due: mypy-check

Fix import of relativedelta
  backend/events/tests/test_event_api.py
Due: mypy-check

Fix org resource serializer topics requirement
  backend/communities/organizations/serializers.py
Due: mypy-check

fixed datetime and frontend docker compose (#1613)
  backend/events/serializers.py
  backend/events/tests/test_event_api.py
Due: mypy-check

Fix filtering at events and organizations and added missing permissions for adding resource and faq (#1644)
  backend/communities/organizations/serializers.py
  frontend/app/components/Loading.vue
  frontend/app/components/btn/action/BtnActionAdd.vue
  frontend/app/components/media/image-carousel/MediaImageCarousel.vue
  frontend/app/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/layouts/organization/OrganizationList.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/events/index.vue
  frontend/app/pages/index.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/stores/event.ts
  frontend/app/stores/organization.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
Due: mypy-check, run-i18n-check, prettier-eslint-checks

i18n-check fixes and minor nits
  .github/workflows/pr_ci_playwright_e2e.yaml
  backend/core/management/commands/populate_db.py
  frontend/app/pages/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Edits to icon edit to fix a11y issues
  frontend/app/components/icon/IconEdit.vue
Due: run-i18n-check, prettier-eslint-checks

Misc fixes to comments
  .vscode/settings.json
  frontend/playwright.config.mts
  frontend/test-e2e/actions/authentication.ts
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/index.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/component-objects/SignInMenu.ts
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/global-setup.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-social-links.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Minor update to e2e testing output
  frontend/test-e2e/reporters/execution-time-reporter.ts
Due: run-i18n-check, prettier-eslint-checks

fix(accessibility): resolve e2e accessibility violations
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/composables/usePointerMap.ts
  frontend/test-e2e/page-objects/event/about/EventAboutPage.ts
  frontend/test-e2e/page-objects/organization/about/OrganizationAboutPage.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix social links + added new formItem to handle lists
  frontend/app/components/form/FormListItem.vue
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):changed form template to have the new component + updated the Form test for it
  frontend/app/components/form/FormTemplate.vue
  frontend/test/components/form/Form.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: adiciona testes unitários para o componente BtnAction.vue
  frontend/test/components/btn/action/BtnAction.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: adiciona testes unitários para o componente TooltipBase.vue
  frontend/test/components/tooltip/TooltipBase.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: adiciona testes unitários para o componente ModalBase.vue
  frontend/test/components/modal/ModalBase.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Adiciona testes unitários para CardSearchResultEntity (#1650)
  frontend/test/components/card/search-result-entity/CardSearchResultEntity.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Adiciona testes unitários para SidebarLeft (#1652)
  frontend/test/components/sidebar/left/SidebarLeft.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Adiciona testes unitários para MenuLinkWrapper (#1654)
  frontend/test/components/menu/MenuLinkWrapper.spec.ts
Due: run-i18n-check, prettier-eslint-checks

chore:added pagination functionality in events
  frontend/app/app.vue
  frontend/app/assets/css/tailwind.css
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/pages/events/index.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/app/services/event/text.ts
  frontend/app/services/http.ts
  frontend/app/stores/event.ts
  frontend/app/types/http.ts
Due: run-i18n-check, prettier-eslint-checks

Minor comment fixes + padding for social links modal add link
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/test/components/form/Form.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix social links + added new formItem to handle lists (#1666)
  frontend/app/components/form/FormListItem.vue
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/form/FormTemplate.vue
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/test/components/form/Form.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Styling for CardFAQEntry and fixing test ids
  frontend/app/components/card/CardFAQEntry.vue
  frontend/test-e2e/page-objects/event/about/EventAboutPage.ts
  frontend/test-e2e/page-objects/organization/about/OrganizationAboutPage.ts
Due: run-i18n-check, prettier-eslint-checks

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
