Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

chore(frontend):added unit tests for services and composables
  frontend/test/composables/cache/useUserCache.spec.ts
  frontend/test/composables/mutations/event/useEventSupportMutations.spec.ts
  frontend/test/composables/mutations/organization/useOrganizationSupportMutations.spec.ts
  frontend/test/composables/queries/integration/user/useGetUser.integration.spec.ts
  frontend/test/composables/queries/organization/useGetOrganizationEvents.spec.ts
  frontend/test/composables/queries/user/useGetUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update formatting, docstrings and file headers
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/views.py
  frontend/app/components/organizations/OrganizationsList.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Update file header
  frontend/app/composables/cache/useSessionCache.ts
Due: prettier-eslint-checks, run-i18n-check

Fix final file headers
  frontend/app/composables/generic/useToggle.ts
  frontend/app/composables/mutations/event/useEventSupportMutations.ts
  frontend/app/composables/queries/user/index.ts
  frontend/app/services/user/index.ts
  frontend/shared/utils/isTokenExpired.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend):fix combobox
  frontend/app/components/combobox/ComboboxTopics.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend):fix combobox
  frontend/app/components/form/selector/FormSelectorComboboxTopics.vue
Due: prettier-eslint-checks, run-i18n-check

Remove unneeded optional and update docs
  CONTRIBUTING.md
  docker-compose.yml
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/components/form/selector/FormSelectorComboboxTopics.vue
Due: prettier-eslint-checks, run-i18n-check

fix(backend): fix backend unit tests
  backend/authentication/tests/test_auth_str_methods.py
Due: mypy-check

chore(backend): added missing unit tests
  backend/authentication/tests/user/test_user_retrieve.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/support/test_org_support_create.py
  backend/communities/organizations/tests/support/test_org_support_delete.py
  backend/communities/organizations/views.py
  backend/events/serializers.py
  backend/events/tests/support/test_event_support_create.py
  backend/events/tests/support/test_event_support_delete.py
  backend/events/views.py
Due: mypy-check

chore(fix): fix file naming conventions
  backend/authentication/tests/user/test_auth_user_retrieve.py
  backend/authentication/tests/user/test_user_retrieve.py
Due: mypy-check

chore(fix): fix function names in test_auth_user_retrieve
  backend/authentication/tests/user/test_auth_user_retrieve.py
Due: mypy-check

chore: upgrade maplibre-gl to 6.9.0
  frontend/app/composables/map/useClusterMap.ts
  frontend/app/composables/map/useMap.ts
  frontend/app/composables/map/usePointerMap.ts
  frontend/app/composables/map/useRoutingMap.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

updated .toml file as well without django and pysentry
  backend/pyproject.toml
  backend/uv.lock
Due: none

Upgraded pysentry-rs in .toml and uv.lock file with slight modification to dockerfile of adding gcc compiler to run rust as new version of pysentry-rs stop providing pre-compiled version
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script)) (#2412)
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

fix: standardize filter and QR dropdown styling on shared card utilities
  frontend/app/components/btn/action/BtnActionDropdown.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/app/pages/organizations/[orgId]/events.vue
Due: prettier-eslint-checks, run-i18n-check

chore(deps): upgrade zod to 4.5.4
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix: migrate FormSearchLocation schema to zod 4 error param
  frontend/app/components/form/FormSearchLocation.vue
Due: prettier-eslint-checks, run-i18n-check

fix: migrate org location step schema to zod 4 error param
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
Due: prettier-eslint-checks, run-i18n-check

fix: restore "Required" message for missing values under zod 4
  frontend/app/plugins/zod.ts
Due: prettier-eslint-checks, run-i18n-check

chore(backend): add missing unit tests
  .ts-backend-check.yaml
  backend/authentication/tests/session/test_auth_session_get.py
  backend/authentication/tests/test_auth_reset_pw.py
  backend/authentication/tests/test_auth_serializers.py
  backend/authentication/tests/test_auth_str_methods.py
  backend/authentication/tests/test_auth_verify_email.py
  backend/authentication/tests/test_auth_verify_email_for_reset_pw.py
  backend/authentication/tests/user_flag/test_auth_user_flag_create.py
  backend/communities/organizations/tests/support/test_org_support_create.py
  backend/communities/organizations/tests/support/test_org_support_delete.py
  backend/communities/organizations/tests/support/test_org_support_list.py
  backend/communities/organizations/tests/support/test_org_support_serializer.py
  backend/communities/organizations/tests/test_org_retrieve.py
  backend/events/tests/support/test_event_support_create.py
  backend/events/tests/support/test_event_support_delete.py
  backend/events/tests/support/test_event_support_list.py
  backend/events/tests/support/test_event_support_serializer.py
  backend/events/tests/test_event_retrieve.py
  frontend/app/pages/home/index.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: unit tests violations of backend
  backend/authentication/tests/session/test_auth_session_get.py
  backend/authentication/tests/test_auth_reset_pw.py
  backend/authentication/tests/test_auth_verify_email_for_reset_pw.py
  backend/authentication/tests/user_flag/test_auth_user_flag_create.py
  backend/events/tests/test_event_retrieve.py
Due: mypy-check

fix: unit tests violations of backend
  backend/authentication/tests/session/test_auth_session_get.py
Due: mypy-check

Upgrade maplibre-gl to v6 to resolve critical audit vulnerability
  frontend/app/composables/map/useClusterMap.ts
  frontend/app/composables/map/useMap.ts
  frontend/app/composables/map/usePointerMap.ts
  frontend/app/composables/map/useRoutingMap.ts
  frontend/package.json
  frontend/test/composables/map/useMap.spec.ts
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

chore(deps): upgrade zod to v4 and migrate schemas (#2414)
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/plugins/zod.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Update yarn and reinstall
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Update yarn and fix import spacing
  frontend/app/composables/map/useMap.ts
  frontend/package.json
Due: prettier-eslint-checks, run-i18n-check

chore: add tests for the roles feature
  backend/communities/groups/tests/member/test_group_member.py
  backend/communities/organizations/tests/member/test_org_member.py
  backend/communities/tests/conftest.py
  backend/communities/tests/test_permissions.py
  backend/communities/tests/test_services.py
Due: mypy-check

Fix map pins not rendering with maplibre-gl v6
  frontend/app/composables/map/useClusterMap.ts
  frontend/app/composables/map/useMap.ts
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

docs: add usage documentation to BtnIconsLabel
  frontend/app/components/btn/BtnIconsLabel.vue
Due: prettier-eslint-checks, run-i18n-check

chore: update @vueuse packages to 14.4.0
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

feat: replace password strength labels with crack time display
  frontend/app/components/indicator/IndicatorPasswordStrength.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

Keep just dependencies already defined
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

Fix Dockerfile for backend
  backend/Dockerfile
Due: none

Report only explicit backend dependencies
  utils/dependency_update_check/compare_backend_versions.py
Due: none

Upgrade: Backend dependencies upgraded except Django (#2410)
  .pre-commit-config.yaml
  backend/authentication/tests/test_auth_tasks.py
  backend/pyproject.toml
  backend/uv.lock
  utils/dependency_update_check/compare_backend_versions.py
Due: mypy-check

Minor fix of dependency audit report issue title
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

fix: remove unused localization key
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

Handle support when signed out + reorder pages
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/dropdown/DropdownBase.vue
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/home/index.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
