Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy . --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_eslint_checks.py
        language: python
        pass_filenames: false

List the Python version in the readme and contributing guide
  CONTRIBUTING.md
  README.md
  backend/pyproject.toml
Due: none

chore(frontend): create components for filter sidebar(Input search, collapsabl e, combobox)
  frontend/assets/css/tailwind.css
  frontend/components/Collapsable.vue
  frontend/components/card/CardTopicSelection.vue
  frontend/components/combobox/ComboboxTopics.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/text/FormTextInputSearch.vue
  frontend/components/shield/Shield.vue
  frontend/composables/useDebounce.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend): added new prop to push icon on left
  frontend/components/form/text/FormTextInput.vue
  frontend/components/form/text/FormTextInputSearch.vue
Due: run-i18n-check, prettier-eslint-checks

FAQ views for orgs/events + update modals/stores
  backend/authentication/tests/test_auth.py
  backend/communities/groups/factories.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/groups/tests/test_group_api.py
  backend/communities/groups/views.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/test_org_api.py
  backend/communities/organizations/views.py
  backend/content/tests/discussion/test_discussion_create.py
  backend/content/tests/discussion/test_discussion_update.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/resource/resource_flag/test_resource_flag_delete.py
  backend/core/management/commands/populate_db.py
  backend/core/settings.py
  backend/core/tests/unit/conftest.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/faq/test_event_faq_create.py
  backend/events/tests/faq/test_event_faq_update.py
  backend/events/tests/test_event_api.py
  backend/events/views.py
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

upgrade vue-tsc and fix issue
  frontend/components/modal/upload-images/ModalUploadImagesFileDropZone.vue
  frontend/package.json
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):initial filter forms added to event and organization
  frontend/components/form/Form.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorRadio.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/en-US.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):added missing headers
  frontend/components/Collapsable.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/composables/useDebounce.ts
Due: run-i18n-check, prettier-eslint-checks

Refactor id access in group sub-pages
  frontend/utils/groupSubPages.ts
Due: run-i18n-check, prettier-eslint-checks

test(auth): refactor test_user_flag_create to use authenticated_client fixture
  backend/authentication/tests/flag/test_user_flag_create.py
Due: mypy-check

fix(frontend):fix alignment issue
  frontend/components/form/selector/FormSelectorCombobox.vue
Due: run-i18n-check, prettier-eslint-checks

test(auth): refactor test_user_flag_delete to use authenticated_client fixture
  backend/authentication/tests/flag/test_user_flag_delete.py
Due: mypy-check

test resume notion
  backend/tests.md
Due: none

fix(frontend):check i18n
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):check i18n
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/en-US.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):check i18n
  frontend/i18n/en-US.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):check i18n
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):check i18n
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):check i18n
  frontend/components/card/CardMetricsOverview.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):prettier and eslint chack works faster
  frontend/.lintstagedrc
Due: run-i18n-check, prettier-eslint-checks

Replace print() with logger.error() in scrub_exif
  backend/content/serializers.py
Due: mypy-check

fix(frontend):prettier and eslint chack works faster (#1384)
  frontend/.lintstagedrc
Due: run-i18n-check, prettier-eslint-checks

Replace print() with logger.error() in scrub_exif (#1385)
  backend/content/serializers.py
Due: mypy-check

Remove all ref imports from Vue as it's not needed with Nuxt auto import
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/dropdown/DropdownTheme.vue
  frontend/components/grid/GridFilterTags.vue
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/components/modal/upload-images/ModalUploadImagesFileDropZone.vue
  frontend/components/page/PageFilter.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/index.vue
Due: run-i18n-check, prettier-eslint-checks

upgrade vue-tsc and fix issue (#1382)
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/dropdown/DropdownTheme.vue
  frontend/components/grid/GridFilterTags.vue
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/components/modal/upload-images/ModalUploadImagesFileDropZone.vue
  frontend/components/page/PageFilter.vue
  frontend/package.json
  frontend/pages/organizations/[orgId]/groups/[groupId]/index.vue
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

Add logging to authentication test cases
  backend/authentication/tests/test_auth.py
Due: mypy-check

Add logging to authentication serializer tests
  backend/authentication/tests/test_serializers.py
Due: mypy-check

Fixes for i18n, styling for form components, minor formatting
  frontend/assets/css/tailwind.css
  frontend/components/Collapsable.vue
  frontend/components/card/CardTopicSelection.vue
  frontend/components/form/Form.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/text/FormTextInput.vue
  frontend/components/form/text/FormTextInputSearch.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
  frontend/pages/organizations/create.vue
  frontend/pages/resources/create.vue
Due: run-i18n-check, prettier-eslint-checks

Add logging to user flag creation tests
  backend/authentication/tests/flag/test_user_flag_create.py
Due: mypy-check

Add logging to user flag deletion tests
  backend/authentication/tests/flag/test_user_flag_delete.py
Due: mypy-check

WIP 597 sidebar filters (#1383)
  frontend/assets/css/tailwind.css
  frontend/components/Collapsable.vue
  frontend/components/card/CardMetricsOverview.vue
  frontend/components/card/CardTopicSelection.vue
  frontend/components/combobox/ComboboxTopics.vue
  frontend/components/form/Form.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorRadio.vue
  frontend/components/form/text/FormTextInput.vue
  frontend/components/form/text/FormTextInputSearch.vue
  frontend/components/shield/Shield.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/composables/useDebounce.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
  frontend/pages/organizations/create.vue
  frontend/pages/resources/create.vue
Due: run-i18n-check, prettier-eslint-checks

Add logging to user flag list test
  backend/authentication/tests/flag/test_user_flag_list.py
Due: mypy-check

Add logging to user flag retrieval tests
  backend/authentication/tests/flag/test_user_flag_retrieve.py
Due: mypy-check

Add logging to admin user and flag actions
  backend/authentication/admin.py
Due: mypy-check

Add logging to user and superuser creation
  backend/authentication/models.py
Due: mypy-check

Add logging to authentication serializers
  backend/authentication/serializers.py
Due: mypy-check

Add logging to authentication API views
  backend/authentication/views.py
Due: mypy-check

fix(menu): sync icon and text hover colors in dark mode (#1388)
  frontend/components/menu/MenuItemLabel.vue
  frontend/components/sidebar/left/SidebarLeftSelector.vue
Due: run-i18n-check, prettier-eslint-checks
