Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.2
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: python ./pre_commit_scripts/mypy_static_type_check.py
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check
        files: ^frontend/
        entry: python frontend/i18n/check/run_i18n_checks.py
        language: python
        pass_filenames: false

      - id: prettier-format-check
        name: run prettier formatting check
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_formatting_check.py
        language: python
        pass_filenames: false

      - id: eslint-lint-check
        name: run eslint static type check
        files: ^frontend/
        entry: python ./pre_commit_scripts/eslint_static_type_check.py
        language: python
        types_or: [javascript, ts, tsx, jsx, vue]
        pass_filenames: false

  # Note: Disabled as it breaks on TOC links.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       args: [-q]

updated PR notes
  backend/resume.md
Due: none

fix(events): ensure proper type for EventFaq.id lookup in update()
  backend/events/views.py
Due: mypy-check

chore: added form in events and added map and events list
  frontend/components/events/EventsList.vue
  frontend/components/events/EventsMap.vue
  frontend/components/form/FormViewSelector.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/components/sidebar/left/index/SidebarLeftIndexEvent.vue
  frontend/components/sidebar/left/index/SidebarLeftIndexOrganizationPage.vue
  frontend/composables/useClusterMap.ts
  frontend/composables/usePointerMap.ts
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/index.vue
  frontend/pages/home/index.vue
  frontend/types/icon-map.ts
  frontend/types/map.ts
  frontend/types/sidebar-type.ts
  frontend/utils/mapUtils.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix(groups): resolve mypy type errors in GroupAPIView
  backend/communities/groups/views.py
Due: mypy-check

update pr notes with correct n°7
  backend/resume.md
Due: none

fix: double media map file issue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/sidebar/left/SidebarLeft.vue
  frontend/composables/useClusterMap.ts
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

fix: double media map file issue
  frontend/components/media/MediaMap.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: i18n key fixes
  frontend/components/media/map/MediaMap.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix(groups): add return type annotations to GroupFlagViewSet methods
  backend/communities/groups/views.py
Due: mypy-check

updated PR with notes correc 8
  backend/resume.md
Due: none

fix(group-faq): cast id to UUID | str for mypy compatibility
  backend/communities/groups/views.py
Due: mypy-check

Prevent Plausible from collecting analytics on localhost
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

updated PR notes with correc 9
  backend/resume.md
Due: none

Fix attribute ordering and variable assignment
  frontend/components/card/discussion/CardDiscussionInput.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Add enable markdown to i18n keys and sort i18n jsons
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Fix i18n keys for new Markdown activation prompt
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check

markdown to WYSIWYG editor and vice versa (#1235)
  frontend/components/btn/action/BtnAction.vue
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/package.json
  frontend/pages/events/[eventId]/discussion.vue
  frontend/yarn.lock
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Sort French i18n keys
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

Translations update from Hosted Weblate (#1327)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

Remove repeat i18n keys
  frontend/i18n/de.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check

Fix Prettier issues
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/modal/ModalSharePage.vue
  frontend/components/modal/qr-code/ModalQRCode.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

default to write mode for markdown
  frontend/components/card/discussion/CardDiscussionInput.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

WIP updated groupfaq, adjusted populate_db
  .pre-commit-config.yaml
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/groups/views.py
  backend/core/management/commands/populate_db.py
Due: mypy-check

Re-order share options to suggested order
  frontend/components/modal/ModalSharePage.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Minor formatting and changing minimum rows in text editor to 3
  frontend/components/card/discussion/CardDiscussionInput.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

default to write mode for markdown (#1330)
  frontend/components/card/discussion/CardDiscussionInput.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Remove repeat i18n keys to fix check errors
  frontend/i18n/en-US.json
Due: run-i18n-check, prettier-format-check

Edits to share modal headers, texts and ordering
  frontend/components/SearchBar.vue
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/modal/ModalSharePage.vue
  frontend/components/modal/qr-code/ModalQRCode.vue
  frontend/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Make suggestions default to an empty string
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/modal/qr-code/ModalQRCodeBtn.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Pass empty strings to cancel out suggestions
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/card/CardDetails.vue
  frontend/components/card/about/CardAboutGroup.vue
  frontend/components/card/about/CardAboutOrganization.vue
  frontend/components/modal/ModalSharePage.vue
  frontend/components/modal/qr-code/ModalQRCodeBtn.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Move all share icons to the left of btn texts
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultGroup.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultOrganization.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultResource.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultUser.vue
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

backend dependency updates
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

django downgrade
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

workflow update and django update
  .github/workflows/pr_ci_backend.yaml
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

backend dependency updates (#1331)
  .github/workflows/pr_ci_backend.yaml
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

fix(views): finalize type annotation and ID casting in Organization views
  backend/communities/organizations/views.py
Due: mypy-check

add correc 10 in pr notes
  backend/resume.md
Due: none

set ignore_errors = false
  backend/pyproject.toml
Due: none

Fixes for i18n key-values
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check
