Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Minor change in wording of mentorship section in contributing
  CONTRIBUTING.md
Due: none

Remove Snyk related vscode extensions
  .gitignore
  .vscode/settings.json
Due: none

Update all backend dependencies
  backend/uv.lock
Due: none

Translated using Weblate (Spanish)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Spanish) (#1874)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

minor adjustments
  backend/events/models.py
  backend/events/serializers.py
Due: mypy-check

minor adjustments
  backend/events/serializers.py
Due: mypy-check

adjustments for prek
  CONTRIBUTING.md
  README.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: issues with paths and faq draggability
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/components/feed/Feed.vue
  frontend/app/components/meta-tag/MetaTagOrganization.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Fix for Prettier formatting
  frontend/app/components/card/CardFAQEntry.vue
Due: prettier-eslint-checks, run-i18n-check

Formatting of final files that need it
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Edits to mentorship section of contributing guide
  CONTRIBUTING.md
Due: none

adjustments for prek (#1875)
  CONTRIBUTING.md
  README.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: image upload issue, with proxy conversion
  frontend/app/composables/queries/useGetOrganizationImages.ts
  frontend/app/services/communities/group/image.ts
  frontend/app/services/communities/organization/image.ts
  frontend/app/services/http.ts
  frontend/server/api/media/images.ts
  frontend/server/api/media/images/communities/group/[id].ts
  frontend/server/api/media/images/communities/organization/[id].ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/queries/useGetOrganizationImages.ts
  frontend/app/services/communities/group/image.ts
  frontend/app/services/communities/organization/image.ts
  frontend/server/api/media/images.ts
  frontend/server/api/media/images/communities/group/[id].ts
  frontend/server/api/media/images/communities/organization/[id].ts
  frontend/server/api/public/[...path].ts
Due: prettier-eslint-checks, run-i18n-check

fix eslint issues
  frontend/app/services/communities/organization/image.ts
  frontend/server/api/media/images/communities/group/[id].ts
  frontend/server/api/media/images/communities/organization/[id].ts
Due: prettier-eslint-checks, run-i18n-check

fix eslint issues
  frontend/app/services/communities/organization/faq.ts
Due: prettier-eslint-checks, run-i18n-check

fix eslint issues
  frontend/app/services/communities/organization/organization.ts
Due: prettier-eslint-checks, run-i18n-check

Minor edits to the mentorship section of the contributing guide
  CONTRIBUTING.md
Due: none

Minor fix to pre-commit directions and update backend deployment dockerfile
  .github/workflows/check_dependency_updates.yaml
  CONTRIBUTING.md
  backend/deploy.Dockerfile
Due: none

Fix Prettier issues
  frontend/app/components/meta-tag/MetaTagDates.vue
  frontend/app/stores/machines/create-event.ts
Due: prettier-eslint-checks, run-i18n-check

Misc updates to formatting and comments
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/services/communities/group/image.ts
  frontend/server/api/media/images.ts
  frontend/server/api/media/images/communities/group/[id].ts
  frontend/server/api/media/images/communities/organization/[id].ts
  frontend/shared/types/auth.d.ts
Due: prettier-eslint-checks, run-i18n-check

group and org updates
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/events/models.py
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Fix routes in image upload vitest tests
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: image showing path
  frontend/nuxt.config.ts
  frontend/server/api/media/images/[image].ts
  frontend/server/api/media/images/communities/group/[id].ts
  frontend/server/api/media/images/communities/organization/[id].ts
Due: prettier-eslint-checks, run-i18n-check

fixed some mypy errors
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/events/models.py
  backend/events/serializers.py
Due: mypy-check

Remove unneeded comment from nuxt.config
  frontend/nuxt.config.ts
Due: prettier-eslint-checks, run-i18n-check

#1843 Update frontend dependencies given removal of nuxt-auth
  frontend/app/components/SearchBar.vue
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Add happy-dom back into dependencies and add .nuxtrc
  frontend/.nuxtrc
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

#1843 Update frontend dependencies given removal of nuxt-auth (#1879)
  frontend/.nuxtrc
  frontend/app/components/SearchBar.vue
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Major changes
  backend/assign_topics.py
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/components/filter/filterOrgs.vue
  frontend/app/components/header/app-page/HeaderAppPage.vue
  frontend/app/composables/useGetOrganizations.ts
  frontend/app/pages/organizations/index.vue
  frontend/app/types/index.ts
  frontend/nuxt.config.ts
  frontend/shared/types/organization.d.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

feat(frontend): clear query on path change via global middleware
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/middleware/clearQueryOnPathChange.global.ts
  frontend/shared/utils/routeUtils.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterEvents.spec.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterOrganization.spec.ts
  frontend/test/mocks/composableMocks.ts
  frontend/test/utils/routeUtils.spec.ts
  frontend/tsconfig.vitest.json
  frontend/vue-shim.d.ts
Due: prettier-eslint-checks, run-i18n-check

fix formatting
  frontend/tsconfig.vitest.json
Due: prettier-eslint-checks, run-i18n-check

fix eslint errors
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test/components/sidebar/filter/SidebarLeftFilterEvents.spec.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Russian)
  frontend/i18n/locales/ru.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Turkish)
  frontend/i18n/locales/tr.json
Due: prettier-eslint-checks, run-i18n-check

fix: fixes to make create group work
  backend/communities/groups/models.py
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/about/CardAboutOrganization.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/app/components/form/Form.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: tests and typing
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/events/EventsCalendar.vue
  frontend/app/components/form/FormListItem.vue
  frontend/app/composables/map/useClusterMap.ts
  frontend/shared/types/event.d.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
  frontend/test/mocks/data.ts
  frontend/test/utils/date.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: prettier
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/events/EventsCalendar.vue
  frontend/i18n/locales/en-US.json
  frontend/shared/types/event.d.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
  frontend/test/utils/date.spec.ts
Due: prettier-eslint-checks, run-i18n-check
