Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy . --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python ./pre_commit_scripts/prettier_eslint_checks.py
  language: python
  pass_filenames: false

Fix type error on social links ref
  frontend/components/modal/edit/ModalEditSocialLinks.vue
Due: run-i18n-check, prettier-eslint-checks

Updated ModalEditFaqEntry.vue to Use New Form Components (#1362)
  frontend/components/form/Form.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

added mock service get_session
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

Resolving failed checks
  backend/content/serializers.py
  backend/content/views.py
  backend/pyproject.toml
  backend/utils/malware_scan.py
Due: mypy-check

Modified views
  backend/content/views.py
Due: mypy-check

issue1369
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

Update capitalization of attribute
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

issue1369 (#1370)
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

added backend/confest.py with credential_auth, modify test_auth. todo fix type error
  backend/authentication/tests/test_auth.py
  backend/conftest.py
Due: mypy-check

front end useUser and token storage working with sign in
  backend/authentication/views.py
  frontend/composables/useUser.ts
  frontend/nuxt.config.ts
  frontend/pages/auth/sign-in.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix tests for authenticated client
  backend/authentication/tests/test_auth.py
Due: mypy-check

feat(tests): add authenticated_client fixture for authenticated API tests
  backend/conftest.py
Due: mypy-check

add docs fixture_test_schedule.md
  backend/summary_docs/fixture_test_schedule.md
Due: none

fix tests and added missing alert and took out unnecesary file
  frontend/nuxt.config.ts
  frontend/pages/auth/sign-in.vue
  frontend/stores/auth.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(tests): use authenticated_client fixture in test_org_flag_delete
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
Due: mypy-check

refactor(tests): use authenticated_client fixture in events API tests
  backend/events/tests/test_event_api.py
Due: mypy-check

Backend dependency update
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

Backend dependency update (#1378)
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

feat(tests): add reusable fixture for authenticated API tests
  backend/conftest.py
Due: mypy-check

refactor(tests): use fixture in
  backend/authentication/tests/test_auth.py
Due: mypy-check

minor adjustments to the try except flow
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

refactor(tests): apply fixture in
  backend/events/tests/test_event_api.py
Due: mypy-check

Minor formatting updates for view
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

refactor(tests): use fixture in
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
Due: mypy-check

adjusted tests
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/groups/views.py
Due: mypy-check

test(org_flag): split delete tests for flag into dedicated cases
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
Due: mypy-check

moved group query inside the serializer and fix the mypy error
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
Due: mypy-check

Update ModalAddFAQEntry to use new form component and i18n fixes
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/events/[eventId]/resources.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/pages/organizations/[orgId]/resources.vue
Due: run-i18n-check, prettier-eslint-checks

chore: disabled sign in unit test and added more sign in e2e tests
  frontend/pages/auth/sign-in.vue
  frontend/stores/event.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test/pages/auth/sign-in.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix nuxt type check
  frontend/composables/useUser.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix nuxt type check
  frontend/stores/event.ts
Due: run-i18n-check, prettier-eslint-checks

modify .gitignore
  .gitignore
  backend/summary_docs/fixture_test_schedule.md
Due: none

fix(frontend):fix end-to-end testing
  frontend/utils/i18n.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):fix comment
  frontend/test/pages/auth/sign-in.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Minor formatting changes
  backend/authentication/factories.py
  backend/authentication/serializers.py
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix(frontend):fix nuxt type check
  frontend/utils/i18n.ts
Due: run-i18n-check, prettier-eslint-checks

Fix for shrink labal and add v-slot values to all text inputs
  frontend/components/form/FormTemplate.vue
  frontend/components/form/text/FormTextInput.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
  frontend/pages/organizations/create.vue
Due: run-i18n-check, prettier-eslint-checks

WIP 1359 user session management (#1371)
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/urls.py
  backend/authentication/views.py
  frontend/components/form/FormTemplate.vue
  frontend/components/form/text/FormTextInput.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/composables/useAuth.ts
  frontend/composables/useUser.ts
  frontend/modules.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
  frontend/pages/organizations/create.vue
  frontend/stores/auth.ts
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test/pages/auth/sign-in.spec.ts
  frontend/utils/i18n.ts
  frontend/yarn.lock
Due: mypy-check, run-i18n-check, prettier-eslint-checks

added python required python version to pyproject.toml
  backend/pyproject.toml
Due: none

added python required python version to pyproject.toml (#1381)
  backend/pyproject.toml
Due: none

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
