Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: python ./pre_commit_scripts/mypy_static_type_check.py
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check
        files: ^frontend/
        entry: python frontend/i18n/check/run_i18n_checks.py
        language: python
        pass_filenames: false

      - id: prettier-format-check
        name: run prettier formatting check
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_formatting_check.py
        language: python
        pass_filenames: false

      - id: eslint-lint-check
        name: run eslint static type check
        files: ^frontend/
        entry: python ./pre_commit_scripts/eslint_static_type_check.py
        language: python
        types_or: [javascript, ts, tsx, jsx, vue]
        pass_filenames: false

  # Note: Disabled as it breaks on TOC links.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       args: [-q]

  # SkyWalking Eyes License header check (https://github.com/apache/skywalking-eyes).
  # -   repo: local
  #     hooks:
  #     - id: license-check
  #       name: license-check
  #       language: docker_image
  #       entry: --rm apache/skywalking-eyes:0.7.0 --config .licenserc.yaml header check
  #       types_or: [python, ts, javascript, vue, css]
  #       exclude_types: [directory, wsgi]

677 feature add clusters map to home page (#1268)
  frontend/components/media/MediaMap.vue
  frontend/composables/useClusterMap.ts
  frontend/composables/useMap.ts
  frontend/composables/usePointerMap.ts
  frontend/composables/useRoutingMap.ts
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/home/index.vue
  frontend/types/events/event.d.ts
  frontend/types/map.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Update workflow for dependency checks
  .github/workflows/check_dependency_updates.yaml
Due: none

django parser
  backend/utils/type_checker/django_parser.py
Due: mypy-check

ts parser
  backend/utils/type_checker/typescript_parser.py
Due: mypy-check

cli
  backend/utils/type_checker/cli.py
Due: mypy-check

other
  backend/utils/type_checker.py
  backend/utils/type_checker/__init__.py
  backend/utils/type_checker/__main__.py
  backend/utils/type_checker/checker.py
  backend/utils/type_checker/utils.py
Due: mypy-check

Remove non-dev req install and header to section
  .github/workflows/check_dependency_updates.yaml
Due: none

Update workflow for dependency checks (#1293)
  .github/workflows/check_dependency_updates.yaml
Due: none

centralize function to edit faq
  backend/content/urls.py
  backend/content/views.py
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/stores/content.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

fixed type
  frontend/components/card/CardFAQEntry.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

changed old functions to use the new faq store (+some formatting)
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

Updated FAQ store functions + added a reload function
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Formatting of files and output + remove unneeded mypy setting
  backend/pyproject.toml
  backend/utils/type_checker/__init__.py
  backend/utils/type_checker/__main__.py
  backend/utils/type_checker/checker.py
  backend/utils/type_checker/cli.py
  backend/utils/type_checker/django_parser.py
  backend/utils/type_checker/typescript_parser.py
  backend/utils/type_checker/utils.py
Due: mypy-check

Fix ignore of type checker files in cover report
  backend/pyproject.toml
Due: none

Actually fix the type checker being ignored in cover
  backend/pyproject.toml
Due: none

event flags
  backend/communities/admin.py
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/test_event_flag_create.py
  backend/events/tests/test_event_flag_delete.py
  backend/events/tests/test_event_flag_list.py
  backend/events/tests/test_event_flag_retrieve.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

added license headers
  backend/events/tests/test_event_flag_create.py
  backend/events/tests/test_event_flag_delete.py
  backend/events/tests/test_event_flag_list.py
  backend/events/tests/test_event_flag_retrieve.py
Due: mypy-check

Added "add FAQ" functionality + i18n changes
  backend/content/views.py
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/content.ts
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

Backend testing docs + move files to sub dir + add comments
  BACKEND_TESTING.md
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/groups/tests/test_group_api.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/organizations/tests/test_org_api.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_update.py
  backend/core/tests/unit/test_throttling.py
  backend/events/tests/flag/test_event_flag_create.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_delete.py
  backend/events/tests/test_event_update.py
Due: mypy-check

Event Flag model and related code. (#1295)
  BACKEND_TESTING.md
  backend/communities/admin.py
  backend/communities/groups/models.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/groups/tests/test_group_api.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/organizations/tests/test_org_api.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_update.py
  backend/core/tests/unit/test_throttling.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/flag/test_event_flag_create.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_update.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

flags for resource
  backend/communities/groups/models.py
  backend/content/admin.py
  backend/content/factories.py
  backend/content/models.py
  backend/content/serializers.py
  backend/content/tests/resource_flag/test_resource_flag_create.py
  backend/content/tests/resource_flag/test_resource_flag_delete.py
  backend/content/tests/resource_flag/test_resource_flag_list.py
  backend/content/tests/resource_flag/test_resource_flag_retrieve.py
  backend/content/urls.py
  backend/content/views.py
Due: mypy-check

renaming of files to adhere to the standards discussed
  backend/communities/groups/tests/test_group_event.py
  backend/communities/organizations/tests/test_org_event.py
  backend/communities/organizations/tests/test_org_list_image.py
  backend/communities/organizations/tests/test_org_social_link.py
  backend/content/tests/test_faq.py
  backend/content/tests/test_social_link.py
  backend/events/tests/test_event_social_link.py
Due: mypy-check

Update test formatting and make more dirs
  backend/communities/groups/tests/test_group_str_methods.py
  backend/communities/organizations/tests/test_org_status_str_methods.py
  backend/communities/organizations/tests/test_org_str_methods.py
  backend/communities/tests.py
  backend/core/management/commands/populate_db.py
  backend/events/tests/test_event_str_methods.py
  backend/events/tests/text/test_event_text_str_methods.py
Due: mypy-check

Update exit message and fully document all functions/classes
  backend/pyproject.toml
  backend/utils/type_checker/checker.py
  backend/utils/type_checker/cli.py
  backend/utils/type_checker/django_parser.py
  backend/utils/type_checker/typescript_parser.py
  backend/utils/type_checker/utils.py
Due: mypy-check

Script to compare backend models field vs it's corresponding frontend type fields. (#1194)
  backend/pyproject.toml
  backend/utils/type_checker/__init__.py
  backend/utils/type_checker/__main__.py
  backend/utils/type_checker/checker.py
  backend/utils/type_checker/cli.py
  backend/utils/type_checker/django_parser.py
  backend/utils/type_checker/typescript_parser.py
  backend/utils/type_checker/utils.py
Due: mypy-check

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (French) (#1297)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

added pre-commit hook for spdx_checker
  .pre-commit-config.yaml
Due: none

Expand text of the security notice for the repo
  SECURITY.md
Due: none

Update pre-commit to run fe checks only on staged files
  .pre-commit-config.yaml
  frontend/.lintstagedrc
  frontend/package.json
  frontend/yarn.lock
  pre_commit_scripts/mypy_check.py
  pre_commit_scripts/prettier_eslint_checks.py
  pre_commit_scripts/prettier_formatting_check.py
Due: run-i18n-check, prettier-format-check

Remove commented out old check and update name
  .pre-commit-config.yaml
Due: none

Minor update to security notice prompt text
  SECURITY.md
Due: none

bump up the version for the pre-commit hook
  .pre-commit-config.yaml
Due: none

minor changes
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/groups/views.py
  backend/core/permissions.py
Due: mypy-check

Move file to fix merge conflict
  backend/communities/groups/tests/social_link/__init__.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
Due: mypy-check

Minor edits to spacing and docstrings
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/views.py
  backend/core/permissions.py
Due: mypy-check

Fix backend Python test message assertion
  backend/communities/groups/tests/test_group_update.py
Due: mypy-check

Added custom permission in groups for api write operation (#1287)
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/groups/views.py
  backend/core/permissions.py
Due: mypy-check
