Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix(frontend): translate edit and delete icon labels for screen readers (#2206)
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix i18n checks
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/pages/organizations/index.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix i18n checks
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix prettier and i18n-check
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/pages/organizations/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
Due: prettier-eslint-checks, run-i18n-check

Fix mobile org location filter (#2188)
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/pages/organizations/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/uk.json
  frontend/i18n/locales/zh-Hans.json
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
  frontend/test-e2e/specs/all/create-flows/organization-create-modal.spec.ts
  frontend/test-e2e/specs/all/events/events-create/events-create-location-step.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-create/organizations-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix static analysis tests
  backend/communities/organizations/views.py
  backend/communities/urls.py
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/form/text/FormTextInputSearch.vue
  frontend/app/services/communities/organization/event.ts
  frontend/app/stores/data/organization.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

added tests on backend
  backend/communities/organizations/tests/event/tests_org_events_retrieve.py
  backend/communities/organizations/views.py
Due: mypy-check

added tests on backend
  backend/communities/organizations/tests/event/tests_org_events_retrieve.py
Due: mypy-check

fix backend tests
  backend/communities/organizations/tests/event/tests_org_events_retrieve.py
Due: mypy-check

fix backend tests
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
Due: mypy-check

Translated using Weblate (Chinese (Simplified Han script))
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (German)
  frontend/i18n/locales/de.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2223)
  frontend/i18n/locales/de.json
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

pytest officialy working
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
Due: mypy-check

added unit tests files and fixed tests
  frontend/test/components/form/dateTime/FormDateTimeInput.spec.ts
  frontend/test/components/form/text/FormTextInputSearch.spec.ts
  frontend/test/services/communities/organization/event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): resolve duplicate cards issue on events and organizations lists (#2204)
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): show add resource/faq buttons for organization creators (#2202)
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

Fix group selector pagination in create event
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
  frontend/app/composables/queries/useGetGroups.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Spanish)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Fix alt text punctuation
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2227)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Minor fixes to zh and ts warnings with new script block
  backend/communities/organizations/views.py
  frontend/app/components/form/dateTime/FormDateTimeInput.vue
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/[orgId]/events.vue
  frontend/app/pages/organizations/index.vue
  frontend/i18n/locales/zh-Hans.json
  frontend/test/components/form/dateTime/FormDateTimeInput.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Fix of labels for org event date filters
  frontend/app/components/form/dateTime/FormDateTimeInput.vue
Due: prettier-eslint-checks, run-i18n-check

Add aria-labelledby for e2e testing for org event filtering
  frontend/app/components/form/dateTime/FormDateTimeInput.vue
  frontend/app/pages/organizations/[orgId]/events.vue
Due: prettier-eslint-checks, run-i18n-check

Filters page (#2189)
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  frontend/app/components/card/CardMetricsOverview.vue
  frontend/app/components/form/dateTime/FormDateTimeInput.vue
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/form/text/FormTextInputSearch.vue
  frontend/app/components/header/app-page/HeaderAppPageList.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/shield/Shield.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/composables/queries/index.ts
  frontend/app/composables/queries/useGetOrganizationEvents.ts
  frontend/app/composables/useGetLabelByKeyFilter.ts
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/[orgId]/events.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/event.ts
  frontend/app/services/communities/organization/index.ts
  frontend/app/stores/data/organization.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
  frontend/i18n/locales/zh-Hans.json
  frontend/test/components/form/dateTime/FormDateTimeInput.spec.ts
  frontend/test/components/form/text/FormTextInputSearch.spec.ts
  frontend/test/services/communities/organization/event.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Update BE dependencies to prep for full dep update
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
  services/filescan/pyproject.toml
  services/filescan/uv.lock
Due: none

Update complexipy snapshot
  backend/complexipy-snapshot.json
Due: none

Update BE dependencies to prep for full dep update (#2228)
  .pre-commit-config.yaml
  backend/complexipy-snapshot.json
  backend/pyproject.toml
  backend/uv.lock
  services/filescan/pyproject.toml
  services/filescan/uv.lock
Due: none

Translations update from Hosted Weblate (#2230)
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Prettier fixes
  frontend/app/components/card/CardMetricsOverview.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/composables/queries/useGetEvents.ts
  frontend/shared/types/http.d.ts
  frontend/test/components/form/selector/FormSelectorCombobox.spec.ts
  frontend/test/components/form/selector/FormSelectorRadio.spec.ts
  frontend/test/components/menu/MenuSearchResult.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Final prettier fixes
  frontend/applyMiddleware.ts
Due: prettier-eslint-checks, run-i18n-check

Remove function in another function
  frontend/applyMiddleware.ts
Due: prettier-eslint-checks, run-i18n-check

Update node and set explicit version in workflows
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/dependency_update_check.yaml
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

sudo corepack in workflows
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/dependency_update_check.yaml
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Remove sudo from yarn install
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
Due: none

Edits to e2e tests to use correct Node
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
Due: none

Update dependency resolutions
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
