Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fixes i18n check
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
Due: prettier-eslint-checks, run-i18n-check

updated spdx-checker-pre-commit version with .vue comment style fix
  .pre-commit-config.yaml
Due: none

Update license header workflow to use spdx_checker
  .github/workflows/ci_license_header_check.yaml
  .github/workflows/ci_spdx_license_header_check.yaml
Due: none

Remove unneeded .licenserc.yaml
  .licenserc.yaml
Due: none

Add missing comma to exclude field
  .github/workflows/ci_spdx_license_header_check.yaml
Due: none

fixes unit tests
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fixes on format
  frontend/test/components/sidebar/filter/SidebarLeftFilterOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fixes on format
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

updated actions version and fixed args error
  .github/workflows/ci_spdx_license_header_check.yaml
Due: none

test file
  backend/test.py
Due: mypy-check

updated action version
  .github/workflows/ci_spdx_license_header_check.yaml
Due: none

removed test file
  backend/test.py
Due: mypy-check

Simplify license header ci exclusions
  .github/workflows/ci_spdx_license_header_check.yaml
Due: none

updated spdx-checker-pre-commit version with .vue comment style fix (#2087)
  .github/workflows/ci_license_header_check.yaml
  .github/workflows/ci_spdx_license_header_check.yaml
  .licenserc.yaml
  .pre-commit-config.yaml
Due: none

#2051 Further work on filescan docs
  .github/workflows/ci_spdx_license_header_check.yaml
  services/filescan/README.md
Due: none

Remove notificaion/email service
  services/notification/email/.gitkeep
Due: none

Update dependencies in backend and filescan
  backend/pyproject.toml
  backend/uv.lock
  services/filescan/pyproject.toml
  services/filescan/uv.lock
Due: none

Add security vulnerability reporting section
  CONTRIBUTING.md
Due: none

test: add comprehensive unit tests for useDebounce composable
  frontend/test/composables/useDebounce.spec.ts
Due: prettier-eslint-checks, run-i18n-check

remove async tests
  frontend/test/composables/useDebounce.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Nuxt environment addition
  frontend/test/composables/useDebounce.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Nuxt environment errors
  frontend/test/composables/useDebounce.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Add Dev.to promotion suggestion in README
  README.md
Due: none

test: add backend pytest checks and e2e smoke flow
  BACKEND_TESTING.md
  backend/core/settings.py
  backend/core/test_settings.py
  backend/pyproject.toml
  backend/tests/test_api.py
  backend/tests/test_models.py
  frontend/test-e2e/specs/all/smoke/smoke-user-flows.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

feat: replace password strength labels with crack time display
  frontend/app/components/indicator/IndicatorPasswordStrength.vue
  frontend/i18n/locales/en-US.json
  frontend/test-e2e/component-objects/PasswordStrength.ts
Due: prettier-eslint-checks, run-i18n-check

organization form fix
  frontend/app/pages/organizations/create.vue
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for useDebounce composable
  frontend/test/composables/useDebounce.spec.ts
Due: prettier-eslint-checks, run-i18n-check

useDebounce test (#2092)
  frontend/test/composables/useDebounce.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (English (United States))
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Spanish)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2095)
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Fix modal render + pass filename to code download
  frontend/app/components/btn/action/BtnActionDropdown.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/components/modal/ModalSharePage.vue
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/composables/useQRCode.ts
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
Due: prettier-eslint-checks, run-i18n-check

Minor spacing fix
  backend/communities/organizations/serializers.py
Due: mypy-check

General improvements (#2086)
  backend/communities/organizations/filters.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/content/factories.py
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterOrganization.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix testing
  frontend/test-e2e/component-objects/QRCodeModal.ts
  frontend/test/components/modal/ModalBase.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix testing
  frontend/test-e2e/component-objects/QRCodeModal.ts
Due: prettier-eslint-checks, run-i18n-check

e2e fix
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-qr-code.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix name for QR code modal
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/test-e2e/component-objects/QRCodeModal.ts
Due: prettier-eslint-checks, run-i18n-check

Add ModalQRCode to list pages + remove layout
  frontend/app/components/menu/MenuSearchResult.vue
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/group/GroupList.vue
  frontend/app/layouts/organization/OrganizationList.vue
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
