Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

style(frontend): fix prettier formatting in landing page CTA specs
  frontend/test-e2e/specs/desktop/landing-page/landing-page-features-cta.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-features-cta.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update backend dependencies - prod and dev
  backend/pyproject.toml
  backend/uv.lock
Due: none

Update complexipy snapshot
  backend/complexipy-snapshot.json
Due: none

Update backend dependencies - prod and dev (#2297)
  backend/complexipy-snapshot.json
  backend/pyproject.toml
  backend/uv.lock
Due: none

test: cover unauthorized group FAQ creation
  backend/communities/groups/tests/faq/test_group_faq_create.py
Due: mypy-check

test(backend): add missing 403 forbidden and 401 unauthorized test cases for group FAQ creation (#2298)
  backend/communities/groups/tests/faq/test_group_faq_create.py
Due: mypy-check

test: rename Group FAQ unauthorized test
  backend/communities/groups/tests/faq/test_group_faq_create.py
Due: mypy-check

refactor(frontend): migrate useGroupFAQEntryMutations to useMutation
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): de-flake the events pagination filter-reset spec
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): render the social link form only once the links have loaded
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): assert the pagination reset on the request, not the card count
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): render the event social link form only once the links have loaded
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/test-e2e/specs/all/events/event-about/event-about-social-links.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useGroupTextsMutations to useMutation
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/test/composables/mutations/useGroupTextsMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useOrganizationResourcesMutations to useMutation
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useGroupResourcesMutations to useMutation
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useOrganizationTextsMutations to useMutation
  frontend/app/components/modal/text/ModalTextOrganization.vue
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/test/composables/mutations/useOrganizationTextsMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): keep the event text modal open when the save fails
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/test-e2e/specs/all/events/event-about/event-about-content.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: implement calendar .ics download for single events
  frontend/app/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/app/pages/events/[eventId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

test(frontend): add specs for the entity create mutations
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/test/composables/mutations/useEventMutations.spec.ts
  frontend/test/composables/mutations/useGroupMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useGroupImageMutations to useMutation
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/app/composables/cache/useGroupCache.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/test/composables/mutations/useGroupImageMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): reduce useFileManager to local file state
  frontend/app/components/image/ImageMultipleFileDropZone.vue
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/useFileManager.ts
  frontend/test/composables/useFileManager.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate image reads to useQuery
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/composables/queries/useGetOrganizationImages.ts
  frontend/test/composables/queries/integration/useGetGroupImages.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizationImages.integration.spec.ts
  frontend/test/composables/queries/useGetGroupImages.spec.ts
  frontend/test/composables/queries/useGetOrganizationImages.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useOrganizationImageMutations to useMutation
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/app/composables/cache/useOrganizationCache.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: cover unauthorized group FAQ creation (#2299)
  backend/communities/groups/tests/faq/test_group_faq_create.py
Due: mypy-check

Add pytest markers to pyproject.toml and update be dependencies
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

Dep update: Don't install dependencies <7d old
  .github/workflows/dependency_update_check.yaml
Due: none

Update Yarn to 4.18.0 for dependency update workflow
  .github/workflows/dependency_update_check.yaml
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Dependency update workflow: Only show pytest failures
  .github/workflows/dependency_update_check.yaml
Due: none

feat(frontend): connect single-event calendar actions to download .ics export endpoint (#2301)
  frontend/app/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/app/composables/useDownloadEventCalendar.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/services/event/event.ts
  frontend/test/composables/useDownloadEventCalendar.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Dependency update workflow: Disable pytest warnings
  .github/workflows/dependency_update_check.yaml
Due: none

Dependency update workflow: Fixes for quiet pytest output
  .github/workflows/dependency_update_check.yaml
Due: none

Dependency update workflow: Run Vitest sequentially
  .github/workflows/dependency_update_check.yaml
Due: none

Remove unneeded --run from Vitest command in package.lock
  .github/workflows/dependency_update_check.yaml
  frontend/package.json
Due: prettier-eslint-checks, run-i18n-check

Dependency update workflow: Switch reporter to dot for Vitest
  .github/workflows/dependency_update_check.yaml
Due: none

Update GitHub maintenance message workflow
  .github/workflows/maintenance_messages.yaml
Due: none

fix(ci): remove --silent flag from Vitest invocation in dependency update workflow (#2309)
  .github/workflows/dependency_update_check.yaml
Due: none

fix: remove invalid --silent=passed-only flag from Vitest CI command
  .github/workflows/dependency_update_check.yaml
Due: none

feat(frontend): integrate Nuxt useAnnouncer for accessibility live region announcements (#2070)
  frontend/app/components/modal/ModalProvider.vue
  frontend/app/composables/generic/useToaster.ts
Due: prettier-eslint-checks, run-i18n-check

Switch silent='passed-only' - string argument
  .github/workflows/dependency_update_check.yaml
Due: none

fix: remove invalid --silent=passed-only flag from Vitest CI command (#2312)
  .github/workflows/dependency_update_check.yaml
Due: none
