Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

test(wait_for_db): add pytest tests for wait_for_db command (#1491)
  .pre-commit-config.yaml
  backend/core/tests/__init__.py
  backend/core/tests/conftest.py
  backend/core/tests/test_clear_dev_images.py
  backend/core/tests/test_swagger.py
  backend/core/tests/test_throttling.py
  backend/tests/__init__.py
  backend/tests/test_database_wait_for_db_command.py
Due: mypy-check

Bring in i18n files from main
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Fix all i18n errors given component changes
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/test-e2e/specs/desktop/events-page.spec.ts
  frontend/test-e2e/specs/mobile/events-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Refactor CardSearchResult and other components - remove isPrivate
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/components/card/search-result/CardSearchResultResource.vue
  frontend/components/card/search-result/CardSearchResultUser.vue
Due: run-i18n-check, prettier-eslint-checks

Feature/refactor card search result component (#1478)
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/components/card/search-result/CardSearchResultResource.vue
  frontend/components/card/search-result/CardSearchResultUser.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/test-e2e/specs/desktop/events-page.spec.ts
  frontend/test-e2e/specs/mobile/events-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Code and comment refactoring across create files and store methods
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
  frontend/pages/organizations/create.vue
  frontend/pages/resources/create.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

Remove hardcoded created_by UUID from create functions (#1501)
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
  frontend/pages/organizations/create.vue
  frontend/pages/resources/create.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

Update urls to use plural standard. (#1486)
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/urls.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/urls.py
  backend/content/tests/resource/resource_flag/test_resource_flag_create.py
  backend/content/tests/resource/resource_flag/test_resource_flag_delete.py
  backend/content/tests/resource/resource_flag/test_resource_flag_list.py
  backend/content/tests/resource/resource_flag/test_resource_flag_retrieve.py
  backend/content/urls.py
  backend/events/tests/flag/test_event_flag_create.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
  backend/events/urls.py
Due: mypy-check

Added fix of an issue in frontend/stores/group.ts at line 481
  frontend/stores/group.ts
Due: run-i18n-check, prettier-eslint-checks

Added fix of an issue in frontend/composables/useClusterMap.ts
  frontend/composables/useClusterMap.ts
Due: run-i18n-check, prettier-eslint-checks

test: add comprehensive test coverage for email verification GET endpoint
  backend/authentication/tests/test_auth_email_verification_get.py
Due: mypy-check

Added fix of an issue in frontend/tailwind.comfig.ts-line-66
  frontend/tailwind.config.ts
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French) (#1509)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

fix: fix i18n keys
  frontend/components/card/CardResource.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityUser.vue
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/components/card/search-result/CardSearchResultResource.vue
  frontend/components/card/search-result/CardSearchResultUser.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

fix: deleted unnecesary files
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/components/card/search-result/CardSearchResultResource.vue
  frontend/components/card/search-result/CardSearchResultUser.vue
Due: run-i18n-check, prettier-eslint-checks

fix: fix i18n keys
  frontend/components/card/CardResource.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityUser.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

fix: fix i18n keys
  frontend/test-e2e/specs/desktop/events-page.spec.ts
  frontend/test-e2e/specs/mobile/events-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix: prittier and eslint
  frontend/components/card/CardResource.vue
  frontend/components/card/search-result-entity/CardSearchResultEntity.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityUser.vue
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/modal/resource/ModalResourceEvent.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/pages/events/[eventId]/resources.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/pages/organizations/index.vue
  frontend/types/content/resource.d.ts
Due: run-i18n-check, prettier-eslint-checks

fix: prittier, eslint and typecheck
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

fix: prittier, eslint and typecheck
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
Due: run-i18n-check, prettier-eslint-checks

fix: handle invalid UUID validation in email verification GET endpoint
  backend/authentication/views.py
Due: mypy-check

fix: update test expectations to match API status codes
  backend/authentication/tests/test_auth_email_verification_get.py
Due: mypy-check

Minor formatting and standardization of use of i18n in scripts
  frontend/components/card/CardResource.vue
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/components/card/search-result-entity/CardSearchResultEntityUser.vue
  frontend/components/combobox/ComboboxTopics.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useMap.ts
  frontend/composables/useRoutingMap.ts
  frontend/utils/groupSubPages.ts
Due: run-i18n-check, prettier-eslint-checks

Minor styling for resource card
  frontend/components/card/CardResource.vue
Due: run-i18n-check, prettier-eslint-checks

fix: replace empty arrow function with nullable guard to satisfy lint rule (#1494)
  frontend/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

Update i18n-check to 1.11.0 for fixes for Windows users
  backend/requirements-dev.txt
Due: none

fixed formatting and localization issues with event subpages e2e tests
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fixed formatting
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fixed inexisting i18n key
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix: resources issues reorderind¿g + topics is not required + formcombobox breaking fixed
  backend/content/models.py
  backend/events/serializers.py
  frontend/components/card/CardResource.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/modal/resource/ModalResourceEvent.vue
  frontend/components/modal/resource/ModalResourceGroup.vue
  frontend/components/modal/resource/ModalResourceOrganization.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore: filters for events and organization front and back done
  backend/communities/organizations/factories.py
  backend/communities/organizations/filters.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/core/settings.py
  backend/events/factories.py
  backend/events/filters.py
  backend/events/views.py
  backend/requirements-dev.txt
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/layouts/event/EventList.vue
  frontend/layouts/organization/OrganizationList.vue
  frontend/stores/event.ts
  frontend/stores/organization.ts
  frontend/types/communities/organization.d.ts
  frontend/types/events/event.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore: fix typescript and popalution of db for topics
  backend/communities/organizations/factories.py
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  backend/events/filters.py
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix: fix headers
  backend/communities/organizations/filters.py
  backend/events/filters.py
Due: mypy-check

fix:prettier on front
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/stores/event.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

fix:ruff
  backend/communities/organizations/factories.py
  backend/communities/organizations/filters.py
  backend/communities/organizations/views.py
  backend/events/factories.py
  backend/events/filters.py
  backend/events/views.py
Due: mypy-check

fix:mypy
  backend/requirements.txt
Due: none

fix:mypy
  backend/events/filters.py
Due: mypy-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
