Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check
          - packaging

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Update urls to use plural standard.
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/urls.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/urls.py
  backend/content/tests/resource/resource_flag/test_resource_flag_create.py
  backend/content/tests/resource/resource_flag/test_resource_flag_delete.py
  backend/content/tests/resource/resource_flag/test_resource_flag_list.py
  backend/content/tests/resource/resource_flag/test_resource_flag_retrieve.py
  backend/content/urls.py
  backend/events/tests/flag/test_event_flag_create.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
  backend/events/urls.py
Due: mypy-check

fix: fix backend tests
  backend/content/tests/topic/test_topic_serialzers.py
  backend/content/tests/topic/test_topic_str_methods.py
Due: mypy-check

fix: fix backend tests
  backend/content/factories.py
Due: mypy-check

created spec file
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

docs: update local backend setup commands in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: update local backend setup commands in CONTRIBUTING.md (#1487)
  CONTRIBUTING.md
Due: none

Minor updates to marks, comments and formatting
  backend/communities/groups/views.py
  backend/events/views.py
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Format topic tag selection when in combobox in forms
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
Due: run-i18n-check, prettier-eslint-checks

Fix typos in documentation and urls.py
  BACKEND_TESTING.md
  backend/core/urls.py
Due: mypy-check

Fix typos in documentation and urls.py (#1490)
  BACKEND_TESTING.md
  backend/core/urls.py
Due: mypy-check

added modal and sidebar tests
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test(wait_for_db): add pytest tests for wait_for_db command
  backend/core/tests/unit/test_database_wait_for_db_command.py
Due: mypy-check

rename error to detail error messages returned by backend
  backend/communities/groups/views.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/views.py
  backend/events/views.py
Due: mypy-check

TEST: Added tests for communities organizations serializers
  backend/communities/organizations/tests/resource/test_org_resource_serializer.py
  backend/content/tests/social_link/test_social_link.py
Due: mypy-check

fix: replace empty arrow function with nullable guard to satisfy lint rule
  frontend/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

Added fix of an issue in frontend/nuxt.config.ts at line 175
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

Update session serializer, url, config and minor fixes
  backend/authentication/serializers.py
  backend/authentication/urls.py
  backend/communities/organizations/tests/test_org_api.py
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
  frontend/composables/useUser.ts
  frontend/nuxt.config.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Misc i18n fixes and ignoring some of the checks
  .i18n-check.yaml
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

added hydration and accessibility testing
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Update nuxt config to fix prettier
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

Added fix of an issue in frontend/nuxt.config.ts at line 175 (#1495)
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

removed hard coded ID
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

feat(social-links): preserve inputs when dragging newly added links; smarter resets and mapping (#1470)
  frontend/components/form/FormSocialLink.vue
Due: run-i18n-check, prettier-eslint-checks

moved logic from the main card-search-result component
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/components/card/search-result/CardSearchResultResource.vue
  frontend/components/card/search-result/CardSearchResultUser.vue
Due: run-i18n-check, prettier-eslint-checks

Add file for Turkish localizations as requested by the community
  frontend/i18n/tr.json
Due: run-i18n-check, prettier-eslint-checks

TEST: Added tests for communities organizations serializers (#1493)
  backend/communities/organizations/tests/resource/test_org_resource_serializer.py
  backend/content/tests/social_link/test_social_link.py
Due: mypy-check

rename error to detail error messages returned by backend (#1492)
  backend/communities/groups/views.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/views.py
  backend/events/views.py
Due: mypy-check

refactor: streamline payload creation and include authenticated user ID in create functions
  frontend/pages/groups/create.vue
  frontend/pages/resources/create.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

fix: explicitly type total to avoid false S4138 warning
  frontend/composables/useClusterMap.ts
Due: run-i18n-check, prettier-eslint-checks

refactor: replace index-based for loop with for-of loop for readability
  frontend/composables/useClusterMap.ts
Due: run-i18n-check, prettier-eslint-checks

updated/revised status codes
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

fix: test assertions to match the revised status codes
  backend/communities/groups/tests/test_group_api.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/organizations/tests/test_org_api.py
  backend/events/tests/test_event_api.py
Due: mypy-check

Fix: code smells string not concatenated (#1502)
  frontend/composables/useClusterMap.ts
Due: run-i18n-check, prettier-eslint-checks

updated/revised status codes (#1503)
  backend/authentication/views.py
  backend/communities/groups/tests/test_group_api.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/test_org_api.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/tests/test_event_api.py
  backend/events/views.py
Due: mypy-check

Fix license header and formatting for test file
  backend/core/tests/unit/test_database_wait_for_db_command.py
Due: mypy-check

refactor: remove created_by from payload; rely on backend to infer from authenticated request
  frontend/pages/groups/create.vue
  frontend/pages/resources/create.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

Move tests - wait for db needs to be last + numpydoc ignore
  .pre-commit-config.yaml
  backend/core/tests/__init__.py
  backend/core/tests/conftest.py
  backend/core/tests/test_clear_dev_images.py
  backend/core/tests/test_swagger.py
  backend/core/tests/test_throttling.py
  backend/tests/__init__.py
  backend/tests/test_database_wait_for_db_command.py
Due: mypy-check
