Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

mypy-check:
  name: run mypy static type checking
  entry: python ./pre_commit_scripts/mypy_static_type_check.py
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check
  entry: python frontend/i18n/check/run_i18n_checks.py
  language: python
  pass_filenames: false

prettier-format-check:
  name: run prettier formatting check
  entry: python ./pre_commit_scripts/prettier_formatting_check.py
  language: python
  pass_filenames: false

eslint-lint-check:
  name: run eslint static type check
  entry: python ./pre_commit_scripts/eslint_static_type_check.py
  language: python
  pass_filenames: false

Minor spacing and comment fixes
  frontend/components/form/FormViewSelector.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/pages/auth/reset-password.vue
  frontend/pages/auth/set-password.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Changes for linting errors
  frontend/test-e2e/example.spec.ts
  frontend/test-e2e/specs/all/organizations-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations-page.spec.ts
  tests-examples/demo-todo-app.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: double layering in sidebar
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Move filter sidebar to filter sub-dir + style view filter component
  frontend/components/form/FormViewSelector.vue
  frontend/components/menu/mobile/MenuMobileNavigationDropdown.vue
  frontend/components/sidebar/left/SidebarLeft.vue
  frontend/components/sidebar/left/content/SidebarLeftContent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterResources.vue
  frontend/components/sidebar/left/filters/SidebarLeftFilters.vue
  frontend/components/sidebar/left/filters/SidebarLeftFiltersResources.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/types/sidebar-type.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Partial fix of TS errors
  frontend/components/menu/mobile/MenuMobileNavigationDropdown.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilter.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Guard assignment of SidebarLeftFilter sidebar type to fix ts
  frontend/components/sidebar/left/SidebarLeft.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

More robust fix of sidebar left filter guard condition
  frontend/components/sidebar/left/SidebarLeft.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

set commentaries to the issues
  backend/authentication/views.py
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/content/models.py
  backend/events/models.py
Due: mypy-check

translation resume.md to english
  backend/resume.md
Due: none

set up and ran the i18n-check package
  .github/workflows/pr_ci_i18n.yaml
  .i18n-check.yaml
  backend/requirements-dev.in
  backend/requirements-dev.txt
Due: none

#1324 Remov outdated i18n checks from frontend/i18n
  frontend/i18n/check/i18n_check_invalid_keys.py
  frontend/i18n/check/i18n_check_key_identifiers.py
  frontend/i18n/check/i18n_check_non_source_keys.py
  frontend/i18n/check/i18n_check_repeat_values.py
  frontend/i18n/check/i18n_check_unused_keys.py
  frontend/i18n/check/run_i18n_checks.py
Due: run-i18n-check, prettier-format-check

Update i18n-check to reflect changes needed for activist
  .i18n-check.yaml
  .pre-commit-config.yaml
  backend/requirements-dev.txt
Due: none

I18n check integration into activist (#1333)
  .github/workflows/pr_ci_i18n.yaml
  .i18n-check.yaml
  .pre-commit-config.yaml
  backend/requirements-dev.in
  backend/requirements-dev.txt
  frontend/i18n/check/i18n_check_invalid_keys.py
  frontend/i18n/check/i18n_check_key_identifiers.py
  frontend/i18n/check/i18n_check_non_source_keys.py
  frontend/i18n/check/i18n_check_repeat_values.py
  frontend/i18n/check/i18n_check_unused_keys.py
  frontend/i18n/check/run_i18n_checks.py
  frontend/tests/specs/organizationLogic.test.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

#1324 Make all skip directories explicitly in frontend
  .i18n-check.yaml
Due: none

Order dev dependencies for the backend
  backend/requirements-dev.in
Due: none

add Arabic translations and update locales.ts
  frontend/i18n/ar.json
  frontend/locales.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Update ordering in locales file and ar json
  frontend/i18n/ar.json
  frontend/locales.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Add missing locale code to i18n.ts
  frontend/utils/i18n.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Fix Arabic locale code assignment
  frontend/utils/i18n.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix(ruff): remove Sequence redefinition and unused List import
  backend/authentication/views.py
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/content/models.py
  backend/content/serializers.py
  backend/events/models.py
  backend/events/serializers.py
Due: mypy-check

fix(mypy): avoid unused-ignore error for OpenApiTypes
  backend/authentication/views.py
Due: mypy-check

chore: added new form elements with veevalidate and zod
  frontend/assets/css/tailwind.css
  frontend/components/form/Form.vue
  frontend/components/form/FormErrorMessage.vue
  frontend/components/form/FormItem.vue
  frontend/components/form/FormLabel.vue
  frontend/components/form/FormSearch.vue
  frontend/components/form/FormTemplate.vue
  frontend/components/form/radio/FormRadioGroup.vue
  frontend/components/form/selector/FormSelectorRadio.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/index/SidebarLeftIndex.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: added missing headers
  frontend/components/form/Form.vue
  frontend/components/form/FormErrorMessage.vue
  frontend/components/form/FormItem.vue
  frontend/components/form/FormLabel.vue
  frontend/components/form/FormTemplate.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: added missing package.json
  package.json
  yarn.lock
Due: none

Revert "chore: added missing package.json"
  package.json
  yarn.lock
Due: none

chore: added missing dependencies
  frontend/package.json
  frontend/yarn.lock
Due: run-i18n-check, prettier-format-check

fix(api): remove private DRF typing for get_permissions signature
  backend/communities/groups/views.py
Due: mypy-check

fix(typing): ensure get_permissions returns List[BasePermission]
  backend/communities/groups/views.py
Due: mypy-check

fix(lint): suppress Ruff import order (I001) for OpenApiTypes + type ignore
  backend/authentication/views.py
Due: mypy-check

Basic styling and rename password input component
  frontend/assets/css/tailwind.css
  frontend/components/form/Form.vue
  frontend/components/form/FormItem.vue
  frontend/components/form/FormLabel.vue
  frontend/components/form/FormTemplate.vue
  frontend/components/form/text/FormTextInputPassword.vue
  frontend/pages/auth/set-password.vue
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
  frontend/pages/home/index.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Update translation files
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-format-check

Remove form component and sort en-US JSON
  frontend/i18n/en-US.json
  frontend/pages/home/index.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: added new form elements with veevalidate and zod and minor styling issues (#1335)
  frontend/assets/css/tailwind.css
  frontend/components/form/Form.vue
  frontend/components/form/FormErrorMessage.vue
  frontend/components/form/FormItem.vue
  frontend/components/form/FormLabel.vue
  frontend/components/form/FormSearch.vue
  frontend/components/form/FormTemplate.vue
  frontend/components/form/radio/FormRadioGroup.vue
  frontend/components/form/selector/FormSelectorRadio.vue
  frontend/components/form/text/FormTextInputPassword.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/index/SidebarLeftIndex.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/package.json
  frontend/pages/auth/set-password.vue
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
  frontend/yarn.lock
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: start refactor for sing in
  frontend/components/form/FormItem.vue
  frontend/components/indicator/IndicatorPasswordStrength.vue
  frontend/pages/auth/sign-in.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: fix styling + changing label for submit
  frontend/components/form/Form.vue
  frontend/pages/auth/sign-in.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Run pip-compile upgrade commands for pillow
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

Remoove local directory paths from requirements file
  backend/requirements-dev.txt
Due: none

Remove backend/ from pip-compile based requirement routes
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-format-check: any of: ^frontend/
  eslint-lint-check: any of: ^frontend/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.jsx$, \.vue$
