Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check
          - packaging

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Add html to checked files and fix all issues
  .licenserc.yaml
  backend/authentication/templates/pwreset_email.html
  backend/authentication/templates/signup_email.html
  frontend/app/spa-loading-template.html
Due: run-i18n-check, prettier-eslint-checks

Exclud __init__.py files
  .pre-commit-config.yaml
Due: none

WIP added pre-commit hook for spdx_checker (#1298)
  .licenserc.yaml
  .pre-commit-config.yaml
  backend/authentication/templates/pwreset_email.html
  backend/authentication/templates/signup_email.html
  frontend/app/spa-loading-template.html
Due: run-i18n-check, prettier-eslint-checks

Update breadcrumps to test for groups before orgs
  frontend/app/components/page/PageBreadcrumbs.vue
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):fix navigation between pages, empty string was being … (#1615)
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/composables/queries/useGetEvent.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetOrganization.ts
Due: run-i18n-check, prettier-eslint-checks

Misc fixes to formattign and imoorts
  frontend/app/components/card/CardResource.vue
  frontend/app/composables/useUser.ts
  frontend/app/types/events/event.ts
  frontend/test-e2e/actions/authentication.ts
  frontend/test/components/icon/IconDraggableEdit.spec.ts
  frontend/test/components/icon/IconEdit.spec.ts
  frontend/test/setup.ts
Due: run-i18n-check, prettier-eslint-checks

Fix endpoint for dragging organization resources
  frontend/app/services/communities/organization/resource.ts
Due: run-i18n-check, prettier-eslint-checks

Added peromissions edit (#1610)
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/components/card/CardResource.vue
  frontend/app/components/dropdown/DropdownBase.vue
  frontend/app/components/dropdown/DropdownItemsLayout.vue
  frontend/app/components/dropdown/DropdownUserOptions.vue
  frontend/app/components/icon/IconDraggableEdit.vue
  frontend/app/components/menu/MenuItemLabel.vue
  frontend/app/composables/useUser.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/app/services/communities/organization/resource.ts
  frontend/app/types/communities/group.ts
  frontend/app/types/communities/organization.ts
  frontend/app/types/entity.ts
  frontend/app/types/events/event.ts
  frontend/app/types/menu/menu-selector.ts
  frontend/test-e2e/actions/authentication.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-validation.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
  frontend/test/components/icon/IconDraggableEdit.spec.ts
  frontend/test/components/icon/IconEdit.spec.ts
  frontend/test/composables/useUser.spec.ts
  frontend/test/setup.ts
Due: run-i18n-check, prettier-eslint-checks

Update TS types, modal scripts and other frontend URL components
  backend/communities/groups/factories.py
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/text/ModalTextOrganization.vue
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/text.ts
  frontend/app/services/event/text.ts
  frontend/app/types/communities/group.ts
  frontend/app/types/communities/organization.ts
  frontend/app/types/events/event.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Fix TS errors based on move of get invovled URL
  frontend/app/components/sidebar/left/SidebarLeft.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
Due: run-i18n-check, prettier-eslint-checks

Fix: move get_involved_url to text table (#1622)
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/communities/groups/tests/test_group.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/tests/test_org_api.py
  backend/content/models.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/text/ModalTextOrganization.vue
  frontend/app/components/sidebar/left/SidebarLeft.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/communities/organization/text.ts
  frontend/app/services/event/event.ts
  frontend/app/services/event/text.ts
  frontend/app/types/communities/group.ts
  frontend/app/types/communities/organization.ts
  frontend/app/types/events/event.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

test: add events filter E2E tests (#1625)
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test-e2e/component-objects/EventsFilter.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix(event-validation): ensure end_time is after start_time (#1607)
  backend/events/models.py
  backend/events/tests/test_event_api.py
  backend/events/views.py
Due: mypy-check

Misc code formatting for recents commits
  backend/events/models.py
  backend/events/views.py
  frontend/test-e2e/component-objects/EventsFilter.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix(frontend):navigation issues from groups subpages + fix when refreshing from browser
  frontend/app/composables/useMenuEntriesState.ts
  frontend/app/pages/organizations/[orgId]/groups/index.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):navigation issues from groups subpages + fix when refreshing from browser (#1633)
  frontend/app/composables/useMenuEntriesState.ts
  frontend/app/pages/organizations/[orgId]/groups/index.vue
Due: run-i18n-check, prettier-eslint-checks

Retain watch, remvoe initial state, revert to old check method
  frontend/app/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

bugfix: fixed the button highlight based on url-route (#1628)
  frontend/app/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

Fixes for modal state, add delete icon, fix modal css
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconDraggableEdit.vue
  frontend/app/components/icon/IconEdit.vue
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/app/types/icon-map.ts
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

bugfix: editing social links will be immediately reflected (#1616)
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconDraggableEdit.vue
  frontend/app/components/icon/IconEdit.vue
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/app/types/icon-map.ts
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

Create events E2E test structure and refactor navigation helpers
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/index.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/component-objects/EventMenu.ts
  frontend/test-e2e/page-objects/event/EventPage.ts
  frontend/test-e2e/page-objects/event/about/EventAboutPage.ts
  frontend/test-e2e/page-objects/event/faq/EventFAQPage.ts
  frontend/test-e2e/page-objects/event/resources/EventResourcesPage.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-content.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-social-links.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-content.spec.ts
  frontend/test-e2e/specs/desktop/events/event-about/event-about-page.spec.ts
  frontend/test-e2e/specs/desktop/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/events/event-resources/event-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

feat(e2e): Confirm activist_0 for sign-out tests
  backend/core/management/commands/populate_db.py
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

bugfix: corrected the delete functionality usage
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

Add texts to search results + UI fixes + index all text accesses
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/about/CardAboutOrganization.vue
  frontend/app/components/card/discussion/CardDiscussionInput.vue
  frontend/app/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntity.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/app/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/text/ModalTextOrganization.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/events/[eventId]/discussion.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/app/types/communities/group.ts
  frontend/app/types/communities/organization.ts
  frontend/app/types/events/event.ts
  frontend/i18n/locales/en-US.json
  frontend/package.json
  frontend/test-e2e/page-objects/organization/OrganizationGroupsPage.ts
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

Add texts to search results + UI fixes + index all text accesses (#1635)
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/about/CardAboutOrganization.vue
  frontend/app/components/card/discussion/CardDiscussionInput.vue
  frontend/app/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntity.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
  frontend/app/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/text/ModalTextOrganization.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/events/[eventId]/discussion.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/app/types/communities/group.ts
  frontend/app/types/communities/organization.ts
  frontend/app/types/events/event.ts
  frontend/i18n/locales/en-US.json
  frontend/package.json
  frontend/test-e2e/page-objects/organization/OrganizationGroupsPage.ts
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

feat: add tests for the resource viewset
  backend/events/tests/resource/test_resource_viewset.py
  backend/events/views.py
Due: mypy-check

Fix import ordering and minor comment edits
  CONTRIBUTING.md
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Event subpage e2e (#1498)
  CONTRIBUTING.md
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix: Add even location validation Improve event location validation to require online location link for online events and an offline location for offline events
  backend/events/admin.py
  backend/events/models.py
Due: mypy-check

test: improve E2E auth handling and mobile navigation
  frontend/test-e2e/actions/authentication.ts
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/component-objects/InfoMenu.ts
  frontend/test-e2e/component-objects/QRCodeModal.ts
  frontend/test-e2e/component-objects/SignInMenu.ts
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/global-setup.ts
  frontend/test-e2e/page-objects/event/EventPage.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-content.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-qr-code.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-content.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
  frontend/test-e2e/specs/desktop/events/event-about/event-about-page.spec.ts
  frontend/tsconfig.playwright.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):organization and events filtering and added a loading component for now
  frontend/app/components/Loading.vue
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/layouts/organization/OrganizationList.vue
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/stores/event.ts
  frontend/app/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix linting issue
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):eliminated unnecesary files
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/modal/resource/ModalResourceEvent.vue
  frontend/components/modal/resource/ModalResourceGroup.vue
  frontend/components/modal/resource/ModalResourceOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

fix/i18n-check
  frontend/app/components/LoadingScreen.vue
  frontend/app/pages/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
Due: run-i18n-check, prettier-eslint-checks

fix(ci): optimize Playwright E2E workflow for static builds
  .github/workflows/pr_ci_playwright_e2e.yaml
  frontend/playwright.config.mts
  frontend/test-e2e/global-setup.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-content.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-qr-code.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-social-links.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

ci: remove verbose log output on test failures
  .github/workflows/pr_ci_playwright_e2e.yaml
Due: none

fix(test): force click on modal close buttons to prevent interception
  frontend/test-e2e/specs/all/events/event-about/event-about-content.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-qr-code.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-page.spec.ts
  frontend/test-e2e/specs/all/home-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events/organization-events-interactions.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-groups/organization-groups-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix/i18n-check (#1642)
  frontend/app/components/LoadingScreen.vue
  frontend/app/pages/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
Due: run-i18n-check, prettier-eslint-checks

Fix i18n, add padding, remove unneeded commented out code
  frontend/app/components/Loading.vue
  frontend/app/pages/index.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
Due: run-i18n-check, prettier-eslint-checks

fix(test): convert NodeListOf to array for TypeScript compatibility
  frontend/test-e2e/page-objects/organization/groups/about/OrganizationGroupAboutPage.ts
Due: run-i18n-check, prettier-eslint-checks
