Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

mypy-check:
  name: run mypy static type checking
  entry: python ./pre_commit_scripts/mypy_static_type_check.py
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check
  entry: python frontend/i18n/check/run_i18n_checks.py
  language: python
  pass_filenames: false

prettier-format-check:
  name: run prettier formatting check
  entry: python ./pre_commit_scripts/prettier_formatting_check.py
  language: python
  pass_filenames: false

eslint-lint-check:
  name: run eslint static type check
  entry: python ./pre_commit_scripts/eslint_static_type_check.py
  language: python
  pass_filenames: false

regex to account for as string added back-in to the script
  utils/check_used_api_calls.py
Due: none

initial folder help for issues
  frontend/pages/help/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: form view selector refactor
  frontend/components/form/FormViewSelector.vue
  frontend/components/sidebar/left/index/SidebarLeftIndex.vue
  frontend/components/sidebar/left/index/SidebarLeftIndexEvent.vue
  frontend/components/sidebar/left/index/SidebarLeftIndexOrganizationPage.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

draft-contact.vue
  frontend/pages/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

draft-v.1-contact.vue
  frontend/pages/help/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

OriginalV1-contact.vue
  frontend/pages/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix group subpages
  frontend/utils/groupSubPages.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

lint
  frontend/utils/groupSubPages.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Remove slashes from frontend endpoints
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: change selector when clicked new option
  frontend/components/form/FormViewSelector.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: default view type when first load
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Added export event as .ics file
  .vscode/settings.json
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

draft-version-test-v1
  frontend/pages/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fixed the import error
  backend/events/views.py
Due: mypy-check

add django-ical, icalendar to requirements.txt
  backend/requirements.txt
Due: none

add django-ical, icalendar to requirements-dev.txt
  backend/requirements-dev.txt
Due: none

Modifed contact section Email
  frontend/pages/help/contact.vue
  package-lock.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

debugged removed bug
  frontend/pages/help/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

initial draft ISSUE #34 reveiw feedback
  frontend/pages/help/contact.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Fixed the height of the text editor, buttons for the WYSIWYG and logic errors.
  frontend/components/card/discussion/CardDiscussionInput.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Changes to organizations.spec.ts
  .gitignore
  .vscode/settings.json
  frontend/test-e2e/example.spec.ts
  frontend/test-e2e/specs/all/organizations-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations-page.spec.ts
  package.json
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
  yarn.lock
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix(mypy): add missing type annotation for 'flags' in Resource model
  backend/content/models.py
  backend/pyproject.toml
Due: mypy-check

Minor edits to contributing guide to add i18n-check usage guide
  CONTRIBUTING.md
Due: none

Minor change to docs header and don't include formatting in dependency check
  .github/workflows/check_dependency_updates.yaml
  CONTRIBUTING.md
Due: none

fix(mypy): add missing type annotation for 'flags' in events, communities/group & communities/organizations models
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/events/models.py
Due: mypy-check

chore: created new components and refactor
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useClusterMap.ts
  frontend/composables/usePointerMap.ts
  frontend/i18n/en-US.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/home/index.vue
  frontend/stores/event.ts
  frontend/types/map.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: refacor sidebar and change folder structure
  frontend/components/btn/action/BtnAction.vue
  frontend/components/form/FormViewSelector.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/components/menu/mobile/MenuMobileNavigationDropdown.vue
  frontend/components/sidebar/left/SidebarLeft.vue
  frontend/components/sidebar/left/content/SidebarLeftContent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/components/sidebar/left/content/SidebarLeftDefaultContent.vue
  frontend/composables/map/useClusterMap.ts
  frontend/composables/map/useMap.ts
  frontend/composables/map/usePointerMap.ts
  frontend/composables/map/useRoutingMap.ts
  frontend/types/icon-map.ts
  frontend/types/map.ts
  frontend/types/sidebar-type.ts
  frontend/utils/mapUtils.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: cluster and pointers are showing
  frontend/components/media/MediaMap.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useClusterMap.ts
  frontend/types/map.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: fix bug to view tootil in poiter and view default in events fix
  frontend/components/events/EventsList.vue
  frontend/components/events/EventsMap.vue
  frontend/components/form/FormViewSelector.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvents.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/components/sidebar/left/content/SidebarLeftDefaultContent.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/composables/map/useClusterMap.ts
  frontend/composables/map/useMap.ts
  frontend/composables/map/usePointerMap.ts
  frontend/composables/useClusterMap.ts
  frontend/composables/useRoutingMap.ts
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/index.vue
  frontend/pages/home/index.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix(serializers): resolve mypy error in ImageSerializer.create method
  backend/content/serializers.py
  backend/resume.md
Due: mypy-check

fix(serializers): add datetime type checks to validate method in EventSerializer
  backend/events/serializers.py
Due: mypy-check

update Pull Request Notes
  backend/resume.md
Due: none

fix: add missing header
  frontend/utils/mapUtils.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: eliminated unnesary foldder and files
  frontend/composables/map/useClusterMap.ts
  frontend/composables/map/usePointerMap.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix(typing): ignore OpenApiTypes export error for mypy in drf_spectacular
  backend/authentication/views.py
Due: mypy-check

fix(auth): add return type annotations to UserFlagViewSets methods
  backend/authentication/views.py
Due: mypy-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-format-check: any of: ^frontend/
  eslint-lint-check: any of: ^frontend/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.jsx$, \.vue$
