Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

Remove unneeded spaces for store access
  frontend/components/card/CardDetails.vue
  frontend/components/card/about/CardAboutEvent.vue
  frontend/components/card/about/CardAboutGroup.vue
  frontend/components/card/about/CardAboutOrganization.vue
  frontend/components/card/connect/CardConnectGroup.vue
  frontend/components/card/connect/CardConnectOrganization.vue
  frontend/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/components/feed/Feed.vue
  frontend/components/header/app-page/HeaderAppPageEvent.vue
  frontend/components/header/app-page/HeaderAppPageGroup.vue
  frontend/components/header/app-page/HeaderAppPageOrganization.vue
  frontend/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/components/modal/faq-entry/ModalFaqEntryOrganization.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/components/modal/text/ModalTextEvent.vue
  frontend/components/modal/text/ModalTextGroup.vue
  frontend/components/modal/text/ModalTextOrganization.vue
  frontend/layouts/event/EventPage.vue
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationPage.vue
Due: run-i18n-check, prettier-eslint-checks

bugfix: handled the auto img mode switch in the organization page
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/composables/useDefaultCarouselImages.ts
Due: run-i18n-check, prettier-eslint-checks

Remove new composable and use in old method - carousel was broken
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/composables/useDefaultCarouselImages.ts
  frontend/composables/useFileManager.ts
Due: run-i18n-check, prettier-eslint-checks

bugfix: handled the auto img mode switch in the organization page (#1438)
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/composables/useFileManager.ts
Due: run-i18n-check, prettier-eslint-checks

feat: make FAQ entries draggable across orgs, groups, and events
  frontend/components/card/CardFAQEntry.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

feature: implemented the feature
  frontend/components/form/FormTextEntity.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

test: testfile for the feature
  frontend/test/components/form/FormTextEntity.spec.ts
Due: run-i18n-check, prettier-eslint-checks

COMMIT_MESSAGE
  frontend/components/card/CardFAQEntry.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

feat: add drag-and-drop reordering for social links using vuedraggable
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/composables/useSortableList.ts
  frontend/i18n/ar.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Updating ci workflow and adding README for testing with act
  .github/workflows/LOCAL_TEST.md
  .github/workflows/pr_cd_backend.yaml
  .github/workflows/pr_ci_backend.yaml
  .gitignore
Due: none

fix: corrected the usage of the i18n keys
  frontend/test/components/form/FormTextEntity.spec.ts
Due: run-i18n-check, prettier-eslint-checks

feat: make FAQ entries draggable across orgs, groups, and events
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

feat: add drag-and-drop reordering for social links using vuedraggable
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/composables/useSortableList.ts
Due: run-i18n-check, prettier-eslint-checks

Minor removal of lines from backend dev dependencies
  backend/requirements-dev.txt
Due: none

Update views.py
  backend/content/views.py
Due: mypy-check

Update serializers.py
  backend/content/serializers.py
Due: mypy-check

Update i18n-check to v1.8.1 and update config yaml file
  .i18n-check.yaml
  backend/requirements-dev.txt
Due: none

Fix comments + allow for get invovled URL to be blank
  frontend/components/form/FormTextEntity.vue
  frontend/test/components/form/FormTextEntity.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Feature/required get involved text or url (#1440)
  frontend/components/form/FormTextEntity.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
  frontend/test/components/form/FormTextEntity.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix i18n error + use icon instead of text for grip
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/types/icon-map.ts
Due: run-i18n-check, prettier-eslint-checks

feat: add drag-and-drop reordering for social links using vuedraggable (#1445)
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/composables/useSortableList.ts
  frontend/i18n/ar.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/types/icon-map.ts
Due: run-i18n-check, prettier-eslint-checks

chore: added dragable funtionality to reaorder in backend + fixed an issue in the front with uploading files with refresh
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/serializers.py
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/composables/useFileManager.ts
  frontend/stores/organization.ts
  frontend/types/content/file.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore: added upload functionality in group
  backend/communities/groups/views.py
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/layouts/group/GroupPage.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/stores/group.ts
  frontend/types/communities/group.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix: fix python test
  backend/communities/organizations/tests/image/test_org_image_list_list.py
Due: mypy-check

Remove project settings and update requirements for cals
  .vscode/settings.json
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
Due: none

changed the view and url
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

Minor formatting of files and define event file identifier
  backend/events/urls.py
  backend/events/views.py
  backend/requirements-dev.txt
Due: mypy-check

Added export event as .ics file (#1313)
  backend/events/urls.py
  backend/events/views.py
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
Due: mypy-check

chore: added backend update tests
  backend/communities/groups/tests/image/test_group_image_update.py
  backend/communities/organizations/tests/image/test_org_image_update.py
Due: mypy-check

fix: fix test of backend
  backend/communities/organizations/tests/image/test_org_image_update.py
Due: mypy-check

Minor code formatting
  backend/communities/groups/tests/image/test_group_image_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/image/test_org_image_update.py
  backend/communities/organizations/views.py
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Minor spacing updates for code
  backend/communities/urls.py
  backend/content/serializers.py
Due: mypy-check

1432 add upload image group (#1447)
  backend/communities/groups/tests/image/test_group_image_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/image/test_org_image_list_list.py
  backend/communities/organizations/tests/image/test_org_image_update.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/serializers.py
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/composables/useFileManager.ts
  frontend/layouts/group/GroupPage.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/communities/group.d.ts
  frontend/types/content/file.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

feat: allow admin and creator to edit entity text
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/views.py
  backend/events/models.py
  backend/events/views.py
Due: mypy-check

Add Italian localization file based on request
  frontend/i18n/it.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend): resolve social links drag-and-drop data loss issue
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Reorder options in the right sidebar menu
  frontend/components/header/HeaderMobile.vue
  frontend/components/header/HeaderWebsite.vue
Due: run-i18n-check, prettier-eslint-checks

fix(normalizePath): split regex to remove alternation
  frontend/utils/routeUtils.ts
Due: run-i18n-check, prettier-eslint-checks

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
