Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.3
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

test(frontend): add unit tests for useFormSetup composable (#1708)
  frontend/test/composables/useFormSetup.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Comment fixes for recent changes and add comments section to styleguide
  STYLEGUIDE.md
  backend/core/settings.py
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/composables/useClusterMap.ts
  frontend/app/pages/groups/create.vue
  frontend/test-e2e/page-objects/OrganizationsHomePage.ts
  frontend/test-e2e/page-objects/organization/groups/resources/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-management.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
  frontend/test-e2e/utils/modalHelpers.ts
  frontend/test/components/filter/pageFilter.spec.ts
  frontend/test/components/modal/ModalBase.spec.ts
  frontend/test/pages/auth/sign-up.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

test: add test infrastructure and HTTP service tests (#1684)
  frontend/app/services/http.ts
  frontend/test/services/helpers.ts
  frontend/test/services/http.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Comment and import fixes
  frontend/test/services/event/event.spec.ts
  frontend/test/services/event/faq.spec.ts
  frontend/test/services/event/image.spec.ts
  frontend/test/services/event/resource.spec.ts
  frontend/test/services/event/social-link.spec.ts
  frontend/test/services/event/text.spec.ts
  frontend/test/services/helpers.ts
  frontend/test/services/http.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Import fix and remove test-utils directory
  frontend/test/composables/useFormSetup.spec.ts
  frontend/test/constants.ts
Due: run-i18n-check, prettier-eslint-checks

Fix to mark header capitalization
  frontend/test/services/http.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix imports and update coverage threshold to 20
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-validation.spec.ts
  frontend/test/composables/useFormSetup.spec.ts
  frontend/test/constants.ts
  frontend/test/pages/auth/set-password.spec.ts
  frontend/test/pages/auth/sign-up.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/services/event/faq.spec.ts
  frontend/test/services/event/image.spec.ts
  frontend/test/services/event/resource.spec.ts
  frontend/test/services/event/social-link.spec.ts
  frontend/test/services/event/text.spec.ts
  frontend/test/services/http.spec.ts
  frontend/vitest.config.mts
Due: run-i18n-check, prettier-eslint-checks

test: add comprehensive event service tests (#1692)
  frontend/app/services/event/faq.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-validation.spec.ts
  frontend/test/composables/useFormSetup.spec.ts
  frontend/test/constants.ts
  frontend/test/pages/auth/set-password.spec.ts
  frontend/test/pages/auth/sign-up.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/services/event/faq.spec.ts
  frontend/test/services/event/image.spec.ts
  frontend/test/services/event/resource.spec.ts
  frontend/test/services/event/social-link.spec.ts
  frontend/test/services/event/text.spec.ts
  frontend/test/services/helpers.ts
  frontend/test/services/http.spec.ts
  frontend/vitest.config.mts
Due: run-i18n-check, prettier-eslint-checks

Fix imports and mark
  frontend/test/services/content/topics.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: add content service tests (#1693)
  frontend/test/services/content/topics.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix imports and marks
  frontend/test/services/communities/organization/faq.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/services/communities/organization/organization.spec.ts
  frontend/test/services/communities/organization/resource.spec.ts
  frontend/test/services/communities/organization/social-link.spec.ts
  frontend/test/services/communities/organization/text.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix imports and marks
  frontend/test/services/communities/group/faq.spec.ts
  frontend/test/services/communities/group/group.spec.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/group/resource.spec.ts
  frontend/test/services/communities/group/social-link.spec.ts
  frontend/test/services/communities/group/text.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: add comprehensive organization service tests (#1701)
  frontend/test/services/communities/organization/faq.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/services/communities/organization/organization.spec.ts
  frontend/test/services/communities/organization/resource.spec.ts
  frontend/test/services/communities/organization/social-link.spec.ts
  frontend/test/services/communities/organization/text.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: add comprehensive group service tests (#1702)
  frontend/test/services/communities/group/faq.spec.ts
  frontend/test/services/communities/group/group.spec.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/group/resource.spec.ts
  frontend/test/services/communities/group/social-link.spec.ts
  frontend/test/services/communities/group/text.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Increase the Vitest threshold and update backend deps
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/i18n/locales/ar.json
  frontend/vitest.config.mts
Due: run-i18n-check, prettier-eslint-checks

Increase the Vitest threshold and update backend deps (#1722)
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/i18n/locales/ar.json
  frontend/vitest.config.mts
Due: run-i18n-check, prettier-eslint-checks

Misc fixes to comments in codebase
  .pre-commit-config.yaml
  backend/core/urls.py
  frontend/.nuxtignore
  frontend/Dockerfile
  frontend/app/utils/imageURLRegistry.s.ts
  frontend/test-e2e/page-objects/OrganizationsHomePage.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-faq/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-faq/organization-faq-page.spec.ts
  frontend/test/components/form/text/FormTextInputSearch.spec.ts
  frontend/test/setup.ts
  frontend/tsconfig.json
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Created separate docker-compose file for e2e-test
  docker-compose.e2e.yml
  docker-compose.yml
Due: none

Expand e2e docker-compose and Docker files + e2e run directions
  CONTRIBUTING.md
  docker-compose.e2e.yml
  docker-compose.yml
  frontend/DockerfileE2ETests
Due: run-i18n-check, prettier-eslint-checks

draft
  docker-compose.e2e.yml
  frontend/e2e.Dockerfile
Due: run-i18n-check, prettier-eslint-checks

Use shell script for running e2e tests + add dependency + docs
  CONTRIBUTING.md
  docker-compose.e2e.yml
  frontend/e2e.Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

Add shell script for running e2e tests
  run-e2e-tests.sh
Due: none

Add health checks for db and frontend back in
  docker-compose.yml
Due: none

E2e docker (#1719)
  CONTRIBUTING.md
  docker-compose.yml
  frontend/package.json
  frontend/yarn.lock
  run-e2e-tests.sh
Due: run-i18n-check, prettier-eslint-checks

Set locations to None if other is set and exclude offline location in serializer
  backend/events/admin.py
  backend/events/serializers.py
Due: mypy-check

Revert change to event serializer
  backend/events/serializers.py
Due: mypy-check

Fix/ignore mypy error
  backend/conftest.py
Due: mypy-check

Fix/issue 1598 add event validation (#1641)
  backend/events/admin.py
  backend/events/models.py
Due: mypy-check

fix(frontend):fix typecheks finalized
  frontend/app/components/FriendlyCaptcha.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/landing/LandingSplash.vue
  frontend/app/components/modal/ModalSharePage.vue
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/app/composables/useFileManager.ts
  frontend/app/pages/events/create.vue
  frontend/app/pages/groups/create.vue
  frontend/app/pages/resources/create.vue
  frontend/app/pages/resources/index.vue
  frontend/app/services/http.ts
  frontend/test/constants.ts
Due: run-i18n-check, prettier-eslint-checks

Minor edits to pre-commit sections and ordering
  .pre-commit-config.yaml
Due: none

formatting: prettier
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
Due: run-i18n-check, prettier-eslint-checks

feat: added delete resource func
  frontend/app/services/communities/group/resource.ts
  frontend/app/services/communities/organization/resource.ts
  frontend/app/services/event/resource.ts
Due: run-i18n-check, prettier-eslint-checks

feat: added delete func in the resource mutations
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
Due: run-i18n-check, prettier-eslint-checks

feat: added the delete icon and modal
  frontend/app/components/card/CardResource.vue
  frontend/i18n/locales/en-US.json
Due: run-i18n-check, prettier-eslint-checks

refactor: prettier formatting
  frontend/app/components/card/CardResource.vue
Due: run-i18n-check, prettier-eslint-checks

fix:setup typing for vitest
  frontend/test/setup.ts
  frontend/test/vitest-globals.d.ts
  frontend/tsconfig.vitest.json
Due: run-i18n-check, prettier-eslint-checks

fix:in tests for file location and remove defualt text on maps when no texts exist
  frontend/app/pages/organizations/[orgId]/application.vue
  frontend/app/services/event/event.ts
  frontend/shared/types/resource.d.ts
  frontend/test/components/image/ImageFileDropzoneMultiple.spec.ts
  frontend/test/composables/useToaster.spec.ts
  frontend/test/services/communities/group/faq.spec.ts
  frontend/test/services/communities/group/group.spec.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/group/resource.spec.ts
  frontend/test/services/communities/group/social-link.spec.ts
  frontend/test/services/communities/group/text.spec.ts
  frontend/test/services/communities/organization/faq.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/services/communities/organization/organization.spec.ts
  frontend/test/services/communities/organization/resource.spec.ts
  frontend/test/services/communities/organization/social-link.spec.ts
  frontend/test/services/communities/organization/text.spec.ts
  frontend/test/services/content/topics.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/services/event/faq.spec.ts
  frontend/test/services/event/image.spec.ts
  frontend/test/services/event/resource.spec.ts
  frontend/test/services/event/social-link.spec.ts
  frontend/test/services/event/text.spec.ts
  frontend/test/utils/btnUtils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix: i18n key order
  frontend/i18n/locales/en-US.json
Due: run-i18n-check, prettier-eslint-checks
