Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

Update env creation docs
  CONTRIBUTING.md
  README.md
Due: none

Freeze backend dependencies during CI workflows + misc fixes
  .github/workflows/pr_ci_backend.yaml
  .github/workflows/pr_ci_i18n.yaml
  .github/workflows/pr_ci_ts_backend_check.yaml
  frontend/test/components/form/selector/FormSelectorRadio.spec.ts
Due: prettier-eslint-checks, run-i18n-check

docs: add analysis of tests that may work around bugs
  TEST_ISSUES_ANALYSIS.md
Due: none

added iso and reverted to eventtexts m2m rel.
  backend/events/models.py
  backend/events/serializers.py
Due: mypy-check

chore: move testing docs to scratch
  TESTING_BASICS.md
  TEST_ISSUES_ANALYSIS.md
Due: none

fixed groupapi test
  backend/communities/groups/tests/test_group_api.py
  backend/events/tests/test_event_create.py
Due: mypy-check

chore: clarify auth tests and warning filters
  frontend/test/pages/auth/set-password.spec.ts
  frontend/test/pages/auth/sign-in.spec.ts
  frontend/test/setup.ts
Due: prettier-eslint-checks, run-i18n-check

chore: keep legacy set-password tests as reference
  frontend/test/pages/auth/set-password.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: keep legacy sign-in tests as reference
  frontend/test/pages/auth/sign-in.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: apply prettier formatting to test mocks
  frontend/test/composables/useFileManager.spec.ts
  frontend/test/mocks/composableMocks.ts
Due: prettier-eslint-checks, run-i18n-check

fix: create flow for event to go towards online event
  frontend/app/stores/machines/create-event.ts
  frontend/shared/types/create-event-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

switched from uuid to the object for topics and times
  backend/events/serializers.py
Due: mypy-check

Adding Indonesian locale given request on Webalte
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

test(footer): add FooterWebsite component test
  frontend/test/app/components/footer/FooterWebsite.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Moved the full Environment Setup section from README.md into a new setup.md file
  README.md
  SETUP.md
Due: none

fix(events): correct populate_db location logic and conditionally render map or link in frontend
  .env.dev
  backend/core/management/commands/populate_db_utils/populate_org_events.py
  backend/core/management/commands/populate_db_utils/populate_org_group_event.py
  backend/tests/test_populate_db_command.py
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/CardOnlineEventLink.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/events/EventsMap.vue
  frontend/app/components/media/map/MediaMapEvents.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/events/index.vue
  frontend/app/services/event/event.ts
  frontend/shared/types/event.d.ts
  frontend/test/services/event/event.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

chore: added adittional eror handling functionality and added meta tags for about event details
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/media/MediaUrl.vue
  frontend/app/components/meta-tag/MetaTagDates.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/plugins/floating-vue.ts
  frontend/app/services/event/event.ts
  frontend/shared/types/event.d.ts
  frontend/shared/utils/date.ts
  frontend/test/stores/create-event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Nits- minor fixes to comments throughout testing files and docs
  FRONTEND_TESTING.md
  frontend/test/components/btn/route/BtnRouteInternal.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntity.spec.ts
  frontend/test/components/form/selector/FormSelectorRadio.spec.ts
  frontend/test/composables/useSidebarClass.spec.ts
  frontend/test/mocks/composableMocks.ts
  frontend/test/pages/auth/set-password.spec.ts
  frontend/test/pages/auth/sign-in.spec.ts
  frontend/test/setup.ts
Due: prettier-eslint-checks, run-i18n-check

Refactor/test pattern based mocks (#1856)
  FRONTEND_TESTING.md
  frontend/test/components/btn/route/BtnRouteInternal.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntity.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
  frontend/test/components/dropdown/DropdownTheme.spec.ts
  frontend/test/components/filter/pageFilter.spec.ts
  frontend/test/components/form/dateTime/FormDateTime.spec.ts
  frontend/test/components/form/selector/FormSelectorRadio.spec.ts
  frontend/test/components/menu/MenuLinkWrapper.spec.ts
  frontend/test/components/modal/ModalBase.spec.ts
  frontend/test/components/sidebar/SidebarLeft.spec.ts
  frontend/test/components/sidebar/SidebarLeftFilterEvents.spec.ts
  frontend/test/composables/useFileManager.spec.ts
  frontend/test/composables/useSidebarClass.spec.ts
  frontend/test/mocks/composableMocks.ts
  frontend/test/pages/auth/set-password.spec.ts
  frontend/test/pages/auth/sign-in.spec.ts
  frontend/test/pages/auth/sign-up.spec.ts
  frontend/test/services/http.spec.ts
  frontend/test/setup.ts
Due: prettier-eslint-checks, run-i18n-check

Fix Vitest tests for nuxt-auth-utils migration
  frontend/app/services/content/topics.ts
  frontend/app/services/event/event.ts
  frontend/test/components/dropdown/DropdownTheme.spec.ts
  frontend/test/components/form/FormSocialLink.spec.ts
  frontend/test/components/icon/IconDraggableEdit.spec.ts
  frontend/test/components/icon/IconEdit.spec.ts
  frontend/test/components/menu/MenuItemLabel.spec.ts
  frontend/test/composables/queries/useGetEvent.spec.ts
  frontend/test/composables/queries/useGetEvents.spec.ts
  frontend/test/composables/queries/useGetGroup.spec.ts
  frontend/test/composables/queries/useGetGroupImages.spec.ts
  frontend/test/composables/queries/useGetGroups.spec.ts
  frontend/test/composables/queries/useGetOrganization.spec.ts
  frontend/test/composables/queries/useGetOrganizationByUser.spec.ts
  frontend/test/composables/queries/useGetOrganizationImages.spec.ts
  frontend/test/composables/queries/useGetOrganizations.spec.ts
  frontend/test/composables/useFileManager.spec.ts
  frontend/test/composables/useUser.spec.ts
  frontend/test/mocks/composableMocks.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/vitest-globals.d.ts
Due: prettier-eslint-checks, run-i18n-check

fix(security): secure SECRET_KEY handling and prevent env file exposure
  .env.dev
  .env.dev.example
  .gitignore
  backend/core/settings.py
  backend/utils/generate_secret_key.py
Due: mypy-check

remove the env.dev.local
  .env.dev.local
Due: none

chore(frontend): fix type safety, i18n keys, and event location guards to satisfy CI
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/CardOnlineEventLink.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/media/map/MediaMapEvents.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Fix timing attack vulnerability in password reset endpoint
  backend/authentication/views.py
Due: mypy-check

chore: remove unnecesary file
  frontend/shared/utils/utils.ts
Due: prettier-eslint-checks, run-i18n-check

fix: added error from FieldListItem to bind
  frontend/app/components/form/FormListItem.vue
Due: prettier-eslint-checks, run-i18n-check

created form-label unit tests
  frontend/test/components/form/FormLabel.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore(test): fix lint and add license header
  frontend/test/app/components/footer/FooterWebsite.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Minor update to readme and contributing - formatting was broke
  CONTRIBUTING.md
  README.md
Due: none

chore: add Snyk extension settings and ignore AI rules
  .gitignore
  .vscode/settings.json
Due: none

fix: eslint and prettier issues
  frontend/test/components/form/FormSocialLink.spec.ts
  frontend/test/composables/queries/useGetOrganizationByUser.spec.ts
  frontend/test/composables/useUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

created form-label unit tests (#1865)
  frontend/test/components/form/FormLabel.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(test): add useLocalePath and useAuth mocks to fix 23 failing tests
  frontend/test/setup.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (German)
  frontend/i18n/locales/de.json
Due: prettier-eslint-checks, run-i18n-check

Expand contributing guide and docs with mentorship and growth section
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_maintainer_checklist.yaml
  CONTRIBUTING.md
  README.md
  STYLEGUIDE.md
  docs/organization/community/contributing.md
  frontend/test/components/form/FormLabel.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Minor edits to mentorship and growth section of contributing guide
  CONTRIBUTING.md
Due: none

Translations update from Hosted Weblate (#1866)
  frontend/i18n/locales/de.json
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Run pre-commit hooks with uv
  .pre-commit-config.yaml
Due: none

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
