Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Quick License Fix CardsearchResultEntityGroup
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added missing modals and fixed issue with initial loading of screens
  frontend/app/components/dropdown/DropdownCreate.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocationAndTime.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupTopicsAndSocialLinks.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsTopicsAndSocialLinks.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/useFlowScreens.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/app/stores/machines/index.ts
  frontend/shared/types/machine-type.d.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/shared/types/machines/create-group-steps.ts
  frontend/shared/types/machines/create-organizations-steps.ts
  frontend/shared/types/machines/index.ts
  frontend/shared/types/machines/machine-create.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added previus option for modals and added models create group and create organization for user
  frontend/app/app.vue
  frontend/app/components/form/Form.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocationAndTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTypeAndRoles.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventsReview.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupTopicsAndSocialLinks.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsTopicsAndSocialLinks.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/stores/machines/create-event.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French) (#1784)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Adding Russian locale file given Weblate language request
  frontend/i18n/locales/ru.json
Due: prettier-eslint-checks, run-i18n-check

Minor update to requirements-dev.txt
  backend/requirements-dev.txt
Due: none

docs: add step to dev contributor process (#1787)
  CONTRIBUTING.md
Due: none

Add readme for backend with basic terminology and link to schemas
  backend/README.md
Due: none

chore: fix typing for create-event flow store
  frontend/app/stores/machines/create-event.ts
  frontend/shared/types/create-event-type.d.ts
  frontend/shared/types/machines/index.ts
  frontend/shared/types/machines/machine-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

Simplify backend filtering of events, fix typing, remove comments and imports
  backend/events/filters.py
  backend/events/tests/test_event_filters.py
  frontend/app/pages/events/index.vue
  frontend/app/services/event/event.ts
  frontend/shared/types/event.d.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Fix filtering to include days ahead = 0 as well
  backend/events/filters.py
Due: mypy-check

Set test time to Jan 1 1970 and add try block back in
  backend/events/filters.py
  backend/events/tests/test_event_filters.py
Due: mypy-check

fix: implement proper days_ahead range filtering (#1773)
  backend/events/filters.py
  backend/events/tests/test_event_filters.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/pages/events/index.vue
  frontend/app/services/event/event.ts
  frontend/shared/types/event.d.ts
  frontend/shared/utils/errorHandler.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

linting
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

rebase and optimization
  frontend/app/components/image/ImageMultipleFileDropZone.vue
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/test-e2e/component-objects/UploadImageModal.ts
  frontend/test-e2e/page-objects/organization/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/about/OrganizationAboutPage.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-image-upload.spec.ts
Due: prettier-eslint-checks, run-i18n-check

style: Remove unnecessary style class when FAQ is selected
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

feat: Added FAQ Reordering to Events Page with same code as organizations
  frontend/app/pages/events/[eventId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

feat: Added FAQ Reordering to Group Page with same code as organizations
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

multiple image upload
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-image-upload.spec.ts
Due: prettier-eslint-checks, run-i18n-check

remove page refresh
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-image-upload.spec.ts
Due: prettier-eslint-checks, run-i18n-check

remove initial count for multiple file upload
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-image-upload.spec.ts
Due: prettier-eslint-checks, run-i18n-check

initial commit
  backend/.python-version
  backend/pyproject.toml
  backend/requirements-dev.in
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
  backend/uv.lock
Due: none

updated docker setup for uv
  backend/Dockerfile
  backend/core/settings.py
  docker-compose.yml
Due: mypy-check

fix: removed unnecesary create and fix prev
  frontend/app/components/dropdown/DropdownCreate.vue
  frontend/app/components/form/Form.vue
Due: prettier-eslint-checks, run-i18n-check

updated backend ci workflow
  .github/workflows/pr_ci_backend.yaml
Due: none

update uv dev dep. commands
  .github/workflows/pr_ci_backend.yaml
  backend/Dockerfile
Due: none

added uv install step
  .github/workflows/pr_ci_backend.yaml
Due: none

added default working-directory
  .github/workflows/pr_ci_backend.yaml
Due: none

Removed unncessary keyDown options
  frontend/app/components/form/selector/FormSelectorRadio.vue
Due: prettier-eslint-checks, run-i18n-check

fix:typecheck
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Feature/faq keyboard reordering (#1772)
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/composables/generic/index.ts
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for CardSearchResultEntity Event and User
  frontend/test/components/card/search-result-entity/CardSearchResultEntityEvent.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

updated contrib. guide
  CONTRIBUTING.md
Due: none

fix: Added isEditable to movement actions for FAQ
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Update Python base image to version 3.11-alpine3.23
  backend/deploy.Dockerfile
Due: none

Update Dockerfile
  backend/Dockerfile
Due: none

Added an E2E test for this fix, E2E tests work for Chrome and iPad portrait, but not iPad landscape or Webkit
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/test-e2e/specs/desktop/faq-keyboard-navigation-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Made some changes based on the style checker
  frontend/app/components/card/CardFAQEntry.vue
  frontend/test-e2e/specs/desktop/faq-keyboard-navigation-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat: added keyboard navigation for resource reordering
  frontend/app/components/card/CardResource.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check
