Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Revert "perf(e2e): speed up Organization Group Resources specs"
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): deterministic member tests via backend ordering only
  backend/core/management/commands/populate_db.py
  backend/events/views.py
  frontend/test-e2e/actions/navigation/events.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix(e2e): apply activist_0 ordering only in development or CI
  backend/events/views.py
Due: mypy-check

fix(e2e): deterministic event permission tests (#2027)
  backend/events/views.py
  frontend/test-e2e/actions/navigation/events.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Minor code and docstring formatting
  backend/communities/organizations/filters.py
  backend/events/filters.py
Due: mypy-check

Revert removal of int and add note
  backend/events/filters.py
Due: mypy-check

fix/drf spectacular log spwm.
  .github/workflows/ci_e2e_playwright_desktop.yaml
Due: none

DRF/Spectacular warnings dumps. (#2023)
  .github/workflows/ci_e2e_playwright_desktop.yaml
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/filters.py
  backend/communities/organizations/views.py
  backend/core/settings.py
  backend/events/filters.py
  backend/events/views.py
Due: mypy-check

Enable desktop e2e tests for the backend
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
Due: none

Issue 1171: Bring up the entire stack.
  backend/README.md
  backend/core/internal_events.py
  backend/core/serializers.py
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/README.md
Due: mypy-check

Issue 1171: Pipeline tests.
  backend/content/tests/image/test_image_icon_create.py
  backend/core/serializers.py
  backend/core/tests/test_throttling.py
  services/filescan/README.md
Due: mypy-check

Issue 1171: Pipeline tests.
  backend/core/tests/test_throttling.py
Due: mypy-check

test(e2e): member can edit/manage own event (about, resources, faq)
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/card/connect/CardConnect.vue
  frontend/app/components/card/connect/CardConnectEvent.vue
  frontend/app/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

e2e: faster scroll + lint fixes (attribute/import order)
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/card/connect/CardConnect.vue
  frontend/app/components/card/connect/CardConnectEvent.vue
  frontend/app/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): stabilize member can edit own event FAQ and resources tests in CI
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): stabilize admin resources and FAQ CRUD in CI
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

style: prettier format event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

E2E: Member can edit own event (About, Resources, FAQ) + fix edit icon for owners (#2031)
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/card/connect/CardConnect.vue
  frontend/app/components/card/connect/CardConnectEvent.vue
  frontend/app/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix threshold of unit tests
  frontend/app/services/event/text.ts
  frontend/test/composables/queries/useLocation.spec.ts
  frontend/test/services/location.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: QR code modal not opening from share modal (#2022)
  frontend/app/components/modal/ModalSharePage.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/test-e2e/component-objects/ShareModal.ts
  frontend/test-e2e/page-objects/organization/OrganizationPage.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-qr-code.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add per-step a11y scans for event create modal
  frontend/test-e2e/accessibility/accessibilityTesting.ts
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): use Playwright test.step for modal a11y scans
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): per-step axe coverage for event create modal (#2034)
  frontend/test-e2e/accessibility/accessibilityTesting.ts
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

remove unnecesary render-modal prop
  frontend/app/components/modal/ModalSharePage.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
Due: prettier-eslint-checks, run-i18n-check

fix e2e qr code button click
  frontend/test-e2e/specs/all/events/event-about/event-about-qr-code.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor: abstract ModalQRCode component to be reusable
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/app/composables/useQRCode.ts
  frontend/app/constants/qrCode.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

refactor: abstract ModalQRCodeBtn; change component call; removed any type
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/about/CardAboutOrganization.vue
  frontend/app/components/modal/ModalSharePage.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/app/composables/useQRCode.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

test(e2e): navigate to last event via API for member flows
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor: use useLinkUrl composable in CardDetails
  frontend/app/components/card/CardDetails.vue
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/test-e2e/actions/navigation/events.ts
Due: prettier-eslint-checks, run-i18n-check

refactor: use useLinkUrl composable in CardAboutGroup and CardAboutOrganization
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/about/CardAboutOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): use events API for “last event” navigation in member permission flows (#2035)
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: add QR code new props tests
  frontend/test/components/modal/ModalSharePage.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: QR code modal not opening from share modal (#2022) (#2033)
  frontend/app/components/modal/ModalSharePage.vue
  frontend/test-e2e/component-objects/ShareModal.ts
  frontend/test-e2e/page-objects/organization/OrganizationPage.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-qr-code.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-qr-code.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): events list and event about API error coverage
  frontend/test-e2e/specs/all/events-list-api-errors.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-api-errors.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Added 'Clear Filters' button to left side events filters and implemented clear filters function
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check
