Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy . --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_eslint_checks.py
        language: python
        pass_filenames: false

Add detailed logging to group and flag API views
  backend/communities/groups/views.py
Due: mypy-check

Add logging to organization serializers
  backend/communities/organizations/serializers.py
Due: mypy-check

Add detailed logging to organization views
  backend/communities/organizations/views.py
Due: mypy-check

Improve logging in ImageSerializer and EXIF scrubber
  backend/content/serializers.py
Due: mypy-check

Add logging to image file handling functions
  backend/content/models.py
Due: mypy-check

Add logging for invalid date validation errors
  backend/utils/utils.py
Due: mypy-check

Add detailed logging to event-related API views
  backend/events/views.py
Due: mypy-check

Add logging to event serializers
  backend/events/serializers.py
Due: mypy-check

Remove unused exception variable in set_filename_to_uuid
  backend/content/models.py
Due: mypy-check

Add type annotations to admin model methods
  backend/authentication/admin.py
Due: mypy-check

chore: refactor entity social links views
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/social_link/test_event_social_link_update.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

test: relax unauthenticated error message assertion for user flag creation
  backend/authentication/tests/flag/test_user_flag_create.py
Due: mypy-check

Format all files with logging changes + add fxn parameters
  backend/authentication/admin.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/tests/test_auth.py
  backend/authentication/tests/test_serializers.py
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/content/serializers.py
  backend/events/views.py
  backend/utils/utils.py
Due: mypy-check

Improve and Add Logging Across Python Files (#1391)
  backend/authentication/admin.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/tests/test_auth.py
  backend/authentication/tests/test_serializers.py
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/content/serializers.py
  backend/events/serializers.py
  backend/events/views.py
  backend/utils/utils.py
Due: mypy-check

end branch feature/authenticated-test-client-fixture
  backend/tests.md
Due: none

chore: created calendarEvents
  frontend/components/events/EventsCalendar.vue
  frontend/components/media/MediaCalendar.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/pages/events/index.vue
  frontend/types/color.ts
  frontend/utils/utils.ts
Due: run-i18n-check, prettier-eslint-checks

fix: i18n-check pre-commit bug fix
  .pre-commit-config.yaml
Due: none

refactor: added no-console es-lint rule
  frontend/eslint.config.mjs
Due: run-i18n-check, prettier-eslint-checks

refactor: removed all console logs
  frontend/components/FriendlyCaptcha.vue
  frontend/components/card/CardTopicSelection.vue
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/components/form/FormTemplate.vue
  frontend/components/form/text/FormTextInput.vue
  frontend/components/form/text/FormTextInputSearch.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/composables/useFormCheckboxRadio.ts
  frontend/composables/useMap.ts
  frontend/composables/useRoutingMap.ts
  frontend/layouts/event/EventList.vue
  frontend/layouts/event/EventPage.vue
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationList.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/nuxt.config.ts
  frontend/pages/events/create.vue
  frontend/test-e2e/accessibility/accessibilityTesting.ts
  frontend/test-e2e/accessibility/axe-reporter.ts
  frontend/test-e2e/specs/all/events-page.spec.ts
  frontend/test-e2e/specs/all/home-page.spec.ts
  frontend/test-e2e/specs/all/organizations-page.spec.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test-e2e/specs/desktop/landing-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page.spec.ts
  frontend/types/command-palette.ts
Due: run-i18n-check, prettier-eslint-checks

refactor: removed all console.error()
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/grid/GridGitHubShields.vue
  frontend/components/media/image-carousel/MediaImageCarousel.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/modal/ModalCommandPalette.vue
  frontend/components/modal/upload-images/ModalUploadImages.vue
  frontend/composables/useFileManager.ts
  frontend/directives/sanitize.ts
Due: run-i18n-check, prettier-eslint-checks

refactor: replace tuple with list for permission and authentication classes
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

refactor: replace tuple with list for permission and authentication classes (#1397)
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

chore: added new calendar view event component
  frontend/components/events/EventsCalendar.vue
  frontend/components/media/MediaCalendar.vue
Due: run-i18n-check, prettier-eslint-checks

fix:added header
  frontend/components/media/MediaCalendar.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):taken out trailing characters in events page in empty state
  frontend/pages/events/index.vue
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French) (#1399)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

Refactor useColor and usages within the frontend + cal tooltip colors
  FRONTEND_TESTING.md
  backend/core/management/commands/populate_db.py
  frontend/components/dropdown/DropdownTheme.vue
  frontend/components/events/EventsCalendar.vue
  frontend/components/media/MediaCalendar.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useColor.ts
  frontend/composables/useColorModeImages.ts
  frontend/composables/useMap.ts
  frontend/test/composables/useColor.spec.ts
  frontend/types/color.ts
  frontend/utils/utils.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

1389 calendar events view (#1398)
  FRONTEND_TESTING.md
  backend/core/management/commands/populate_db.py
  frontend/components/dropdown/DropdownTheme.vue
  frontend/components/events/EventsCalendar.vue
  frontend/components/media/MediaCalendar.vue
  frontend/components/media/map/MediaMapEvent.vue
  frontend/components/media/map/MediaMapEvents.vue
  frontend/composables/useColor.ts
  frontend/composables/useColorModeImages.ts
  frontend/composables/useMap.ts
  frontend/pages/events/index.vue
  frontend/test/composables/useColor.spec.ts
  frontend/types/color.ts
  frontend/utils/utils.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Fix password visibility issue in login form
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

Add entity create methods and update the stores to use them
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/events/urls.py
  backend/events/views.py
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/content/social-link.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Reduce backend coverage fail threshold
  .github/workflows/pr_ci_backend.yaml
Due: none

Translated using Weblate (Portuguese)
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Revert coverage decrease, methods to update instead of put
  .github/workflows/pr_ci_backend.yaml
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/views.py
  backend/events/tests/social_link/test_event_social_link_update.py
  backend/events/views.py
Due: mypy-check

Reduce backend coverage fail threshold - 2
  .github/workflows/pr_ci_backend.yaml
Due: none

Translated using Weblate (Portuguese) (#1403)
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Refactor of views for Groups, Organizations and Events Social Links. (#1392)
  .github/workflows/pr_ci_backend.yaml
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/social_link/test_event_social_link_update.py
  backend/events/urls.py
  backend/events/views.py
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/content/social-link.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Fix password visibility issue in login form (#1402)
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

Fix password visibility and form submission issues
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix password visibility toggle and form submission issues
  .claude/settings.local.json
  frontend/components/form/text/FormTextInputPassword.vue
  frontend/package-lock.json
  frontend/test/components/dropdown/DropdownTheme.spec.ts
  frontend/test/components/form/Form.spec.ts
  frontend/test/components/form/text/FormTextInput.spect.ts
  frontend/test/pages/auth/sign-up.spec.ts
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks
