Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

Fix the dependency installation in the i18n-check CI workflow
  .github/workflows/pr_ci_i18n.yaml
  frontend/test/components/shield/Shield.spec.ts
  frontend/test/components/shield/ShieldApp.spec.ts
  frontend/test/components/shield/ShieldGitHub.spec.ts
  frontend/test/components/shield/ShieldPrivate.spec.ts
  frontend/test/components/shield/ShieldTopic.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix workflow command
  .github/workflows/pr_ci_i18n.yaml
Due: none

Attempt to fix workflow directory
  .github/workflows/pr_ci_i18n.yaml
Due: none

Make root default dir and run i18n-check with uv
  .github/workflows/pr_ci_i18n.yaml
Due: none

Use backend as project for uv run
  .github/workflows/pr_ci_i18n.yaml
Due: none

Fix the dependency installation in the i18n-check CI workflow (#1810)
  .github/workflows/pr_ci_i18n.yaml
  frontend/test/components/shield/Shield.spec.ts
  frontend/test/components/shield/ShieldApp.spec.ts
  frontend/test/components/shield/ShieldGitHub.spec.ts
  frontend/test/components/shield/ShieldPrivate.spec.ts
  frontend/test/components/shield/ShieldTopic.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Misc code quality fixes
  frontend/app/pages/organizations/[orgId]/affiliates.vue
  frontend/shared/utils/errorHandler.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntity.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/form/text/FormTextInputPassword.spec.ts
  frontend/test/components/shield/Shield.spec.ts
  frontend/test/components/shield/ShieldGitHub.spec.ts
  frontend/test/composables/useColor.spec.ts
  frontend/test/constants/captcha.spec.ts
  frontend/test/setup.ts
  frontend/test/stores/group.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat:added verification check for reordering
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

fix: prettier formatting
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for Loading component (#1807)
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat: added keyboard navigation for resource reordering (#1802)
  frontend/app/components/card/CardResource.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

Update PR template with bullet points of what to include in the description
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

#1325 Update ts-backend-check in dev dependencies + update workflow
  .github/workflows/pr_ci_ts_backend_check.yaml
  backend/uv.lock
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix i18n-check error by removing now unused key
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#1812)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Update changelog for to remove an impossible release date
  docs/product/about/changelog.md
Due: none

Update changelog for to remove an impossible release date (#1813)
  docs/product/about/changelog.md
Due: none

Update backend dev dependencies (clearer i18n-check errors)
  backend/uv.lock
Due: none

Update deployment Dockerfile to Python 3.13
  backend/deploy.Dockerfile
Due: none

chore: reworked create event with added requested changes which added composables, components and services with it too + now json for create event is sent correctly
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/form/radio/FormRadio.vue
  frontend/app/components/form/radio/FormRadioBtn.vue
  frontend/app/components/form/radio/FormRadioBtns.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/composables/mutations/index.ts
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/composables/queries/index.ts
  frontend/app/composables/queries/useLocation.ts
  frontend/app/services/event/event.ts
  frontend/app/services/index.ts
  frontend/app/services/location.ts
  frontend/i18n/locales/en-US.json
  frontend/shared/types/components-props.ts
  frontend/shared/types/event.d.ts
  frontend/shared/types/location-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

fix: typing
  frontend/shared/types/components-props.ts
Due: prettier-eslint-checks, run-i18n-check

Security hardening: Update vulnerable base image (#1799)
  backend/deploy.Dockerfile
Due: none

fix: headers
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/services/location.ts
Due: prettier-eslint-checks, run-i18n-check

Fix i18n-check errors and update frontend formatting
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/form/radio/FormRadioBtn.vue
  frontend/app/components/form/radio/FormRadioBtns.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/composables/queries/useLocation.ts
  frontend/app/services/event/event.ts
  frontend/app/services/location.ts
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

Removed Clear Filter Button and associated tests
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test/components/sidebar/SidebarLeftFilterEvents.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added services create for organizations and group
  frontend/app/components/form/radio/FormRadioBtns.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/mutations/index.ts
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/shared/types/components-props.ts
  frontend/shared/types/group.d.ts
  frontend/shared/types/organization.d.ts
Due: prettier-eslint-checks, run-i18n-check

fix: rename offline location to physical location
  backend/content/tests/image/test_image_serializer.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/filters.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_filters.py
  backend/events/views.py
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/media/map/MediaMapEvent.vue
  frontend/app/components/media/map/MediaMapEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/services/event/event.ts
  frontend/app/stores/machines/create-event.ts
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/it.json
  frontend/shared/types/create-event-type.d.ts
  frontend/shared/types/event.d.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/test-e2e/component-objects/EventsFilter.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/stores/event.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

docs: update offline references to physical location
  docs/organization/community/code-of-conduct.md
  docs/product/mvp/event-pages.md
  docs/product/mvp/markdown.md
Due: none

chore: fix Prettier formatting issues
  frontend/app/components/media/map/MediaMapEvents.vue
  frontend/test-e2e/component-objects/EventsFilter.ts
Due: prettier-eslint-checks, run-i18n-check

docs: update code of conduct terminology
  .github/CODE_OF_CONDUCT.md
Due: none

fix: tests
  frontend/app/components/form/radio/FormRadioBtns.vue
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/shared/types/components-props.ts
  frontend/test/services/communities/organization/organization.spec.ts
  frontend/test/services/event/event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: prettier
  frontend/app/services/communities/group/group.ts
  frontend/app/services/event/event.ts
  frontend/test/services/event/event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix wording in docs + dinal fixes of in person to physical
  docs/product/mvp/event-pages.md
  docs/product/mvp/markdown.md
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/stores/machines/create-event.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/shared/types/machines/create-events-steps.ts
  frontend/test-e2e/component-objects/EventsFilter.ts
Due: prettier-eslint-checks, run-i18n-check

fix: rename offline location to physical location (#1815)
  .github/CODE_OF_CONDUCT.md
  backend/content/tests/image/test_image_serializer.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/filters.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_filters.py
  backend/events/views.py
  docs/organization/community/code-of-conduct.md
  docs/product/mvp/event-pages.md
  docs/product/mvp/markdown.md
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/media/map/MediaMapEvent.vue
  frontend/app/components/media/map/MediaMapEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/services/event/event.ts
  frontend/app/stores/machines/create-event.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/shared/types/create-event-type.d.ts
  frontend/shared/types/event.d.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/test-e2e/component-objects/EventsFilter.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/stores/event.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

chore: added tests for machine architecture
  frontend/app/stores/machines/flow.ts
  frontend/test/composables/useFlowScreens.spec.ts
  frontend/test/stores/create-event.spec.ts
  frontend/test/stores/create-group.spec.ts
  frontend/test/stores/create-organization.spec.ts
  frontend/test/stores/flow.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: fix tests, format and added missing liscensing headers
  frontend/test/composables/useFlowScreens.spec.ts
  frontend/test/stores/create-event.spec.ts
  frontend/test/stores/create-group.spec.ts
  frontend/test/stores/create-organization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: removed unnecesary file
  frontend/shared/types/btn-props.ts
Due: prettier-eslint-checks, run-i18n-check

fix: added missing header in file
  frontend/test/stores/flow.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: build
  frontend/app/components/btn/BtnTag.vue
  frontend/app/components/btn/action/BtnAction.vue
  frontend/app/components/btn/action/BtnActionAdd.vue
  frontend/app/components/btn/action/BtnActionDropdown.vue
  frontend/app/components/btn/route/BtnRouteExternal.vue
  frontend/app/components/btn/route/BtnRouteInternal.vue
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
