Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

test(events): add API tests for days_ahead and active_on filters
  backend/events/tests/test_event_filters.py
Due: mypy-check

fix(events): include events through end of target day in days_ahead filter
  backend/events/filters.py
Due: mypy-check

fix(events): prevent event list from disappearing on invalid page
  frontend/app/services/event/event.ts
Due: prettier-eslint-checks, run-i18n-check

Misc comment fixes in frontend
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/shared/utils/routeUtils.ts
  frontend/test-e2e/specs/all/navigation/route-query-topics-stability.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Remove repeat of the spdx checker pre-commit hook
  .pre-commit-config.yaml
Due: none

Pre commit update (#1771)
  .pre-commit-config.yaml
Due: none

Translated using Weblate (Turkish)
  frontend/i18n/locales/tr.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Turkish) (#1774)
  frontend/i18n/locales/tr.json
Due: prettier-eslint-checks, run-i18n-check

fixed formating error
  frontend/test/composables/useFileManager.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix: FAQ item rendering to use CardFAQEntry component and enhance keyboard navigation
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Refactor: Implemented useDraggableKeyboardNavigation composable for keyboard navigation in draggable lists
  frontend/app/composables/generic/index.ts
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Fix: Remove unused import of nextTick in useDraggableKeyboardNavigation composable
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
Due: prettier-eslint-checks, run-i18n-check

chore: Remove unnecessary documentation comments from useDraggableKeyboardNavigation composable
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
Due: prettier-eslint-checks, run-i18n-check

chore: Remove unused import of Ref in useDraggableKeyboardNavigation composable
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
Due: prettier-eslint-checks, run-i18n-check

Fix: Simplify item swapping and order recalculation in useDraggableKeyboardNavigation composable
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
Due: prettier-eslint-checks, run-i18n-check

fix: Fixed FAQ card items losing focus when reorder above current position
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

style: Fixed style to pass linting and formatting test
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

style: Changed variable name of cardList in useDraggableKeyboardNavigation composable to elementList to be generic
  frontend/app/composables/generic/useDraggableKeyboardNavigation.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(events): remove deprecated active_on filter and migrate fully to days_ahead
  backend/events/filters.py
  backend/events/tests/test_event_filters.py
  frontend/shared/types/event.d.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix(events): centralize invalid-page handling in shared errorHandler and remove silent swallow in listEvents
  frontend/app/services/event/event.ts
  frontend/shared/utils/errorHandler.ts
Due: prettier-eslint-checks, run-i18n-check

backend text ISO's
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/content/models.py
  backend/core/management/commands/populate_db_utils/populate_org_events.py
  backend/core/management/commands/populate_db_utils/populate_org_group_event.py
  backend/core/management/commands/populate_db_utils/populate_org_groups.py
  backend/core/management/commands/populate_db_utils/populate_orgs.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  frontend/app/constants/event.ts
  frontend/app/constants/group.ts
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/text.ts
  frontend/shared/types/event.d.ts
  frontend/shared/types/group.d.ts
  frontend/shared/types/organization.d.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Tests for Filter Event toggle options added
  frontend/test/components/sidebar/SidebarLeftFilterEvents.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(Event Filter): Filter toggle plus clear filter button
  frontend/app/components/form/selector/FormSelectorRadio.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/el.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/ja.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Intermittent tests currently not working
  frontend/app/components/form/selector/FormSelectorRadio.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
  frontend/test/components/sidebar/SidebarLeftFilterEvents.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added new screen event type and roles
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTypeAndRoles.vue
  frontend/app/composables/useComboboxInput.ts
  frontend/app/composables/useFlowScreens.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/shared/types/machines/index.ts
  frontend/shared/types/machines/machine-type.d.ts
  frontend/shared/types/organization.d.ts
Due: prettier-eslint-checks, run-i18n-check

feat(MediaMap): Implement onUnmounted cleanup and optimize cluster logic
  frontend/app/components/media/map/MediaMap.vue
Due: prettier-eslint-checks, run-i18n-check

Fix(Feature): toggleling works as intended and so do tests
  frontend/app/components/form/selector/FormSelectorRadio.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test/components/sidebar/SidebarLeftFilterEvents.spec.ts
Due: prettier-eslint-checks, run-i18n-check

generated menu tests
  frontend/test/components/menu/MenuItemLabel.spec.ts
  frontend/test/components/menu/MenuLinkWrapper.spec.ts
  frontend/test/components/menu/MenuSearchResult.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added unit test for filemanager (#1770)
  frontend/test/composables/useFileManager.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added new screen event location and dates
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/dropdown/DropdownCreate.vue
  frontend/app/components/dropdown/DropdownUserOptions.vue
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocationAndTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTypeAndRoles.vue
  frontend/app/components/menu/MenuLinkWrapper.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/composables/useComboboxInput.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/app/stores/machines/index.ts
  frontend/shared/types/machines/machine-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

fixing license issue
  frontend/test/components/menu/MenuLinkWrapper.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(map): Implement full composable cleanup and map transition settings (resolves build errors)
  frontend/app/components/media/map/MediaMap.vue
Due: prettier-eslint-checks, run-i18n-check

fix: prettier
  frontend/test/components/menu/MenuSearchResult.spec.ts
Due: prettier-eslint-checks, run-i18n-check

generated menu tests (#1778)
  frontend/test/components/menu/MenuItemLabel.spec.ts
  frontend/test/components/menu/MenuLinkWrapper.spec.ts
  frontend/test/components/menu/MenuSearchResult.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Added Testfiles for CardSearchResultEntity + Organization + Group
  frontend/test/components/card/search-result-entity/CardSearchResultEntity.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Added Testfiles for CardSearchResultEntity Event + User
  frontend/package-lock.json
  frontend/test/components/card/search-result-entity/CardSearchResultEntityEvent.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityUser.spec.ts
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix(events): treat days_ahead as rolling window from now and add boundary test
  backend/events/filters.py
  backend/events/tests/test_event_filters.py
Due: mypy-check

Do full backend dependency update
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/test/composables/useFileManager.spec.ts
Due: prettier-eslint-checks, run-i18n-check

docs: add step to dev contributor process
  CONTRIBUTING.md
Due: none
