Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

Minor spacing within content urls
  backend/content/urls.py
Due: mypy-check

Rename menu sub page to tabs component and type throughout project
  frontend/components/Tabs.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/types/tab.ts
  frontend/utils/groupSubPages.ts
Due: run-i18n-check, prettier-eslint-checks

fix(normalizePath): split regex to remove alternation (#1454)
  frontend/utils/routeUtils.ts
Due: run-i18n-check, prettier-eslint-checks

feat: allow admin and creator to edit entity text (#1451)
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/views.py
  backend/events/models.py
  backend/events/views.py
Due: mypy-check

Update stores and add draggable icon to cards
  frontend/components/Tabs.vue
  frontend/components/card/CardFAQEntry.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/components/modal/faq-entry/ModalFaqEntryOrganization.vue
  frontend/i18n/en-US.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

feat: make FAQ entries draggable across orgs, groups, and events (#1444)
  frontend/components/Tabs.vue
  frontend/components/card/CardFAQEntry.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/components/modal/faq-entry/ModalFaqEntryOrganization.vue
  frontend/i18n/en-US.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

Update e2e test docs to be explicit that we're in production mode
  CONTRIBUTING.md
Due: none

#814 #817 Add all needed models and factories for loading in resources
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/content/factories.py
  backend/content/models.py
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  docker-compose.yml
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/modal/ModalSharePage.vue
  frontend/composables/useLinkURL.ts
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/content/resource.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Reduce backend coverage to bring in new code for resources
  .github/workflows/pr_ci_backend.yaml
Due: none

tests for entity texts
  backend/communities/groups/tests/text/test_group_text_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/text/test_org_text_update.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/events/tests/text/test_event_text_update.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

chore: added license headers for test files.
  backend/communities/groups/tests/text/test_group_text_update.py
  backend/communities/organizations/tests/text/test_org_text_update.py
  backend/events/tests/text/test_event_text_update.py
Due: mypy-check

Update serializers, factories and tests to finalize resource calls
  .github/workflows/pr_ci_backend.yaml
  backend/communities/groups/factories.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/communities/groups/tests/resource/test_group_resource_create.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/tests/resource/test_org_resource.py
  backend/communities/organizations/tests/resource/test_org_resource_create.py
  backend/content/factories.py
  backend/content/models.py
  backend/content/tests/discussion/entry/test_discussion_entry_create.py
  backend/content/tests/resource/test_resource_create.py
  backend/content/tests/resource/test_resource_partial_update.py
  backend/content/tests/resource/test_resource_update.py
  backend/events/factories.py
  backend/events/serializers.py
Due: mypy-check

#814 #817 Add all needed models and factories for loading in resources (#1459)
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/communities/groups/tests/resource/test_group_resource_create.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/resource/test_org_resource.py
  backend/communities/organizations/tests/resource/test_org_resource_create.py
  backend/content/factories.py
  backend/content/models.py
  backend/content/tests/discussion/entry/test_discussion_entry_create.py
  backend/content/tests/resource/test_resource_create.py
  backend/content/tests/resource/test_resource_partial_update.py
  backend/content/tests/resource/test_resource_update.py
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  docker-compose.yml
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/modal/ModalSharePage.vue
  frontend/composables/useLinkURL.ts
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/content/resource.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

test: Added tests for Entity Text viewsets (#1460)
  backend/communities/groups/tests/text/test_group_text_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/text/test_org_text_update.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/events/tests/text/test_event_text_update.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

test: added tests for exporting events as .ics file and events social-links update and delete.
  backend/events/tests/calender/test_export_events_ics.py
  backend/events/tests/social_link/test_event_social_link_create.py
  backend/events/tests/social_link/test_event_social_link_delete.py
Due: mypy-check

test: added tests for exporting events as .ics file and events social-links update and delete. (#1461)
  backend/events/tests/calender/test_export_events_ics.py
  backend/events/tests/social_link/test_event_social_link_create.py
  backend/events/tests/social_link/test_event_social_link_delete.py
Due: mypy-check

chore(frontend): refactor uplaad images and image file tests
  frontend/components/image/ImageMultipleFileDropZone.vue
  frontend/components/media/image-carousel/MediaImageCarousel.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/components/modal/upload-image/ModalUploadImageIcon.vue
  frontend/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/composables/useFileManager.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/test/components/image/ImageFileDropzone.spec.ts
  frontend/types/content/file.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend): added missing headers
  frontend/components/image/ImageMultipleFileDropZone.vue
Due: run-i18n-check, prettier-eslint-checks

chore(frontend): added missing headers
  frontend/test/components/image/ImageFileDropzone.spec.ts
Due: run-i18n-check, prettier-eslint-checks

updated entities to inherit from their base content models
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/events/models.py
  backend/events/tests/social_link/test_event_social_link_create.py
Due: mypy-check

created Text Model for the other models to inherit
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/content/models.py
  backend/events/models.py
Due: mypy-check

fix: typecheck
  frontend/components/modal/ModalMediaImageCarousel.vue
Due: run-i18n-check, prettier-eslint-checks

feat(social-links): preserve inputs when dragging newly added links; smarter resets and mapping
  backend/events/tests/social_link/test_event_social_link_create.py
  frontend/components/form/FormSocialLink.vue
Due: mypy-check, run-i18n-check, prettier-eslint-checks

changed created_at to created_on for OrganizationFlag
  backend/communities/admin.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
Due: mypy-check

Update created_on to creation_date throughout backend
  backend/authentication/admin.py
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/communities/admin.py
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/content/admin.py
  backend/content/factories.py
  backend/content/models.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/models.py
Due: mypy-check

updated entities to inherit from their base content models (#1464)
  backend/authentication/admin.py
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/communities/admin.py
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/content/admin.py
  backend/content/factories.py
  backend/content/models.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/tests/social_link/test_event_social_link_create.py
Due: mypy-check

Translated using Weblate (Arabic)
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Arabic) (#1471)
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Italian)
  frontend/i18n/it.json
Due: run-i18n-check, prettier-eslint-checks

small fix
  backend/authentication/admin.py
Due: mypy-check

Translated using Weblate (Italian) (#1472)
  frontend/i18n/it.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French) (#1474)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

TEST: added test for communities groups serializers
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
Due: mypy-check

feat: post and delete for session models work with a small change to the session urls. added tests for 403 status codes
  backend/authentication/tests/session/test_session_delete.py
  backend/authentication/tests/session/test_session_get.py
  backend/authentication/tests/session/test_session_post.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

fix: mypy errors
  backend/authentication/admin.py
  backend/authentication/views.py
  backend/communities/admin.py
  backend/content/admin.py
  backend/events/admin.py
Due: mypy-check

Minor formatting of testing code
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
Due: mypy-check

TEST: Added tests for communities groups serializers (#1475)
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
Due: mypy-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
