Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

Translated using Weblate (Japanese)
  frontend/i18n/locales/ja.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#1803)
  frontend/i18n/locales/ja.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

chore: added new filter of groups and organizaions
  backend/communities/groups/filters.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  frontend/app/components/form/Form.vue
  frontend/app/components/form/FormItem.vue
  frontend/app/components/form/location/FormLocationAddress.vue
  frontend/app/components/form/location/FormLocationCountry.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/composables/queries/index.ts
  frontend/app/composables/queries/useGetGroups.ts
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/composables/useUser.ts
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/stores/data/group.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/package.json
  frontend/shared/types/create-event-type.d.ts
  frontend/shared/types/group.d.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/shared/types/machines/create-group-steps.ts
  frontend/shared/types/machines/create-organizations-steps.ts
  frontend/yarn.lock
Due: mypy-check, prettier-eslint-checks, run-i18n-check

chore:created new selector component to select countries
  frontend/app/components/form/selector/FormSelectorComboboxCountry.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/plugins/i18n-iso-countries.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Update PR template to direct main files description + tests written in checklist
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_maintainer_checklist.yaml
Due: none

chore: schedule screen is being finished, removed unnecesary screen and added manual logic steps for more complex steps system
  frontend/app/components/form/Form.vue
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxCountry.vue
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTypeAndRoles.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupTopicsAndSocialLinks.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsTopicsAndSocialLinks.vue
  frontend/app/components/machines/Machine.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/machine-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for Shield.vue
  frontend/test/components/shield/Shield.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor: make Shield.spec.ts more robust
  frontend/test/components/shield/Shield.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for Shield.vue variants
  frontend/test/components/shield/ShieldApp.spec.ts
  frontend/test/components/shield/ShieldGitHub.spec.ts
  frontend/test/components/shield/ShieldPrivate.spec.ts
  frontend/test/components/shield/ShieldTopic.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: fix typo
  frontend/test/components/shield/ShieldTopic.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: change progress bar color and fix infinite scroll for orgaanizations
  backend/communities/organizations/views.py
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/services/communities/organization/organization.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Refactor FAQ test structure and assertions
  backend/content/tests/faq/test_faq.py
Due: mypy-check

chore: added disabled in FormCombobox
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
Due: prettier-eslint-checks, run-i18n-check

chore: remove console logs in frontend
  frontend/app/components/form/Form.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/composables/queries/useGetGroups.ts
  frontend/app/plugins/i18n-iso-countries.ts
Due: prettier-eslint-checks, run-i18n-check

Ruff formatting/linting fixes + license headers
  backend/communities/groups/filters.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/useComboboxInput.ts
  frontend/app/composables/useFlowScreens.ts
  frontend/app/plugins/i18n-iso-countries.ts
  frontend/app/stores/data/index.ts
  frontend/app/stores/index.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/app/stores/machines/flow.ts
  frontend/app/stores/machines/index.ts
  frontend/shared/types/create-event-type.d.ts
  frontend/shared/types/index.ts
  frontend/shared/types/machine-type.d.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/shared/types/machines/create-group-steps.ts
  frontend/shared/types/machines/create-organizations-steps.ts
  frontend/shared/types/machines/index.ts
  frontend/shared/types/machines/machine-create.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

test: add unit tests for Loading component
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Code formatting and linting fixes
  backend/communities/organizations/views.py
  frontend/app/components/dropdown/DropdownCreate.vue
  frontend/app/components/form/Form.vue
  frontend/app/components/form/FormItem.vue
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/components/form/location/FormLocationAddress.vue
  frontend/app/components/form/location/FormLocationCountry.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxCountry.vue
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocationAndTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/queries/useGetGroups.ts
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/composables/useFlowScreens.ts
  frontend/app/plugins/i18n-iso-countries.ts
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/create-event-type.d.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Final prettier fixes and license header fixes
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

Add all necessary i18n keys and fixes for them
  frontend/app/components/form/FormTemplate.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocationAndTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/composables/useMenuEntriesState.ts
  frontend/app/pages/auth/pwreset/email.vue
  frontend/app/pages/auth/sign-in.vue
  frontend/app/pages/auth/sign-up.vue
  frontend/app/pages/contact.vue
  frontend/app/pages/events/create.vue
  frontend/app/pages/groups/create.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/create.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Remove unneeded files and fix mypy error
  backend/communities/organizations/views.py
  frontend/app/components/form/location/FormLocationAddress.vue
  frontend/app/components/form/location/FormLocationCountry.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Fixes to TS errors, comment improvements and misc fixes
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/useComboboxInput.ts
  frontend/app/composables/useFlowScreens.ts
  frontend/app/pages/events/[eventId]/index.vue
  frontend/app/pages/organizations/[orgId]/index.vue
  frontend/app/plugins/i18n-iso-countries.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/app/stores/machines/flow.ts
  frontend/app/stores/machines/index.ts
  frontend/i18n/locales/en-US.json
  frontend/shared/types/machine-type.d.ts
  frontend/shared/types/machines/index.ts
Due: prettier-eslint-checks, run-i18n-check

Fix Vitest tests including changes given paginated groups endpoint
  frontend/app/components/form/FormItem.vue
  frontend/app/components/form/FormLabel.vue
  frontend/app/services/communities/group/group.ts
  frontend/test/components/form/FormTextEntity.spec.ts
  frontend/test/services/communities/group/group.spec.ts
  frontend/test/stores/event.spec.ts
  frontend/test/stores/group.spec.ts
  frontend/test/stores/organization.spec.ts
  frontend/test/stores/topics.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix prettier formatting
  frontend/app/components/form/FormLabel.vue
Due: prettier-eslint-checks, run-i18n-check

Fix Vitest test
  frontend/test/components/form/FormTextEntity.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix:verify header cheker
  frontend/test-e2e/specs/desktop/faq-keyboard-navigation-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix/tab reordering (#1801)
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/test-e2e/specs/desktop/faq-keyboard-navigation-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for Shield.vue and variants (#1798)
  frontend/test/components/shield/Shield.spec.ts
  frontend/test/components/shield/ShieldApp.spec.ts
  frontend/test/components/shield/ShieldGitHub.spec.ts
  frontend/test/components/shield/ShieldPrivate.spec.ts
  frontend/test/components/shield/ShieldTopic.spec.ts
Due: prettier-eslint-checks, run-i18n-check

#Added Testfiles for CardSearchResultEntity + Organization + Group (#1781)
  frontend/test/components/card/search-result-entity/CardSearchResultEntity.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityGroup.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: add Loading Animation Logic test cases
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Minor updates to documentation to sync contributing and readme
  CONTRIBUTING.md
  README.md
Due: none

Fix minimum Python version for docs
  CONTRIBUTING.md
  README.md
Due: none

test: simplify Loading component tests
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update readme to remove unneeded directions + update dev dependencies
  README.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

Upgrading to django 6 and moving from pip-tools to uv (#1792)
  .github/workflows/pr_ci_backend.yaml
  CONTRIBUTING.md
  README.md
  backend/.python-version
  backend/Dockerfile
  backend/core/settings.py
  backend/pyproject.toml
  backend/requirements-dev.in
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
  backend/uv.lock
  docker-compose.yml
Due: mypy-check

Add initial JSONs for the entity creation flows
  create_event.json
  create_group.json
  create_org.json
Due: none

fix: correct license header to AGPL-3.0-or-later
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: correct syntax error in beforeEach mount call
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

final fix
  frontend/test/components/loading/Loading.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
