Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

#1417 Order FAQ entries for all edits and adds (#1422)
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/core/management/commands/populate_db.py
  backend/events/models.py
  frontend/assets/css/tailwind.css
  frontend/components/dropdown/DropdownBase.vue
  frontend/components/dropdown/DropdownItemsLayout.vue
  frontend/components/menu/MenuItemLabel.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryEvent.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryGroup.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryOrganization.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/utils/sidebarUtils.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Combine boolean comparisons and simplify fxn return
  backend/events/serializers.py
Due: mypy-check

Remove unneeded blank space in fxn
  backend/events/serializers.py
Due: mypy-check

Correct code smells found in file activist > backend > events > serializers.py (#1415)
  backend/events/serializers.py
Due: mypy-check

#1417 Simplify add faq entries modal
  frontend/components/form/FormFAQEntry.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryEvent.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryGroup.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryOrganization.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryEvent.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryGroup.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryOrganization.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

Misc composables edits
  frontend/composables/useClusterMap.ts
  frontend/composables/useDebounce.ts
  frontend/composables/useFileManager.ts
  frontend/composables/useRoutingMap.ts
Due: run-i18n-check, prettier-eslint-checks

1419 fix and refactor modal images upload (#1421)
  frontend/composables/useClusterMap.ts
  frontend/composables/useDebounce.ts
  frontend/composables/useFileManager.ts
  frontend/composables/useRoutingMap.ts
Due: run-i18n-check, prettier-eslint-checks

chore(backend);refactored images service for an array of images only and created image_icon service for adding single icon image
  backend/content/serializers.py
  backend/content/urls.py
  backend/content/views.py
Due: mypy-check

#682 Update user model in backend to not recreate default field
  backend/authentication/models.py
  frontend/utils/sidebarUtils.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

#682 Fix test and remove localization from backend fields
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests/test_auth.py
  backend/authentication/views.py
  backend/content/serializers.py
  backend/utils/utils.py
Due: mypy-check

#682 Update user model in backend to not recreate default field (#1425)
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/tests/test_auth.py
  backend/authentication/views.py
  backend/content/serializers.py
  backend/utils/utils.py
  frontend/utils/sidebarUtils.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

refactor: merged add and edit modals
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryEvent.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryGroup.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryOrganization.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryEvent.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryGroup.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryOrganization.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

refactor
  frontend/components/form/FormFAQEntry.vue
  frontend/components/modal/faq-entry/ModalEditFaqEntryEvent.vue
  frontend/components/modal/faq-entry/ModalEditFaqEntryGroup.vue
  frontend/components/modal/faq-entry/ModalEditFaqEntryOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

chore:changed implemented for event page for single upload icon
  backend/content/urls.py
  frontend/components/image/ImageFileDropZone.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/image/ModalImageBtn.vue
  frontend/components/modal/upload-image/ModalUploadIconImage.vue
  frontend/components/modal/upload-image/ModalUploadImages.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/composables/useFileManager.ts
  frontend/layouts/event/EventPage.vue
  frontend/types/entity.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Translated using Weblate (German)
  frontend/i18n/de.json
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):refactored to change organization icon and fixed some organization corrousel functionalities
  frontend/components/media/image-carousel/MediaImageCarousel.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/ModalMediaImageCarousel.vue
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/components/modal/upload-image/ModalUploadImageIcon.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/composables/useFileManager.ts
  frontend/composables/useModalHandlers.ts
  frontend/layouts/event/EventList.vue
  frontend/layouts/event/EventPage.vue
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationList.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/stores/modals.ts
  frontend/stores/organization.ts
  frontend/types/content/file-upload-entity.ts
Due: run-i18n-check, prettier-eslint-checks

fix: i18n check
  frontend/i18n/en-US.json
Due: run-i18n-check, prettier-eslint-checks

fix: added missing header
  frontend/types/entity.ts
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (German) (#1427)
  frontend/i18n/de.json
Due: run-i18n-check, prettier-eslint-checks

Update faq file names and refactor + fixes to social links
  frontend/components/card/CardDetails.vue
  frontend/components/card/CardFAQEntry.vue
  frontend/components/card/about/CardAboutEvent.vue
  frontend/components/card/about/CardAboutGroup.vue
  frontend/components/card/about/CardAboutOrganization.vue
  frontend/components/card/connect/CardConnect.vue
  frontend/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/components/form/FormFAQEntry.vue
  frontend/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/components/modal/faq-entry/ModalFaqEntryOrganization.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/components/modal/text/ModalTextEvent.vue
  frontend/components/modal/text/ModalTextGroup.vue
  frontend/components/modal/text/ModalTextOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
Due: run-i18n-check, prettier-eslint-checks

Fixes to de.json file for i18n
  frontend/i18n/de.json
Due: run-i18n-check, prettier-eslint-checks

refactor: merged add and edit modals (#1426)
  frontend/components/card/CardDetails.vue
  frontend/components/card/CardFAQEntry.vue
  frontend/components/card/about/CardAboutEvent.vue
  frontend/components/card/about/CardAboutGroup.vue
  frontend/components/card/about/CardAboutOrganization.vue
  frontend/components/card/connect/CardConnect.vue
  frontend/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/components/form/FormFAQEntry.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryEvent.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryGroup.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryOrganization.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryEvent.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryGroup.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryOrganization.vue
  frontend/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/components/modal/faq-entry/ModalFaqEntryOrganization.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/components/modal/text/ModalTextEvent.vue
  frontend/components/modal/text/ModalTextGroup.vue
  frontend/components/modal/text/ModalTextOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
Due: run-i18n-check, prettier-eslint-checks

fix: build
  frontend/composables/useFileManager.ts
  frontend/composables/useModalHandlers.ts
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/stores/modals.ts
Due: run-i18n-check, prettier-eslint-checks

Update frontend formatting for all files and raise exception explicitly
  backend/content/serializers.py
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/ModalMediaImageCarousel.vue
  frontend/components/modal/upload-image/ModalUploadImages.vue
  frontend/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/composables/useFileManager.ts
  frontend/layouts/group/GroupPage.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/stores/modals.ts
  frontend/types/entity.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

feat: add draggable functionality to social links modals
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/composables/useSortableList.ts
Due: run-i18n-check, prettier-eslint-checks

Updating Dockerfile and creating CD workflow
  backend/Dockerfile
  backend/core/settings.py
Due: mypy-check

Adding CD workflow
  .github/workflows/pr_cd_backend.yaml
  .github/workflows/pr_ci_backend.yaml
Due: none

Fix all i18n errors and minor file fomatting
  backend/content/serializers.py
  backend/content/views.py
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/upload-image/ModalUploadImageIcon.vue
  frontend/components/modal/upload-image/ModalUploadImages.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: mypy-check, run-i18n-check, prettier-eslint-checks

task: centralized social link component
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Fixing i18n errors in social links and minor code refactor
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/eslint.config.mjs
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

task: centralized social link component (#1431)
  frontend/components/form/FormSocialLink.vue
  frontend/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/eslint.config.mjs
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Fix backend tests and update field name
  backend/content/serializers.py
  backend/content/tests/image/test_image_upload.py
  frontend/composables/useFileManager.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

task: created a common form text component
  frontend/components/form/FormTextEntity.vue
  frontend/components/modal/text/ModalTextEvent.vue
  frontend/components/modal/text/ModalTextGroup.vue
  frontend/components/modal/text/ModalTextOrganization.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

Move i18n conversion into lower component and fix getInvovledText rendering
  backend/communities/groups/models.py
  frontend/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/components/form/FormTextEntity.vue
  frontend/components/modal/text/ModalTextEvent.vue
  frontend/components/modal/text/ModalTextGroup.vue
  frontend/components/modal/text/ModalTextOrganization.vue
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Add validation of text length and url to text modal
  frontend/components/form/FormSocialLink.vue
  frontend/components/form/FormTextEntity.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

task: created a common form text component (#1434)
  backend/communities/groups/models.py
  frontend/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/form/FormTextEntity.vue
  frontend/components/modal/text/ModalTextEvent.vue
  frontend/components/modal/text/ModalTextGroup.vue
  frontend/components/modal/text/ModalTextOrganization.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Update Docker commands in documentation
  .zap/README.md
  CONTRIBUTING.md
  README.md
Due: none

Fixes for i18n and formatting
  frontend/components/icon/IconOrganizationStatus.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/components/modal/upload-image/ModalUploadImageIcon.vue
  frontend/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/composables/useFileManager.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/layouts/event/EventPage.vue
  frontend/types/communities/organization.d.ts
  frontend/types/content/file.ts
Due: run-i18n-check, prettier-eslint-checks

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
