Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Update variable name
  backend/communities/groups/tests/faq/test_group_faq_create.py
Due: mypy-check

Update invalid variable names
  backend/authentication/tests/user_flag/test_auth_user_flag_delete.py
  backend/communities/groups/tests/faq/test_group_faq_delete.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/test_group_retrieve.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/social_link/test_org_social_link_delete.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/content/tests/resource/resource_flag/test_content_resource_flag_delete.py
  backend/content/tests/resource/resource_flag/test_content_resource_flag_retrieve.py
Due: mypy-check

Update social link variable names
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_delete.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/events/tests/social_link/test_event_social_link_update.py
Due: mypy-check

chore: fix typeche
  frontend/app/components/combobox/ComboboxTopics.vue
  frontend/app/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/app/composables/cache/useOrganizationCache.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

feat: Add roles for users within backend
  backend/authentication/enums.py
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/communities/permissions.py
  backend/communities/services.py
Due: mypy-check

fix: surface DRF field-keyed array error messages to the user
  frontend/shared/utils/errorHandler.ts
  frontend/test/utils/errorHandler.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: normalize left sidebar icon sizes
  frontend/app/components/sidebar/left/SidebarLeftSelector.vue
  frontend/test/components/sidebar/SidebarLeftSelector.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: enforce consistent sidebar icon dimensions
  frontend/app/components/sidebar/left/SidebarLeftSelector.vue
  frontend/test/components/sidebar/SidebarLeftSelector.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): use getKeyForEvent instead of the removed EVENT_KEYS export
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(i18n): remove orphaned event schedule keys from ru and es locales
  frontend/i18n/locales/es.json
  frontend/i18n/locales/ru.json
Due: prettier-eslint-checks, run-i18n-check

update test to work with the dummybackend
  .pre-commit-config.yaml
  backend/authentication/tests/test_auth_tasks.py
Due: mypy-check

added a seperate service for the db_worker
  docker-compose.yml
Due: none

removed unreliable get results check for the Dummybackend
  backend/authentication/tests/test_auth_tasks.py
Due: mypy-check

fix(frontend): hydrate event details edit form location and schedule
  backend/content/factories.py
  backend/events/factories.py
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/modal/event/ModalEventDetails.vue
  frontend/shared/utils/date.ts
  frontend/test/utils/date.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix(e2e): harden mobile submenu navigation against listbox race
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/utils/combobox-helpers.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): clear auth cache after DB reset in run-e2e-tests.sh
  run-e2e-tests.sh
Due: none

fix(i18n): rename submit keys under form._global
  frontend/app/components/form/Form.vue
  frontend/app/components/form/FormSearchLocation.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/ru.json
  frontend/test-e2e/component-objects/CreateEventModal.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/component-objects/CreateOrganizationModal.ts
  frontend/test-e2e/page-objects/SignInPage.ts
  frontend/test-e2e/page-objects/SignUpPage.ts
  frontend/test-e2e/page-objects/event/faq/EventFAQPage.ts
  frontend/test-e2e/page-objects/event/resources/EventResourcesPage.ts
  frontend/test-e2e/page-objects/organization/faq/OrganizationFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQModal.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/page-objects/organization/resources/OrganizationResourcesPage.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-content.spec.ts
  frontend/test/components/form/Form.spec.ts
  frontend/test/components/form/FormItem.spec.ts
  frontend/test/pages/auth/pwreset/email.spec.ts
  frontend/test/pages/auth/sign-in.spec.ts
  frontend/test/pages/auth/sign-up.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): satisfy prettier and vue attribute order for static CI
  frontend/app/components/form/Form.vue
  frontend/app/components/form/FormSearchLocation.vue
  frontend/test-e2e/component-objects/CreateEventModal.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/page-objects/event/faq/EventFAQPage.ts
  frontend/test-e2e/page-objects/event/resources/EventResourcesPage.ts
  frontend/test-e2e/page-objects/organization/faq/OrganizationFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQModal.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/page-objects/organization/resources/OrganizationResourcesPage.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-content.spec.ts
  frontend/test/utils/date.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(backend): apply EXIF orientation before stripping metadata on upload
  backend/content/serializers.py
Due: mypy-check

fix: fix unit tests
  frontend/app/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/app/composables/cache/index.ts
  frontend/app/composables/cache/useTopicCache.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/composables/queries/useGetTopics.ts
  frontend/test/components/form/FormResource.spec.ts
  frontend/test/composables/mutations/useEventMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationMutations.spec.ts
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizationByUser.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizations.integration.spec.ts
  frontend/test/composables/queries/integration/useGetTopics.integration.spec.ts
  frontend/test/composables/queries/useGetEvents.spec.ts
  frontend/test/composables/queries/useGetOrganizationByUser.spec.ts
  frontend/test/composables/queries/useGetOrganizations.spec.ts
  frontend/test/composables/queries/useGetTopics.spec.ts
  frontend/test/stores/data/event.spec.ts
  frontend/test/stores/data/organization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): make SidebarLeft icon sizes consistent (#2335)
  frontend/app/components/sidebar/left/SidebarLeftSelector.vue
  frontend/test/components/sidebar/SidebarLeftSelector.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fixes for maintainer messages workflow
  .github/workflows/maintenance_messages.yaml
Due: none

Comment fixes
  backend/content/serializers.py
Due: mypy-check

fix(backend): apply EXIF orientation before stripping metadata on upload (#2336)
  backend/content/serializers.py
Due: mypy-check

Use explicit version for pinia/colada + misc fixes
  frontend/app/composables/cache/index.ts
  frontend/app/composables/index.ts
  frontend/app/middleware/clearQueryOnPathChange.global.ts
  frontend/package.json
  frontend/test/composables/mutations/useEventMutations.spec.ts
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): stabilize event org change and mobile submenu selection
  frontend/test-e2e/specs/all/events/event-about/event-about-details-permissions.spec.ts
  frontend/test-e2e/utils/combobox-helpers.ts
  frontend/test-e2e/utils/event-about-details-helpers.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): retry mobile org submenu open and select against listbox race
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
Due: prettier-eslint-checks, run-i18n-check

fix: fix unit tests that were commented
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/test/composables/queries/useGetEvents.spec.ts
  frontend/test/composables/queries/useGetOrganizationByUser.spec.ts
  frontend/test/composables/queries/useGetOrganizations.spec.ts
  frontend/test/composables/queries/useGetTopics.spec.ts
  frontend/test/setup.ts
Due: prettier-eslint-checks, run-i18n-check

feat(backend): communicate maximum filesize in MB for oversized image uploads (#2332)
  backend/content/serializers.py
  backend/content/tests/image/test_content_image_upload.py
Due: mypy-check

chore: fixed unit tests based on refactor of @pinia/colada + changed onSettled with onSuccess only when service is successful and added unit tests for cache composables
  frontend/app/composables/cache/useGroupCache.ts
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/test/composables/cache/useEventCache.spec.ts
  frontend/test/composables/cache/useGroupCache.spec.ts
  frontend/test/composables/cache/useOrganizationCache.spec.ts
  frontend/test/composables/cache/useTopicCache.spec.ts
  frontend/test/composables/mutations/useEventTextsMutations.spec.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useGroupImageMutations.spec.ts
  frontend/test/composables/mutations/useGroupMutations.spec.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/useGroupSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useGroupTextsMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationTextsMutations.spec.ts
  frontend/test/composables/queries/useGetEvent.spec.ts
  frontend/test/composables/queries/useGetGroup.spec.ts
  frontend/test/composables/queries/useGetOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: e2e tests
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
Due: none

Simplify message to the user
  backend/content/serializers.py
  backend/content/tests/image/test_content_image_upload.py
Due: mypy-check

Use // for file size calculation
  backend/content/serializers.py
Due: mypy-check

Switch over last file size limit message
  backend/content/serializers.py
Due: mypy-check

Revert back to binary bytes to MB conversion
  backend/content/serializers.py
  backend/content/tests/image/test_content_image_upload.py
  backend/core/settings.py
Due: mypy-check

Fix pytest test
  backend/content/tests/image/test_content_image_serializer.py
Due: mypy-check

feat(backend): communicate maximum filesize in MB for oversized image uploads (#2332) (#2340)
  backend/content/serializers.py
  backend/content/tests/image/test_content_image_serializer.py
  backend/content/tests/image/test_content_image_upload.py
  backend/core/settings.py
Due: mypy-check

docs: fix broken section anchors and typos in README and CONTRIBUTING (#1893)
  CONTRIBUTING.md
  README.md
Due: none
