Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Translated using Weblate (Indonesian) (#2389)
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Enable Ukrainian for frontend
  backend/authentication/factories.py
  frontend/shared/utils/i18n.ts
  frontend/shared/utils/locales.ts
  frontend/test/utils/i18n.spec.ts
  frontend/test/utils/locales.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2390)
  backend/authentication/factories.py
  frontend/i18n/locales/uk.json
  frontend/shared/utils/i18n.ts
  frontend/shared/utils/locales.ts
  frontend/test/utils/i18n.spec.ts
  frontend/test/utils/locales.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix(frontend): render theme icon using picture element in spa loading template (#2391)
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

chore(deps): update compatible dependencies
  backend/uv.lock
  frontend/.nuxtrc
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

refactor: extract duplicated validate_event logic into shared helper (#1376)
  backend/events/serializers.py
  backend/utils/utils.py
Due: mypy-check

chore: support for events
  backend/authentication/admin.py
  backend/authentication/enums.py
  backend/authentication/factories.py
  backend/authentication/models.py
  backend/authentication/serializers.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/urls.py
  backend/events/views.py
  frontend/app/components/logo/LogoActivist.vue
  frontend/app/composables/cache/index.ts
  frontend/app/composables/cache/useSessionCache.ts
  frontend/app/composables/cache/useUserCache.ts
  frontend/app/composables/mutations/event/index.ts
  frontend/app/composables/mutations/event/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/event/useEventSupportMutations.ts
  frontend/app/composables/queries/index.ts
  frontend/app/composables/queries/user/index.ts
  frontend/app/composables/queries/user/useGetUser.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/home/index.vue
  frontend/app/services/event/event.ts
  frontend/app/services/event/index.ts
  frontend/app/services/event/support.ts
  frontend/app/services/index.ts
  frontend/app/services/user/index.ts
  frontend/app/services/user/user.ts
  frontend/shared/types/event.d.ts
  frontend/shared/types/support.d.ts
  frontend/shared/types/user.d.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: resolve mypy and numpydoc errors in validate_object_exists
  backend/utils/utils.py
Due: mypy-check

Assign the spa loading template and refactor
  frontend/app/spa-loading-template.html
  frontend/nuxt.config.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): render theme icon using picture element in spa loading template (#2391) (#2396)
  frontend/app/spa-loading-template.html
  frontend/nuxt.config.ts
Due: prettier-eslint-checks, run-i18n-check

Update fxn and apply to groups and orgs
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/events/serializers.py
  backend/utils/utils.py
Due: mypy-check

Fix duplicate code in event serializers (#2399)
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/events/serializers.py
  backend/utils/utils.py
Due: mypy-check

Add spacing
  frontend/app/components/page/PageBreadcrumbs.vue
Due: prettier-eslint-checks, run-i18n-check

Fix/breadcrumb theme language controls (#2388)
  frontend/app/components/dropdown/DropdownBase.vue
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/shared/constants/layoutLocation.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added delete support
  frontend/app/composables/generic/useToggle.ts
  frontend/app/composables/mutations/event/useEventSupportMutations.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/home/index.vue
  frontend/app/services/event/support.ts
Due: prettier-eslint-checks, run-i18n-check

Update loading template with picture
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Remove spa loading template div
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Remove unneeded css
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Test default template
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Update CSS of Nuxt loading template
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Put picture in div and expand css targets
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Fix div declaration
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Switch to fixed position
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Final update for now
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Update loading template with picture (#2402)
  frontend/app/spa-loading-template.html
Due: prettier-eslint-checks, run-i18n-check

Fix uv.lock and yarn.lock
  backend/uv.lock
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Update note for dependency update check
  .github/workflows/dependency_update_check.yaml
Due: none

chore: update Tiptap dependencies
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

chore: update Tiptap dependencies (#2403)
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Remove dependency update restriction
  .github/workflows/dependency_update_check.yaml
  frontend/yarn.config.cjs
Due: prettier-eslint-checks, run-i18n-check

Reinstate dependency update restriction for TS
  .github/workflows/dependency_update_check.yaml
  frontend/yarn.config.cjs
Due: prettier-eslint-checks, run-i18n-check

Minor edit to audit issue title
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

fix(backend): correct OpenAPI schema annotations in group and flag detail views
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/content/views.py
  backend/events/views.py
Due: mypy-check

Upgraded backend dependencies except pysentry and django
  backend/uv.lock
Due: none

Upgraded pysentry-rs
  backend/uv.lock
Due: none

Upgraded django related but not django and modified a test file to match the upgrade of django-tasks-db which removes django-tasks dependency
  backend/authentication/tests/test_auth_tasks.py
  backend/uv.lock
Due: mypy-check

chore:add check if user supports or not event or organization
  backend/authentication/serializers.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/events/serializers.py
  backend/events/views.py
  frontend/app/components/sidebar/left/SidebarLeft.vue
  frontend/app/components/sidebar/left/SidebarLeftMainSectionSelectors.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterHome.vue
  frontend/app/composables/mutations/event/useEventSupportMutations.ts
  frontend/app/composables/mutations/organization/useOrganizationSupportMutations.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/home/index.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/event.ts
  frontend/server/api/auth/[...path].ts
  frontend/server/api/public/[...path].ts
  frontend/shared/types/event.d.ts
  frontend/shared/types/organization.d.ts
  frontend/shared/types/support.d.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: prettier and linting and added logic for public routes for tokens to be sent when needed
  frontend/app/components/header/HeaderMobile.vue
  frontend/app/components/header/HeaderWebsite.vue
  frontend/app/components/organizations/OrganizationsList.vue
  frontend/app/components/sidebar/left/SidebarLeft.vue
  frontend/app/components/sidebar/left/SidebarLeftFooter.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterHome.vue
  frontend/app/composables/cache/useSessionCache.ts
  frontend/app/composables/cache/useUserCache.ts
  frontend/app/composables/mutations/event/useEventSupportMutations.ts
  frontend/app/composables/mutations/organization/useOrganizationSupportMutations.ts
  frontend/app/composables/queries/user/useGetUser.ts
  frontend/app/pages/home/index.vue
  frontend/app/services/communities/organization/index.ts
  frontend/app/services/communities/organization/support.ts
  frontend/app/services/event/event.ts
  frontend/app/services/event/support.ts
  frontend/app/services/user/user.ts
  frontend/server/middleware/auth.ts
  frontend/shared/types/support.d.ts
  frontend/shared/types/user.d.ts
  frontend/shared/utils/isTokenExpired.ts
Due: prettier-eslint-checks, run-i18n-check
