Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check
          - packaging

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Add comprehensive test suite for SignOutView (#1546)
  backend/authentication/tests/test_signout.py
Due: mypy-check

Revert changes - decision was to not do community level event ics export
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

Add bulk export to .ics file (#1483)
  backend/events/views.py
Due: mypy-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French) (#1568)
  frontend/i18n/locales/fr.json
Due: run-i18n-check, prettier-eslint-checks

fix: enhance image file validation and processing in scrub_exif function
  backend/content/serializers.py
Due: mypy-check

Missing tests for social links and resources added.
  backend/communities/groups/tests/resource/test_group_resource_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/resource/test_org_resource_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_delete.py
  backend/communities/organizations/views.py
  backend/events/tests/resource/test_event_resource_create.py
  backend/events/tests/resource/test_event_resource_update.py
  backend/events/views.py
Due: mypy-check

refactor(e2e): convert classes to arrow functions and reorganize file structure
  .gitignore
  frontend/test-e2e/actions/navigation.ts
  frontend/test-e2e/component-objects/SidebarLeft.ts
  frontend/test-e2e/page-objects/organization/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupAboutPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupEventsPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/page-objects/organization/groups/index.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-faq-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-groups-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): standardize destructuring pattern in spec files
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-groups-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-about-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

feat(e2e): add global timeout defaults to Playwright config
  frontend/playwright.config.mts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): standardize describe-level timeout pattern
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): Phase 3 - Replace all hard-coded waits with smart retries
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): eliminate all hard-coded waits and fix share test
  frontend/test-e2e/actions/authentication.ts
  frontend/test-e2e/actions/navigation.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/utils/test-cleanup.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): remove redundant inline timeouts (Phase 4)
  frontend/test-e2e/specs/all/home-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-groups-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources-page.spec.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-home-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations-home-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

e2e tests pre-login
  frontend/test-e2e/component-objects/ConnectCard.ts
  frontend/test-e2e/specs/all/share-modal.spec.ts
Due: run-i18n-check, prettier-eslint-checks

e2e tests implemented login
  frontend/test-e2e/specs/all/share-modal.spec.ts
Due: run-i18n-check, prettier-eslint-checks

card model rename
  frontend/test-e2e/component-objects/CardConnect.ts
  frontend/test-e2e/specs/all/share-modal.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): reorganize page-objects into consistent directory structure
  frontend/test-e2e/page-objects/organization/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/about/OrganizationAboutPage.ts
  frontend/test-e2e/page-objects/organization/events/OrganizationEventsPage.ts
  frontend/test-e2e/page-objects/organization/faq/OrganizationFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/page-objects/organization/groups/about/OrganizationGroupAboutPage.ts
  frontend/test-e2e/page-objects/organization/groups/events/OrganizationGroupEventsPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/OrganizationGroupFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQCard.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQDragDrop.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQList.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQModal.ts
  frontend/test-e2e/page-objects/organization/groups/resources/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceCard.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceDragDrop.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceList.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/page-objects/organization/resources/OrganizationResourcesPage.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): split organization about page specs (Phase 2)
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-content.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): split landing page specs for desktop and mobile (Phase 3)
  frontend/test-e2e/specs/desktop/landing-page.spec.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-accessibility.spec.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-features-cta.spec.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-hero-navigation.spec.ts
  frontend/test-e2e/specs/mobile/landing-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-accessibility.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-features-cta.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): split group resources page specs (Phase 4)
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): split remaining spec files > 200 lines (Phase 5 - FINAL)
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-content.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-navigation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-management.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events/organization-events-display.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events/organization-events-interactions.spec.ts
  frontend/test-e2e/specs/all/sign-in/sign-in-authentication.spec.ts
  frontend/test-e2e/specs/all/sign-in/sign-in-validation.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(e2e): establish consistent subdirectory structure across all specs
  frontend/test-e2e/specs/all/organizations/groups/organization-group-events/organization-group-events-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-groups/organization-groups-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-faq/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-about/organization-about-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-faq/organization-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-resources/organization-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/sign-in/sign-in-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-faq/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-resources/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-about/organization-about-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-faq/organization-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-resources/organization-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/sign-in/sign-in-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

restart
  frontend/test-e2e/component-objects/CardConnect.ts
  frontend/test-e2e/specs/all/share-modal.spec.ts
Due: run-i18n-check, prettier-eslint-checks

image carousel upload and tests
  frontend/app/components/image/ImageMultipleFileDropZone.vue
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/test-e2e/component-objects/UploadImageModal.ts
  frontend/test-e2e/page-objects/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/OrganizationAboutPage.ts
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

eslint fix
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Upgrade backend dependencies including i18n-check for frontend to fix pre-commit
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

Upgrade backend dependencies including i18n-check for frontend to fix pre-commit (#1574)
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

Remove now unneeded dependency from i18n-check pre-commit hook
  .pre-commit-config.yaml
Due: none

refactor(e2e): add MARK comments to dragAndDrop.ts for improved navigation
  frontend/test-e2e/actions/dragAndDrop.ts
Due: run-i18n-check, prettier-eslint-checks

close the modal instead of uploading it after delete
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

formatting
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix Drag Bug
  frontend/app/assets/css/tailwind.css
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: run-i18n-check, prettier-eslint-checks

refactor(frontend):create new generic http file for services, create group services for requests, create composables for queries and mutations and added error handleling with toast with fix
  frontend/app/app.vue
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/connect/CardConnectGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/header/app-page/HeaderAppPageGroup.vue
  frontend/app/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useSocialLinksMutations.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/services/group.ts
  frontend/app/services/http.ts
  frontend/app/stores/group.ts
  frontend/app/types/error.ts
  frontend/app/utils/errorHandler.ts
Due: run-i18n-check, prettier-eslint-checks

refactor(frontend): fix when fetching images + refactor to separate images from group + missing header + nuxt type fix
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/stores/group.ts
  frontend/app/types/error.ts
Due: run-i18n-check, prettier-eslint-checks

fix: FormTextInput placeholder alignment Shift FormTextInput placeholder text up to better align with border
  frontend/app/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (German)
  frontend/i18n/locales/de.json
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1588)
  frontend/i18n/locales/de.json
  frontend/i18n/locales/fr.json
Due: run-i18n-check, prettier-eslint-checks
