Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

test: use i18n keys for text assertions in organizations home page tests
  frontend/test-e2e/specs/all/organizations-home-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-home-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations-home-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Add captcha press indication to auth in dev mode
  frontend/components/FriendlyCaptcha.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

refactor: break up OrganizationPage into lazy-loaded subpages
  frontend/test-e2e/page-objects/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/OrganizationAboutPage.ts
  frontend/test-e2e/page-objects/organization/OrganizationEventsPage.ts
Due: run-i18n-check, prettier-eslint-checks

Move populate db test and assign populated resources to users
  backend/core/management/commands/populate_db.py
  backend/tests/test_populate_db_command.py
Due: mypy-check

Run pytest within backend directory to preserve test fixture path
  .github/workflows/pr_ci_backend.yaml
  backend/tests/test_populate_db_command.py
Due: mypy-check

Test populate DB entities and content (#1515)
  .github/workflows/pr_ci_backend.yaml
  backend/core/management/commands/populate_db.py
  backend/tests/test_populate_db_command.py
Due: mypy-check

Fix i18n within e2e tests
  CONTRIBUTING.md
  frontend/test-e2e/specs/desktop/events-subpage.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: implement global setup for unit test mocks
  frontend/test/components/dropdown/DropdownTheme.spec.ts
  frontend/test/components/filter/pageFilter.spec.ts
  frontend/test/components/form/FormTextEntity.spec.ts
  frontend/test/composables/useColor.spec.ts
  frontend/test/pages/auth/sign-up.spec.ts
  frontend/test/setup.ts
Due: run-i18n-check, prettier-eslint-checks

chore: added fixes to tests and toaster for errors
  backend/authentication/serializers.py
  backend/authentication/tests/test_auth.py
  backend/authentication/tests/test_serializers.py
  backend/authentication/views.py
  frontend/app.vue
  frontend/components/tooltip/TooltipPasswordRequirements.vue
  frontend/composables/useToaster.ts
  frontend/i18n/en-US.json
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix: i18n check keys
  frontend/i18n/en-US.json
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-eslint-checks

fix: ruff check
  backend/authentication/tests/test_auth.py
Due: mypy-check

fix: eslint and prettier checkes
  frontend/app.vue
  frontend/composables/useToaster.ts
  frontend/i18n/en-US.json
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-eslint-checks

fix: ruff check
  backend/authentication/views.py
Due: mypy-check

fix:nuxt typecheck
  frontend/components/card/change-account-info/CardChangeAccountInfo.vue
  frontend/pages/contact.vue
Due: run-i18n-check, prettier-eslint-checks

fix:nuxt cofig for refreshing
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

fix:set default for SECRET_KEY
  backend/core/settings.py
Due: mypy-check

fix:set default for SECRET_KEY (#1526)
  backend/core/settings.py
Due: mypy-check

Update all backend dependencies and fix topic name
  backend/core/management/commands/populate_db.py
  backend/events/views.py
  backend/fixtures/topics.json
  backend/requirements-dev.in
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
  frontend/types/content/topics.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Update all backend dependencies and fix topic name (#1527)
  backend/core/management/commands/populate_db.py
  backend/events/views.py
  backend/fixtures/topics.json
  backend/requirements-dev.in
  backend/requirements-dev.txt
  backend/requirements.in
  backend/requirements.txt
  frontend/types/content/topics.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Fix mypy type error + sign up unit test + email fix
  backend/authentication/templates/signup_email.html
  backend/authentication/views.py
  frontend/components/tooltip/TooltipPasswordRequirements.vue
  frontend/pages/auth/sign-up.vue
  frontend/test/pages/auth/sign-up.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore:deleted test of sign up, better to be implemenented in e2e tests
  frontend/test/pages/auth/sign-up.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Update contributing guide text for clarity
  CONTRIBUTING.md
Due: none

1521 sign in sign out (#1523)
  CONTRIBUTING.md
  backend/authentication/serializers.py
  backend/authentication/templates/signup_email.html
  backend/authentication/tests/test_auth.py
  backend/authentication/tests/test_serializers.py
  backend/authentication/urls.py
  backend/authentication/views.py
  frontend/app.vue
  frontend/components/FriendlyCaptcha.vue
  frontend/components/card/change-account-info/CardChangeAccountInfo.vue
  frontend/components/dropdown/DropdownItemsLayout.vue
  frontend/components/dropdown/DropdownUserOptions.vue
  frontend/components/form/FormResource.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/form/FormTemplate.vue
  frontend/components/form/FormTextEntity.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/components/tooltip/TooltipPasswordRequirements.vue
  frontend/composables/fetch.ts
  frontend/composables/useToaster.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/layouts/event/EventList.vue
  frontend/layouts/organization/OrganizationList.vue
  frontend/nuxt.config.ts
  frontend/pages/auth/confirm/[code].vue
  frontend/pages/auth/confirm/email.vue
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
  frontend/pages/contact.vue
  frontend/pages/organizations/create.vue
  frontend/test/pages/auth/sign-up.spec.ts
  frontend/types/menu/menu-selector.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

feat(e2e): enhance testing infrastructure with data-testid attributes and universal navigation
  frontend/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/components/menu/MenuSearchResult.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultGroup.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultOrganization.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultResource.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultUser.vue
  frontend/pages/organizations/[orgId]/events.vue
  frontend/test-e2e/actions/navigation.ts
  frontend/test-e2e/component-objects/QRCodeModal.ts
  frontend/test-e2e/page-objects/OrganizationsHomePage.ts
  frontend/test-e2e/page-objects/organization/OrganizationEventsPage.ts
  frontend/test-e2e/page-objects/organization/OrganizationResourcesPage.ts
  frontend/test-e2e/specs/all/events-home-page.spec.ts
  frontend/test-e2e/specs/all/organization-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events-page.spec.ts
  frontend/test-e2e/specs/desktop/events-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-home-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-about-page.spec.ts
  frontend/test-e2e/specs/mobile/events-page.spec.ts
  frontend/test-e2e/specs/mobile/organization-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations-home-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-about-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix unit tests: add useAuth mock to global setup to resolve CI failures
  frontend/test/setup.ts
Due: run-i18n-check, prettier-eslint-checks

Update docstrings and formatting for code
  backend/authentication/tests/test_auth_email_verification_get.py
  backend/authentication/views.py
Due: mypy-check

test: add comprehensive test coverage for email verification GET endp… (#1506)
  backend/authentication/tests/test_auth_email_verification_get.py
  backend/authentication/views.py
Due: mypy-check

test: change fill to type in social link forms for realistic user interaction
  frontend/test-e2e/specs/all/organizations/organization-about-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix: resolve search bar focus and input field conflicts with '/' key
  frontend/components/SearchBar.vue
Due: run-i18n-check, prettier-eslint-checks

test: add data-testid attributes and menu locators for organization resources
  frontend/components/card/CardResource.vue
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/test-e2e/page-objects/organization/OrganizationResourcesPage.ts
Due: run-i18n-check, prettier-eslint-checks

Rename variable in search bar and fix i18n formatting/sorting
  .i18n-check.yaml
  frontend/components/SearchBar.vue
  frontend/components/card/CardDatePicker.vue
  frontend/components/icon/IconActivist.vue
  frontend/components/image/ImageMultipleFileDropZone.vue
  frontend/components/indicator/IndicatorProcessProgress.vue
  frontend/components/logo/LogoActivist.vue
  frontend/components/page/PageFilter.vue
  frontend/components/shield/ShieldPrivate.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/pages/contact.vue
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
Due: run-i18n-check, prettier-eslint-checks

fix: resolve search bar focus and input field conflicts with '/' key (#1530)
  .i18n-check.yaml
  frontend/components/SearchBar.vue
  frontend/components/card/CardDatePicker.vue
  frontend/components/icon/IconActivist.vue
  frontend/components/image/ImageMultipleFileDropZone.vue
  frontend/components/indicator/IndicatorProcessProgress.vue
  frontend/components/logo/LogoActivist.vue
  frontend/components/page/PageFilter.vue
  frontend/components/shield/ShieldPrivate.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/pages/contact.vue
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
Due: run-i18n-check, prettier-eslint-checks

Activate aria label punctuation check in i18n-check
  .i18n-check.yaml
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Fix platform name capitalization across localizations
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/test-e2e/specs/desktop/landing-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

feat(e2e): add organization resources page tests with drag and drop functionality
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/page-objects/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/OrganizationResourcesPage.ts
  frontend/test-e2e/specs/all/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix(e2e): add CAPTCHA handling to authentication flow
  frontend/test-e2e/actions/authentication.ts
  frontend/test-e2e/page-objects/SignInPage.ts
Due: run-i18n-check, prettier-eslint-checks

feat(e2e): add organization groups page tests and page object
  frontend/components/card/search-result-entity/CardSearchResultEntityGroup.vue
  frontend/pages/organizations/[orgId]/groups/index.vue
  frontend/test-e2e/page-objects/OrganizationPage.ts
  frontend/test-e2e/page-objects/organization/OrganizationGroupsPage.ts
  frontend/test-e2e/specs/all/organizations/organization-groups-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: fix organization resources page test timing and add comprehensive edit testing
  frontend/components/icon/IconEdit.vue
  frontend/test-e2e/page-objects/organization/OrganizationResourcesPage.ts
  frontend/test-e2e/specs/all/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: separate organization resources tests by platform and enhance mobile touch support
  frontend/playwright.config.ts
  frontend/test-e2e/page-objects/organization/OrganizationResourcesPage.ts
  frontend/test-e2e/specs/all/organizations/organization-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/organization-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: fix failing tests due to recent UI changes and improve test reliability
  frontend/composables/useToaster.ts
  frontend/test-e2e/page-objects/OrganizationsHomePage.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test-e2e/specs/desktop/home-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-home-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
