Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

fix: show entity logo actions on mobile
  frontend/app/components/entity/EntityLogoMobile.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/test/components/entity/EntityLogoMobile.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: use global edit image label
  frontend/app/components/entity/EntityLogoMobile.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/ja.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

fix: rename mobile logo icon prop
  frontend/app/components/entity/EntityLogoMobile.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/test/components/entity/EntityLogoMobile.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor: decouple mobile entity logo editing
  frontend/app/components/entity/EntityLogoMobile.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
Due: prettier-eslint-checks, run-i18n-check

Add missing tests for auth and rename files
  backend/authentication/admin.py
  backend/authentication/tests/test_admin.py
  backend/authentication/tests/test_auth_admin_forms.py
  backend/events/tests/test_event_admin_forms.py
Due: mypy-check

Add test for event admin form cleaning (#2131)
  backend/authentication/admin.py
  backend/authentication/tests/test_admin.py
  backend/authentication/tests/test_auth_admin_forms.py
  backend/events/tests/test_event_admin_forms.py
Due: mypy-check

Remove whitespace
  frontend/.yarnrc.yml
Due: prettier-eslint-checks, run-i18n-check

Remove approvedGitRepositories from .yarnrc.yml (#2149)
  frontend/.yarnrc.yml
Due: prettier-eslint-checks, run-i18n-check

Update all backend and service dependencies
  CONTRIBUTING.md
  backend/pyproject.toml
  backend/uv.lock
  services/filescan/CONTRIBUTING.md
  services/filescan/pyproject.toml
  services/filescan/uv.lock
Due: none

Fix mypy errors for views
  backend/communities/organizations/views.py
  backend/events/views.py
Due: mypy-check

Remove unneeded requirements.txt file
  services/filescan/requirements.txt
Due: none

Update urllib3 in services
  services/filescan/uv.lock
Due: none

Update to dependency validation workflow
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Update to dependency audit workflow
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Remove color from frontend audit report
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Remove color from frontend audit report - force 0
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Remove color from frontend audit report - try sed
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Add note on dependabot to vulnerability report
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Update note to vulnerability audit workflow
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

Remove header and tagline on mobile - just in card
  frontend/app/components/header/app-page/HeaderAppPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): scope country combobox trigger to locationForm div, not input
  frontend/test-e2e/specs/all/create-flows/organization-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): wait for org combobox value commit before advancing step on mobile
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

changes to test function names
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/tests/session/test_session_get.py
  backend/authentication/tests/test_auth_email_verification_get.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_signout.py
  backend/authentication/tests/test_signup.py
Due: mypy-check

fix styling
  frontend/app/components/entity/EntityLogoMobile.vue
  frontend/app/pages/organizations/[orgId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

split and refactor test for test_group_delete.py
  backend/communities/groups/tests/test_group_delete.py
Due: mypy-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Further test standardization of file and fxn names
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/image/test_group_image_update.py
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/text/test_group_text_update.py
  backend/communities/organizations/tests/faq/test_org_faq_delete.py
  backend/communities/organizations/tests/image/test_org_image_list.py
  backend/communities/organizations/tests/image/test_org_image_update.py
  backend/communities/organizations/tests/resource/test_org_resource_serializer.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_status_str_methods.py
  backend/content/tests/discussion/entry/test_content_discussion_entry_partial_update.py
  backend/content/tests/discussion/entry/test_content_discussion_entry_update.py
  backend/content/tests/discussion/test_content_discussion_create.py
  backend/content/tests/discussion/test_content_discussion_update.py
  backend/content/tests/faq/test_content_faq.py
  backend/content/tests/filescan/test_content_filescan_integration.py
  backend/content/tests/image/test_content_image_serializer.py
  backend/content/tests/image/test_content_image_upload.py
  backend/content/tests/social_link/test_content_social_link.py
  backend/content/tests/topic/test_content_topic_api.py
  backend/content/tests/topic/test_content_topic_serializer.py
  backend/events/tests/calendar/test_event_calendar_export_ics.py
  backend/events/tests/faq/test_event_faq_delete.py
  backend/events/tests/resource/test_event_resource_serializer.py
  backend/events/tests/social_link/test_event_social_link_create.py
  backend/events/tests/social_link/test_event_social_link_update.py
  backend/utils/validate_pytest_structure.py
Due: mypy-check

Pytest fixes
  backend/communities/organizations/tests/faq/test_org_faq_delete.py
  backend/content/tests/image/test_content_image_upload.py
  backend/utils/validate_pytest_structure.py
Due: mypy-check

refactor(frontend): remove inline comment from FormSelectorCombobox
  frontend/app/components/form/selector/FormSelectorCombobox.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): create modal form validation tests (#2152) (#2175)
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/test-e2e/component-objects/CreateEventModal.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/component-objects/CreateOrganizationModal.ts
  frontend/test-e2e/specs/all/create-flows/organization-create-modal.spec.ts
  frontend/test-e2e/specs/all/events/events-create/events-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/events/events-create/events-create-location-step.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-create/organizations-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French) (#2177)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

lint
  backend/communities/groups/tests/test_group_retrieve.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_retrieve.py
  backend/content/tests/resource/test_content_resource_delete.py
  backend/content/tests/resource/test_content_resource_update.py
  backend/events/tests/faq/test_event_faq_create.py
  backend/events/tests/faq/test_event_faq_update.py
  backend/events/tests/social_link/test_event_social_link_update.py
Due: mypy-check

Rename component and partial fix to MapLibre tile error
  frontend/app/components/entity/EntityIconMobile.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/head.ts
  frontend/nuxt.config.ts
  frontend/test/components/entity/EntityIconMobile.ts
Due: prettier-eslint-checks, run-i18n-check

Minor comment fix
  backend/pyproject.toml
Due: none

fix: restore mobile page heading semantics
  frontend/app/components/header/app-page/HeaderAppPage.vue
  frontend/test/components/entity/EntityIconMobile.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: show entity logo actions on mobile (#2161)
  frontend/app/components/entity/EntityIconMobile.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/head.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/ja.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
  frontend/i18n/locales/zh-Hans.json
  frontend/nuxt.config.ts
  frontend/test/components/entity/EntityIconMobile.spec.ts
Due: prettier-eslint-checks, run-i18n-check
