Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix(e2e): auth, rate limiting, filters, drag-and-drop, and test updates (#1922)
  backend/core/settings.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/playwright.config.mts
  frontend/server/api/session/login.ts
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/component-objects/EventsFilter.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
  frontend/test/components/sidebar/SidebarLeftFilterEvents.spec.ts
  frontend/yarn.lock
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Remove unneeded imports
  frontend/app/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/app/pages/events/[eventId]/faq.vue
Due: prettier-eslint-checks, run-i18n-check

Run e2e tests on PRs and pushes to main
  .github/workflows/pr_ci_playwright_e2e.yaml
Due: none

Update the readme with a visible e2e tests shield
  README.md
Due: none

fix(filters): guard handleSubmit against cross-route URL writes
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

fix: center text in full-width organization buttons
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/index.vue
Due: prettier-eslint-checks, run-i18n-check

fix(auth-ui): normalize floating label color and alignment for typing
  frontend/app/components/form/text/FormTextInput.vue
  frontend/test/components/form/text/FormTextInput.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(auth-ui): remove autofill-specific floating-label overrides to restore correct input label alignment
  frontend/app/assets/css/tailwind.css
  frontend/app/components/form/text/FormTextInput.vue
Due: prettier-eslint-checks, run-i18n-check

fix(auth-form): resolve linting issues
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/pages/auth/sign-in.vue
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

fix(form-text-input): stabilize floating-label focus/autofill behavior and restore test compatibility
  frontend/app/components/form/text/FormTextInput.vue
Due: prettier-eslint-checks, run-i18n-check

fix: center organization action button text on mobile
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/index.vue
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Indonesian)
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Italian)
  frontend/i18n/locales/it.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#1950)
  frontend/i18n/locales/it.json
Due: prettier-eslint-checks, run-i18n-check

chore: fixes on eslint, prettier
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/utils/defineMachine.ts
  frontend/test/components/machine/Machine.spec.ts
  frontend/test/composables/useFlowScreens.spec.ts
  frontend/test/stores/flow.spec.ts
  frontend/test/utils/defineMachine.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: ensure UTC date handling in date utilities (#1943)
  frontend/shared/utils/date.ts
Due: prettier-eslint-checks, run-i18n-check

fix unit tests in flow
  frontend/test/components/machine/Machine.spec.ts
  frontend/test/stores/flow.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix Prettier and ESlint issues
  frontend/app/components/card/CardDonate.vue
Due: prettier-eslint-checks, run-i18n-check

fix(a11y): add alt text to map tooltip images and make CardDonate edit toggle keyboard accessible (#1939)
  frontend/app/components/card/CardDonate.vue
  frontend/app/components/media/map/MediaMapEvent.vue
  frontend/app/components/media/map/MediaMapEvents.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): fix FAQ delete button structure and test click handling
  frontend/app/components/card/CardFAQEntry.vue
  frontend/i18n/locales/en-US.json
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-management.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): use i18n._global.groups key in groups navigation helper
  frontend/i18n/locales/en-US.json
  frontend/test-e2e/actions/navigation/groups.ts
Due: prettier-eslint-checks, run-i18n-check

fix(ci): fix E2E backend readiness check and server-readiness for static builds
  .github/workflows/pr_ci_playwright_e2e.yaml
  frontend/test-e2e/utils/server-readiness.ts
Due: prettier-eslint-checks, run-i18n-check

fix(ci): use nuxi preview instead of static serve for E2E tests
  .github/workflows/pr_ci_playwright_e2e.yaml
Due: none

fix(ci): remove environment: dev to prevent unwanted deployments
  .github/workflows/pr_ci_playwright_e2e.yaml
Due: none

fix(e2e): fix 12 CI test failures across accessibility, social links, and navigation
  frontend/app/components/form/Form.vue
  frontend/app/components/media/MediaUrl.vue
  frontend/i18n/locales/en-US.json
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/specs/all/navigation/route-query-topics-stability.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Remove org_name and group_name in tests based on changes to the models
  backend/tests/fixtures/populate_db_assigned.json
  backend/tests/test_populate_db_command.py
Due: mypy-check

fix(e2e): fix location filter clear and flaky mobile theme test
  frontend/app/components/form/Form.vue
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(lint): fix vue/attributes-order in MediaUrl.vue
  frontend/app/components/media/MediaUrl.vue
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): fix location filter clear and mobile theme sidebar stability
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Minor comment fixes
  frontend/app/middleware/clearQueryOnPathChange.global.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterEvents.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): prevent query param persistence on route change (#1828)
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/middleware/clearQueryOnPathChange.global.ts
  frontend/shared/utils/routeUtils.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterEvents.spec.ts
  frontend/test/components/sidebar/filter/SidebarLeftFilterOrganization.spec.ts
  frontend/test/mocks/composableMocks.ts
  frontend/test/utils/routeUtils.spec.ts
  frontend/vue-shim.d.ts
Due: prettier-eslint-checks, run-i18n-check

Fix field name in populate_org_groups based on the removal of group_name
  backend/core/management/commands/populate_db_utils/populate_org_groups.py
Due: mypy-check

Extend test coverage for `populate_db` backend development command (#1899)
  backend/core/management/commands/populate_db_utils/populate_org_groups.py
  backend/tests/fixtures/populate_db_assigned.json
  backend/tests/test_populate_db_command.py
Due: mypy-check

fix(e2e): fix mobile nav listbox detach, drag-and-drop PointerEvents, and form resetForm debounce
  frontend/app/components/form/Form.vue
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
