Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.2
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: python ./pre_commit_scripts/mypy_static_type_check.py
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check
        files: ^frontend/
        entry: python frontend/i18n/check/run_i18n_checks.py
        language: python
        pass_filenames: false

      - id: prettier-format-check
        name: run prettier formatting check
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_formatting_check.py
        language: python
        pass_filenames: false

      - id: eslint-lint-check
        name: run eslint static type check
        files: ^frontend/
        entry: python ./pre_commit_scripts/eslint_static_type_check.py
        language: python
        types_or: [javascript, ts, tsx, jsx, vue]
        pass_filenames: false

  # Note: Disabled as it breaks on TOC links.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       args: [-q]

Misc edits to file formatting and removing unneeded code
  backend/authentication/views.py
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/content/serializers.py
  backend/events/models.py
  backend/pyproject.toml
  backend/resume.md
Due: mypy-check

Switch condition logic and minor spacing fix
  backend/communities/groups/views.py
  backend/events/models.py
Due: mypy-check

chore: fix styling + changing label for submit
  frontend/components/form/Form.vue
  frontend/pages/auth/sign-in.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: start refactor for sing in
  frontend/components/form/FormItem.vue
  frontend/components/indicator/IndicatorPasswordStrength.vue
  frontend/pages/auth/sign-in.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Remove unneeded files and code
  .gitignore
  .vscode/settings.json
  package.json
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
  yarn.lock
Due: none

chore: sign up page password strength working
  frontend/components/indicator/IndicatorPasswordStrength.vue
  frontend/components/tooltip/TooltipPasswordRequirements.vue
  frontend/composables/usePasswordRules.ts
  frontend/i18n/en-US.json
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: sign up functionality is done
  frontend/components/form/FormItem.vue
  frontend/pages/auth/sign-in.vue
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Remove unneeded file and fix type imports
  frontend/test-e2e/example.spec.ts
  frontend/test-e2e/specs/all/organizations-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations-page.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: changed components to standarized components
  frontend/pages/organizations/create.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: fix text area styling
  frontend/components/form/text/FormTextArea.vue
  frontend/pages/organizations/create.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: fix button styling
  frontend/components/card/CardTopicSelection.vue
  frontend/components/form/Form.vue
  frontend/pages/organizations/create.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Update translation files (#1336)
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-format-check

fix: fix sign in tests
  frontend/test/pages/auth/sign-in.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: fix sign up tests
  frontend/test/pages/auth/sign-up.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: fix set password tests
  frontend/test/pages/auth/set-password.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: typechking
  frontend/pages/auth/set-password.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: sign up tests
  frontend/i18n/en-US.json
  frontend/pages/auth/sign-up.vue
  frontend/test/pages/auth/sign-up.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

chore: added form tests
  frontend/components/form/FormErrorMessage.vue
  frontend/components/form/FormTemplate.vue
  frontend/test/components/form/Form.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: added missing header
  frontend/test/components/form/Form.spec.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Update translation files
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-format-check

Update translation files (#1339)
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (German)
  frontend/i18n/de.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (Spanish)
  frontend/i18n/es.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (Portuguese)
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-format-check

Translations update from Hosted Weblate (#1340)
  frontend/i18n/de.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check

Various mypy fixes and ignore return type error
  .pre-commit-config.yaml
  backend/communities/groups/views.py
  pre_commit_scripts/mypy_check.py
  pre_commit_scripts/prettier_eslint_checks.py
  pre_commit_scripts/utils.py
  utils/check_used_api_calls.py
Due: mypy-check

Fix/mypy content models (#1332)
  .pre-commit-config.yaml
  backend/authentication/views.py
  backend/communities/groups/models.py
  backend/communities/groups/views.py
  backend/communities/organizations/models.py
  backend/communities/organizations/views.py
  backend/content/models.py
  backend/content/serializers.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/views.py
  backend/pyproject.toml
  pre_commit_scripts/mypy_check.py
  pre_commit_scripts/prettier_eslint_checks.py
  pre_commit_scripts/utils.py
  utils/check_used_api_calls.py
Due: mypy-check

Formatting for event serializers file
  backend/events/serializers.py
Due: mypy-check
