Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

docs: fix broken section anchors and typos in README and CONTRIBUTING (#1893) (#2341)
  CONTRIBUTING.md
  README.md
Due: none

fix(frontend): let oversized image uploads reach the backend's size check
  frontend/nuxt.config.ts
  frontend/shared/utils/uploadLimits.ts
  frontend/test/utils/errorHandler.spec.ts
  frontend/test/utils/uploadLimits.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix create group redirect
  frontend/app/components/modal/create/ModalCreateGroup.vue
Due: prettier-eslint-checks, run-i18n-check

fix override issues in mutation composables
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/test/composables/mutations/useEventMutations.spec.ts
  frontend/test/composables/queries/useGetOrganizationByUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix resources
  frontend/app/composables/mutations/useEventResourcesMutations.ts
Due: prettier-eslint-checks, run-i18n-check

fix resources group and resources organization
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
Due: prettier-eslint-checks, run-i18n-check

fix redirect on create group
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Update message to user to display MB
  backend/content/serializers.py
  backend/content/tests/image/test_content_image_upload.py
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/shared/utils/uploadLimits.ts
  frontend/test/utils/errorHandler.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: surface DRF field-keyed array error messages to the user (#2334)
  backend/content/serializers.py
  backend/content/tests/image/test_content_image_upload.py
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/nuxt.config.ts
  frontend/shared/utils/errorHandler.ts
  frontend/shared/utils/uploadLimits.ts
  frontend/test/utils/errorHandler.spec.ts
  frontend/test/utils/uploadLimits.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Updates to dependency workflows
  .github/workflows/dependency_update_check.yaml
  .github/workflows/dependency_vulnerability_audit.yaml
Due: none

fix(frontend): enable infinite scroll in FormSelectorComboboxGroups (#2200) (#2279)
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
Due: prettier-eslint-checks, run-i18n-check

Update yarn.lock
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Update all backend dependencies
  backend/complexipy-snapshot.json
  backend/pyproject.toml
  backend/uv.lock
Due: none

Fix mypy issues
  .pre-commit-config.yaml
  backend/content/serializers.py
  backend/core/filescan/filescan_client.py
  backend/core/filescan/scan_helpers.py
Due: mypy-check

Format complexipy snapshot
  backend/complexipy-snapshot.json
Due: none

Update all backend dependencies (#2345)
  .pre-commit-config.yaml
  backend/content/serializers.py
  backend/core/filescan/filescan_client.py
  backend/core/filescan/scan_helpers.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy-check

Update backend dependencies to match main
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(frontend): keep event reorder lists from stale query overwrites
  frontend/app/composables/mutations/event/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/event/useEventResourcesMutations.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/test/composables/mutations/event/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/event/useEventResourcesMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): sync event FAQ updates while ignoring stale reorder refetches
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): optimistic cache updates for FAQ and resource reorders
  frontend/app/composables/mutations/event/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/event/useEventResourcesMutations.ts
  frontend/app/composables/mutations/group/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/group/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/organization/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/organization/useOrganizationResourcesMutations.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/test/composables/mutations/event/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/event/useEventResourcesMutations.spec.ts
  frontend/test/composables/mutations/group/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/group/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/organization/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/organization/useOrganizationResourcesMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): un-skip mobile event reorder e2e tests (#2323)
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/components/card/CardResource.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntity.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/menu/mobile/MenuMobileNavBar.vue
  frontend/app/composables/mutations/event/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/event/useEventResourcesMutations.ts
  frontend/app/composables/mutations/group/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/group/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/organization/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/organization/useOrganizationResourcesMutations.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/specs/mobile/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/events/event-resources/event-resources-page.spec.ts
  frontend/test/composables/mutations/event/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/event/useEventResourcesMutations.spec.ts
  frontend/test/composables/mutations/group/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/group/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/organization/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/organization/useOrganizationResourcesMutations.spec.ts
  frontend/test/setup.ts
  frontend/test/vitest-globals.d.ts
Due: prettier-eslint-checks, run-i18n-check

feat(upload): validate image size on client side, both single and multiple uploads
  frontend/app/components/modal/upload-image/ModalUploadImageIcon.vue
  frontend/app/composables/useFileManager.ts
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

added test cases for image upload
  frontend/test/components/modal/upload-image/ModalUploadImageIcon.spec.ts
  frontend/test/composables/useFileManager.spec.ts
Due: prettier-eslint-checks, run-i18n-check

updates in test files
  frontend/test/components/modal/upload-image/ModalUploadImageIcon.spec.ts
  frontend/test/composables/useFileManager.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(upload): add Nitro pre-flight validation for image batch size
  frontend/app/services/communities/group/image.ts
  frontend/app/services/communities/organization/image.ts
  frontend/app/services/content/imageUploadValidation.ts
  frontend/i18n/locales/en-US.json
  frontend/server/api/images/validate-upload.post.ts
  frontend/shared/utils/uploadLimits.ts
Due: prettier-eslint-checks, run-i18n-check

test cases for nitro
  frontend/server/api/images/validate-upload.post.ts
  frontend/shared/utils/imageUploadBatchValidation.ts
  frontend/test/server/api/images/validate-upload.spec.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/services/content/imageUploadValidation.spec.ts
  frontend/test/utils/uploadLimits.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fixing the error message showed in the UI. removed i18n error message
  frontend/app/services/content/imageUploadValidation.ts
  frontend/i18n/locales/en-US.json
  frontend/server/api/images/validate-upload.post.ts
  frontend/shared/utils/errorHandler.ts
  frontend/test/services/content/imageUploadValidation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

yarn lint fix
  frontend/server/api/images/validate-upload.post.ts
  frontend/test/components/modal/upload-image/ModalUploadImageIcon.spec.ts
  frontend/test/composables/useFileManager.spec.ts
  frontend/test/services/content/imageUploadValidation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

i18 errors fix
  frontend/app/composables/useFileManager.ts
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

licence error fix
  frontend/server/api/images/validate-upload.post.ts
Due: prettier-eslint-checks, run-i18n-check

formatting error fix
  frontend/shared/utils/errorHandler.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script))
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2347)
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Background Tasks (#2179)
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  backend/authentication/tasks.py
  backend/authentication/tests/test_auth_sign_up.py
  backend/authentication/tests/test_auth_tasks.py
  backend/authentication/views.py
  backend/core/settings.py
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: mypy-check

fix(backend): return consistent list response for empty organization events (#2348)
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
  backend/communities/organizations/views.py
  frontend/app/services/communities/organization/event.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Edits to further remove timing attack and document
  backend/authentication/admin.py
  backend/authentication/serializers.py
  backend/authentication/templates/pwreset_email.html
  backend/authentication/views.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/core/internal_events.py
  backend/events/serializers.py
  backend/utils/utils.py
Due: mypy-check
