Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.3
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Update Ruff pre-commit hook
  .pre-commit-config.yaml
Due: none

Reorder pre-commit hooks
  .pre-commit-config.yaml
Due: none

reverted test_pwreset
  backend/authentication/tests/test_reset_password.py
Due: mypy-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1725)
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

refactored test_user_flag_delete_does_not_exist
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/test_reset_password.py
Due: mypy-check

added session to authenticated_client fixture
  backend/conftest.py
Due: mypy-check

refactored flag tests
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
Due: mypy-check

refactored session tests
  backend/authentication/tests/session/test_session_get.py
Due: mypy-check

refactored group_faq_update
  backend/communities/groups/tests/faq/test_group_faq_update.py
Due: mypy-check

License header fixes and partial file import fixes
  frontend/test/services/communities/group/faq.spec.ts
  frontend/test/services/communities/organization/social-link.spec.ts
  frontend/test/services/communities/organization/text.spec.ts
  frontend/test/services/content/topics.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/services/event/faq.spec.ts
  frontend/test/services/event/image.spec.ts
  frontend/test/services/event/resource.spec.ts
  frontend/test/services/event/social-link.spec.ts
  frontend/test/services/event/text.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix:commit imports in unit tests suites{
  frontend/shared/types/file-type.d.ts
  frontend/shared/types/topics-type.d.ts
  frontend/test/components/image/ImageFileDropzoneMultiple.spec.ts
  frontend/test/components/modal/ModalBase.spec.ts
  frontend/test/composables/useColor.spec.ts
  frontend/test/composables/useFormSetup.spec.ts
  frontend/test/composables/usePasswordRules.spec.ts
  frontend/test/composables/useToaster.spec.ts
  frontend/test/composables/useUser.spec.ts
  frontend/test/services/communities/group/faq.spec.ts
  frontend/test/services/communities/group/group.spec.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/group/resource.spec.ts
  frontend/test/services/communities/group/social-link.spec.ts
  frontend/test/services/communities/group/text.spec.ts
  frontend/test/services/communities/organization/faq.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/services/communities/organization/organization.spec.ts
  frontend/test/services/communities/organization/resource.spec.ts
  frontend/test/services/communities/organization/social-link.spec.ts
  frontend/test/services/content/topics.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/services/event/faq.spec.ts
  frontend/test/services/event/resource.spec.ts
  frontend/test/services/event/social-link.spec.ts
  frontend/test/services/http.spec.ts
  frontend/test/utils/btnUtils.spec.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

fix:some typing in vitest test suites
  frontend/test/services/helpers.ts
  frontend/test/services/http.spec.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

Reduce unit tests threshold + minor formatting
  frontend/app/components/FriendlyCaptcha.vue
  frontend/app/components/btn/action/BtnAction.vue
  frontend/app/components/btn/action/BtnActionAdd.vue
  frontend/app/components/btn/action/BtnActionDropdown.vue
  frontend/app/components/btn/route/BtnRouteInternal.vue
  frontend/app/components/dropdown/DropdownUserOptions.vue
  frontend/app/components/events/EventsCalendar.vue
  frontend/app/components/form/FormFAQEntry.vue
  frontend/app/components/form/FormTextEntity.vue
  frontend/app/components/icon/IconDraggableEdit.vue
  frontend/app/components/media/MediaCalendar.vue
  frontend/app/components/media/map/MediaMapEvent.vue
  frontend/app/components/modal/ModalOrganizationOverview.vue
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContent.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilter.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/app/pages/auth/pwreset/email.vue
  frontend/vitest.config.mts
Due: run-i18n-check, prettier-eslint-checks

i18n fixes - files with i18n keys need to be in app
  frontend/app/components/modal/ModalOrganizationOverview.vue
  frontend/app/constants/navMenuItems.ts
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

Minor fixes to unit test imports
  frontend/test/constants.ts
  frontend/test/pages/auth/set-password.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Add pagination functionality to organizations page
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/app/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

quick change
  frontend/app/services/communities/organization/organization.ts
Due: run-i18n-check, prettier-eslint-checks

quick change
  frontend/app/pages/organizations/index.vue
Due: run-i18n-check, prettier-eslint-checks

refactored test_event_text_update.py
  backend/events/tests/text/test_event_text_update.py
Due: mypy-check

refactored test_group_resource_create.py
  backend/communities/groups/tests/resource/test_group_resource_create.py
Due: mypy-check

refactored groups test
  backend/communities/groups/tests/resource/test_group_resource_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/tests/text/test_group_text_update.py
Due: mypy-check

refactored test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
Due: mypy-check

refactor(frontend):removed composable useGetBaseURLs and moved it to constants to be auto imported
  frontend/app/components/FriendlyCaptcha.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
  frontend/app/components/landing/LandingSplash.vue
  frontend/app/components/modal/ModalSharePage.vue
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentEvent.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/app/composables/generic/index.ts
  frontend/app/composables/useFileManager.ts
  frontend/app/constants/baseUrls.ts
  frontend/app/pages/events/create.vue
  frontend/app/pages/groups/create.vue
  frontend/app/pages/resources/create.vue
  frontend/app/pages/resources/index.vue
  frontend/app/services/http.ts
Due: run-i18n-check, prettier-eslint-checks

initial refactor of communities tests
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/organizations/tests/resource/test_org_resource_create.py
Due: mypy-check

coomuities test refactor
  backend/communities/organizations/tests/resource/test_org_resource_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_delete.py
  backend/communities/organizations/tests/text/test_org_text_update.py
Due: mypy-check

refactored test_resource_flag_create
  backend/content/tests/resource/resource_flag/test_resource_flag_create.py
Due: mypy-check

refactored resource flag tests
  backend/content/tests/resource/resource_flag/test_resource_flag_delete.py
  backend/content/tests/resource/resource_flag/test_resource_flag_list.py
  backend/content/tests/resource/resource_flag/test_resource_flag_retrieve.py
Due: mypy-check

refactored event tests
  backend/events/tests/faq/test_event_faq_update.py
  backend/events/tests/flag/test_event_flag_create.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
  backend/events/tests/resource/test_event_resource_create.py
  backend/events/tests/test_event_delete.py
  backend/events/tests/test_event_update.py
Due: mypy-check

refactored event tests
  backend/events/tests/resource/test_event_resource_update.py
  backend/events/tests/social_link/test_event_social_link_create.py
  backend/events/tests/social_link/test_event_social_link_delete.py
  backend/events/tests/social_link/test_event_social_link_update.py
Due: mypy-check

finished refactoring test for authenticated users
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
Due: mypy-check

break populate_db in small module
  backend/core/management/commands/populate_db.py
  backend/core/management/commands/populate_db_helpers/__init__.py
  backend/core/management/commands/populate_db_helpers/populate_org_events.py
  backend/core/management/commands/populate_db_helpers/populate_org_group_event.py
  backend/core/management/commands/populate_db_helpers/populate_org_groups.py
  backend/core/management/commands/populate_db_helpers/populate_orgs.py
Due: mypy-check

moved get topic label to orgs_py
  backend/core/management/commands/populate_db.py
  backend/core/management/commands/populate_db_helpers/populate_orgs.py
Due: mypy-check

Fix var declarations and remove unneeded CSS
  frontend/app/components/FriendlyCaptcha.vue
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

Fix TypeScript errors in event FAQ page
  frontend/app/pages/events/[eventId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

Fix TypeScript errors and modal name in FAQ components
  frontend/app/components/modal/faq-entry/ModalFaqEntryEvent.vue
  frontend/app/pages/events/[eventId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks
