Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

Fix license headers in test files
  frontend/test/components/dropdown/DropdownTheme.spec.ts
  frontend/test/components/form/Form.spec.ts
  frontend/test/components/form/text/FormTextInput.spect.ts
  frontend/test/pages/auth/sign-up.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Improve form submission handling for password visibility
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Simplify password visibility component
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix FormTextInputPassword component interface
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix Prettier formatting for FormTextInputPassword
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Remove tracking of local development files
  .claude/settings.local.json
  .gitignore
Due: none

Remove test that checks for removed console log
  frontend/test/components/form/Form.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix event handler forwarding in FormTextInputPassword
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Annotate future use comments to be more apparent
  frontend/components/FriendlyCaptcha.vue
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/layouts/event/EventList.vue
  frontend/layouts/event/EventPage.vue
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationList.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/types/command-palette.ts
Due: run-i18n-check, prettier-eslint-checks

Switch all placeholder comments to match future feature ones
  frontend/components/modal/ModalCommandPalette.vue
  frontend/nuxt.config.ts
  frontend/test-e2e/accessibility/axe-reporter.ts
  frontend/test-e2e/specs/all/events-page.spec.ts
  frontend/test-e2e/specs/all/home-page.spec.ts
  frontend/test-e2e/specs/all/organizations-page.spec.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test-e2e/specs/desktop/landing-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Feature remove logs (#1395)
  .pre-commit-config.yaml
  frontend/components/FriendlyCaptcha.vue
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/card/CardTopicSelection.vue
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/components/form/FormTemplate.vue
  frontend/components/form/text/FormTextInputSearch.vue
  frontend/components/grid/GridGitHubShields.vue
  frontend/components/media/image-carousel/MediaImageCarousel.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/media/map/MediaMap.vue
  frontend/components/modal/ModalCommandPalette.vue
  frontend/components/modal/upload-images/ModalUploadImages.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/composables/useFileManager.ts
  frontend/composables/useFormCheckboxRadio.ts
  frontend/composables/useMap.ts
  frontend/composables/useRoutingMap.ts
  frontend/directives/sanitize.ts
  frontend/eslint.config.mjs
  frontend/layouts/event/EventList.vue
  frontend/layouts/event/EventPage.vue
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationList.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/nuxt.config.ts
  frontend/pages/events/create.vue
  frontend/test-e2e/accessibility/accessibilityTesting.ts
  frontend/test-e2e/accessibility/axe-reporter.ts
  frontend/test-e2e/specs/all/events-page.spec.ts
  frontend/test-e2e/specs/all/home-page.spec.ts
  frontend/test-e2e/specs/all/organizations-page.spec.ts
  frontend/test-e2e/specs/all/sign-in-page.spec.ts
  frontend/test-e2e/specs/desktop/landing-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page.spec.ts
  frontend/test/components/form/Form.spec.ts
  frontend/types/command-palette.ts
Due: run-i18n-check, prettier-eslint-checks

Fix password visibility issue in login form
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix code formatting and attribute order
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix Vue attribute order: :id and @click before type
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix Vue attribute order: @click before type
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Fix Vue attribute order: @click before :id
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

Add manual submit via enter to forms
  frontend/components/form/Form.vue
Due: run-i18n-check, prettier-eslint-checks

Fix password visibility issue in login form (#1405)
  frontend/components/form/Form.vue
  frontend/components/form/text/FormTextInputPassword.vue
Due: run-i18n-check, prettier-eslint-checks

#1368 #1379 Social links modal delete/create and update values in modal
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/events/views.py
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Order and mark out backend files and order social link requests
  BACKEND_TESTING.md
  backend/authentication/admin.py
  backend/authentication/serializers.py
  backend/authentication/views.py
  backend/communities/admin.py
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/models.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/serializers.py
  backend/communities/urls.py
  backend/content/admin.py
  backend/content/factories.py
  backend/content/models.py
  backend/content/serializers.py
  backend/content/urls.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/social_link/test_event_social_link_update.py
  backend/events/urls.py
Due: mypy-check

Fix social link tests and update Python venv directions + more marks
  CONTRIBUTING.md
  README.md
  backend/authentication/admin.py
  backend/communities/admin.py
  backend/content/admin.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/admin.py
Due: mypy-check

fix: add group hover state to menu item icons in dark mode
  frontend/components/menu/MenuItemLabel.vue
Due: run-i18n-check, prettier-eslint-checks

fix: sidebar menu option icons not receiving CSS group hover actions
  frontend/components/menu/MenuItemLabel.vue
Due: run-i18n-check, prettier-eslint-checks

#1368 #1379 Social links modal delete/create and update values in modal (#1406)
  BACKEND_TESTING.md
  CONTRIBUTING.md
  README.md
  backend/authentication/admin.py
  backend/authentication/serializers.py
  backend/authentication/views.py
  backend/communities/admin.py
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/views.py
  backend/communities/models.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/views.py
  backend/communities/serializers.py
  backend/communities/urls.py
  backend/content/admin.py
  backend/content/factories.py
  backend/content/models.py
  backend/content/serializers.py
  backend/content/tests/social_link/test_social_link.py
  backend/content/urls.py
  backend/events/admin.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/tests/social_link/test_event_social_link_update.py
  backend/events/urls.py
  backend/events/views.py
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update hover for menu item label and switch hover:dark to dark:hover
  frontend/components/card/CardMetricsOverview.vue
  frontend/components/menu/MenuItemLabel.vue
Due: run-i18n-check, prettier-eslint-checks

fix: sidebar menu option icons not receiving CSS group hover actions (#1408)
  frontend/components/card/CardMetricsOverview.vue
  frontend/components/menu/MenuItemLabel.vue
Due: run-i18n-check, prettier-eslint-checks

Minor adjustments to postgres docs and GitHub important syntax
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#1409)
  CONTRIBUTING.md
Due: none

test: add Playwright E2E tests for social links functionality
  frontend/test-e2e/component-objects/ConnectCard.ts
  frontend/test-e2e/component-objects/SocialLinksModal.ts
  frontend/test-e2e/page-objects/OrganizationPage.ts
  frontend/test-e2e/specs/all/social-links.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix Prettier formatting for social links E2E tests
  frontend/test-e2e/component-objects/ConnectCard.ts
  frontend/test-e2e/component-objects/SocialLinksModal.ts
  frontend/test-e2e/page-objects/OrganizationPage.ts
  frontend/test-e2e/specs/all/social-links.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactor: removed commented-out code in line 140
  backend/events/serializers.py
Due: mypy-check

refactor: created helper function _invalid_dates() for confirming that start date is before end date
  backend/events/serializers.py
Due: mypy-check

Translated using Weblate (French)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (French) (#1413)
  frontend/i18n/fr.json
Due: run-i18n-check, prettier-eslint-checks

#815 #816 #818 Work towards hydrating social faqs and social links
  frontend/components/card/CardFAQEntry.vue
  frontend/components/card/connect/CardConnect.vue
  frontend/components/card/connect/CardConnectEvent.vue
  frontend/components/card/connect/CardConnectGroup.vue
  frontend/components/card/connect/CardConnectOrganization.vue
  frontend/components/form/FormFAQEntry.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/form/FormTextEntity.vue
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryEvent.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryGroup.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryOrganization.vue
  frontend/components/modal/edit/social-links/ModalEditSocialLinksEvent.vue
  frontend/components/modal/edit/social-links/ModalEditSocialLinksGroup.vue
  frontend/components/modal/edit/social-links/ModalEditSocialLinksOrganization.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/forms/schemas/organizationSchema.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/communities/organization.d.ts
Due: run-i18n-check, prettier-eslint-checks

Add license headers and update iconUrl to be optional in org
  frontend/components/form/FormFAQEntry.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/form/FormTextEntity.vue
  frontend/pages/organizations/[orgId]/index.vue
Due: run-i18n-check, prettier-eslint-checks

#815 #816 #818 Work towards hydrating social faqs and social links (#1416)
  frontend/components/card/CardFAQEntry.vue
  frontend/components/card/connect/CardConnect.vue
  frontend/components/card/connect/CardConnectEvent.vue
  frontend/components/card/connect/CardConnectGroup.vue
  frontend/components/card/connect/CardConnectOrganization.vue
  frontend/components/form/FormFAQEntry.vue
  frontend/components/form/FormSocialLink.vue
  frontend/components/form/FormTextEntity.vue
  frontend/components/modal/add/ModalAddFaqEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryEvent.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryGroup.vue
  frontend/components/modal/edit/faq-entry/ModalEditFaqEntryOrganization.vue
  frontend/components/modal/edit/social-links/ModalEditSocialLinksEvent.vue
  frontend/components/modal/edit/social-links/ModalEditSocialLinksGroup.vue
  frontend/components/modal/edit/social-links/ModalEditSocialLinksOrganization.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/forms/schemas/organizationSchema.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/about.vue
  frontend/pages/organizations/[orgId]/about.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/pages/organizations/[orgId]/index.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/communities/organization.d.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix services to get token from useAuth
  frontend/composables/useFileManager.ts
Due: run-i18n-check, prettier-eslint-checks

#1417 Order FAQ entries for all edits and adds
  backend/communities/groups/models.py
  backend/communities/organizations/models.py
  backend/core/management/commands/populate_db.py
  backend/events/models.py
  frontend/assets/css/tailwind.css
  frontend/components/dropdown/DropdownBase.vue
  frontend/components/dropdown/DropdownItemsLayout.vue
  frontend/components/menu/MenuItemLabel.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryEvent.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryGroup.vue
  frontend/components/modal/add/faq-entry/ModalAddFaqEntryOrganization.vue
  frontend/i18n/en-US.json
  frontend/i18n/fr.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/utils/sidebarUtils.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
