Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix(e2e): disable ESLint no-empty-pattern
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): fix import paths, navigate via page.goto, and enforce TS strictness
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mock-public-organization-detail.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): fix import paths, navigate via page.goto, and enforce TS strictness
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mock-public-organization-detail.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): fix strict mode violation by using scoped page object list locators
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): remove eslint-disable and pass testInfo directly to tests
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): update assertions, fix mock URL intercepts, and resolve linting errors
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mock-public-organization-detail.ts
Due: prettier-eslint-checks, run-i18n-check

feat: add per-dependency max version caps to dependency_update_check
  .github/workflows/dependency_update_check.yaml
  utils/dependency_update_check/clamp_frontend_versions.ts
  utils/dependency_update_check/compare_backend_versions.py
Due: none

fix(security): restrict style sources in CSP
  frontend/nuxt.config.ts
Due: prettier-eslint-checks, run-i18n-check

Update workflow and Python script formatting + vars
  .github/workflows/dependency_update_check.yaml
  utils/dependency_update_check/compare_backend_versions.py
Due: none

Remove function to simplify file
  utils/dependency_update_check/compare_backend_versions.py
Due: none

Switch to yarn.config.cjs for constraining fe packages
  .github/workflows/dependency_update_check.yaml
  frontend/yarn.config.cjs
  utils/dependency_update_check/clamp_frontend_versions.ts
Due: prettier-eslint-checks, run-i18n-check

feat: add per-dependency max version caps to dependency_update_check (#2369)
  .github/workflows/dependency_update_check.yaml
  frontend/yarn.config.cjs
  utils/dependency_update_check/compare_backend_versions.py
Due: prettier-eslint-checks, run-i18n-check

Minor updates to dependency update check issue format
  .github/workflows/dependency_update_check.yaml
Due: none

Update css and remove sidebar hover actions for blur
  frontend/app/composables/useSidebarClass.ts
  frontend/app/layouts/Home.vue
  frontend/app/layouts/Resource.vue
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationList.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/test/composables/useSidebarClass.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix: organization About layout responsiveness (#2365)
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/about/CardAbout.vue
  frontend/app/components/header/app-page/HeaderAppPage.vue
  frontend/app/components/sidebar/left/SidebarLeft.vue
  frontend/app/composables/useSidebarClass.ts
  frontend/app/layouts/Home.vue
  frontend/app/layouts/Resource.vue
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationList.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/tailwind.config.ts
  frontend/test/composables/useSidebarClass.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Added @nuxt/a11y as a dependency.
  frontend/modules.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix: evaluate useBreakpoint value in useLinkURL and add unit tests
  frontend/app/composables/useLinkURL.ts
  frontend/test/composables/useLinkURL.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: import AppErrorCause and upload limits from shared constants
  frontend/app/composables/useFileManager.ts
  frontend/app/services/content/imageUploadValidation.ts
  frontend/server/api/images/validate-upload.post.ts
  frontend/shared/utils/imageUploadBatchValidation.ts
  frontend/test/components/modal/upload-image/ModalUploadImageIcon.spec.ts
  frontend/test/composables/useFileManager.spec.ts
  frontend/test/server/api/images/validate-upload.spec.ts
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
  frontend/test/services/content/imageUploadValidation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: ensure useLinkURL always targets about pages and handles empty props
  frontend/app/composables/useLinkURL.ts
  frontend/test/composables/useLinkURL.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: import EntityMap in ModalUploadImageIcon spec
  frontend/test/components/modal/upload-image/ModalUploadImageIcon.spec.ts
Due: prettier-eslint-checks, run-i18n-check

lint fix
  frontend/server/api/images/validate-upload.post.ts
  frontend/test/composables/useFileManager.spec.ts
  frontend/test/server/api/images/validate-upload.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added pagination for organization events
  backend/communities/organizations/views.py
Due: mypy-check

modified the tests for org events pagination
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
Due: mypy-check

added OrganizationEventFilters type for paginated org event lists
  frontend/shared/types/event.d.ts
Due: prettier-eslint-checks, run-i18n-check

updated org events service to list paginated results like other event lists
  frontend/app/services/communities/organization/event.ts
Due: prettier-eslint-checks, run-i18n-check

added cache keys to invalidate organization event lists
  frontend/app/composables/cache/useOrganizationCache.ts
Due: prettier-eslint-checks, run-i18n-check

switched org events fetching to infinite query pagination
  frontend/app/composables/queries/organization/useGetOrganizationEvents.ts
Due: prettier-eslint-checks, run-i18n-check

added infinite scroll pagination to the organization events page
  frontend/app/pages/organizations/[orgId]/events.vue
Due: prettier-eslint-checks, run-i18n-check

removed unused organization events pinia store
  frontend/app/stores/data/organization.ts
Due: prettier-eslint-checks, run-i18n-check

updated org events service tests for the paginated list response
  frontend/test/services/communities/organization/event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added tests for organization events cache keys
  frontend/test/composables/cache/useOrganizationCache.spec.ts
Due: prettier-eslint-checks, run-i18n-check

remove unused import
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
Due: mypy-check

Update title of dependency update report
  .github/workflows/dependency_update_check.yaml
Due: none

fix: add --project ./backend to run-i18n-check pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: add --project ./backend to run-i18n-check pre-commit hook (#2376)
  .pre-commit-config.yaml
Due: none

feat: paginate organization events on API and UI (#2354)
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
  backend/communities/organizations/views.py
  frontend/app/composables/cache/useOrganizationCache.ts
  frontend/app/composables/queries/organization/useGetOrganizationEvents.ts
  frontend/app/pages/organizations/[orgId]/events.vue
  frontend/app/services/communities/organization/event.ts
  frontend/app/stores/data/organization.ts
  frontend/shared/types/event.d.ts
  frontend/test/composables/cache/useOrganizationCache.spec.ts
  frontend/test/services/communities/organization/event.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Update FormSelectorCombobox with data-testid
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-create/organizations-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(security): restrict style sources in CSP (#2373)
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/nuxt.config.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/organizations/organizations-create/organizations-create-form-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
