Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy . --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python ./pre_commit_scripts/prettier_eslint_checks.py
  language: python
  pass_filenames: false

chore: refactor edit text modal event
  frontend/components/form/Form.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
Due: run-i18n-check, prettier-eslint-checks

Fix Safari favicon display issue
  frontend/head.ts
Due: run-i18n-check, prettier-eslint-checks

groups views and test update
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/groups/tests/test_group_retrieve.py
  backend/communities/groups/views.py
  backend/communities/urls.py
Due: mypy-check

fixes for entity flag views and tests
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/tests/resource/resource_flag/test_resource_flag_delete.py
  backend/content/tests/resource/resource_flag/test_resource_flag_list.py
  backend/content/tests/resource/resource_flag/test_resource_flag_retrieve.py
  backend/content/urls.py
  backend/content/views.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

mypy errors fix
  backend/authentication/views.py
  backend/communities/groups/views.py
Due: mypy-check

mypy errors fix (again)
  backend/communities/groups/views.py
Due: mypy-check

Adding in org and group text edit changes + i18n updates
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
  frontend/pages/organizations/create.vue
Due: run-i18n-check, prettier-eslint-checks

changes to views and urls to GenericAPIView
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/urls.py
  backend/content/views.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

fix(front): text input overflowing when its empty
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

fix(front): text input with default value with label on top
  frontend/components/form/text/FormTextInput.vue
Due: run-i18n-check, prettier-eslint-checks

github workflow for ts-backend-check and adding the package to requirements-dev.txt
  .github/workflows/pr_ci_ts_backend_check.yaml
  backend/requirements-dev.in
  backend/requirements-dev.txt
Due: none

changes to requirements-dev.txt file
  backend/requirements-dev.txt
Due: none

Refactor ModalEditText* components to use new form components
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Arabic)
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1353)
  frontend/i18n/ar.json
Due: run-i18n-check, prettier-eslint-checks

fix(front): text input with default value with label on top
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

WIP Refactor edit text modal event (#1348)
  frontend/components/form/Form.vue
  frontend/components/form/text/FormTextInput.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/create.vue
  frontend/pages/groups/create.vue
  frontend/pages/organizations/create.vue
Due: run-i18n-check, prettier-eslint-checks

#1341 Update tailwind.css with new typography styles and apply them
  STYLEGUIDE.md
  frontend/assets/css/tailwind.css
  frontend/components/Typography.vue
  frontend/components/btn/BtnTag.vue
  frontend/components/btn/action/BtnAction.vue
  frontend/components/btn/action/BtnActionDropdown.vue
  frontend/components/btn/route/BtnRouteExternal.vue
  frontend/components/btn/route/BtnRouteInternal.vue
  frontend/components/card/discussion/CardDiscussionInput.vue
  frontend/components/grid/GridGitHubShields.vue
  frontend/components/header/app-page/HeaderAppPage.vue
  frontend/components/landing/LandingSplash.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/components/sidebar/left/SidebarLeftSelector.vue
  frontend/package.json
  frontend/tailwind.config.ts
  frontend/test/components/Typography.spec.ts
  frontend/types/btn-props.d.ts
  frontend/utils/btnUtils.ts
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

Fix component formatting and localize header
  frontend/components/modal/ModalOrganizationStatus.vue
  frontend/i18n/en-US.json
Due: run-i18n-check, prettier-eslint-checks

Fix dark mode coloration given new text coloration styling
  frontend/assets/css/tailwind.css
  frontend/components/btn/BtnShareIcon.vue
  frontend/components/card/CardFAQEntry.vue
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/footer/flex/FooterFlex.vue
  frontend/components/footer/flex/FooterFlexCol.vue
  frontend/components/meta-tag/MetaTag.vue
  frontend/components/meta-tag/MetaTagSocialMedia.vue
  frontend/components/modal/qr-code/ModalQRCodeBtn.vue
Due: run-i18n-check, prettier-eslint-checks

chore:update styleguide with new text stying guide section
  STYLEGUIDE.md
Due: none

Edits to styleguide
  README.md
  STYLEGUIDE.md
Due: none

Fixes for header capitalization
  STYLEGUIDE.md
Due: none

chore:update styleguide with new text stying guide section (#1357)
  README.md
  STYLEGUIDE.md
Due: none

Finalize ts-backend-check workflow
  .github/workflows/pr_ci_ts_backend_check.yaml
Due: none

Simplify ts-backend-check commands and comment out for now
  .github/workflows/pr_ci_ts_backend_check.yaml
Due: none

Integrating ts-backend-check workflow into activist (#1351)
  .github/workflows/pr_ci_ts_backend_check.yaml
  backend/requirements-dev.in
  backend/requirements-dev.txt
Due: none

fix: sign up page
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-eslint-checks

fix: sign up page confirm passord
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-eslint-checks

Localize description required message for ModalEditText
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Fix sign up page (#1358)
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/pages/auth/sign-up.vue
Due: run-i18n-check, prettier-eslint-checks

Rename tests, format files and add __init__
  backend/authentication/tests/flag/__init__.py
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/authentication/tests/flag/test_user_flag_delete.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/flag/test_user_flag_retrieve.py
  backend/authentication/tests/test_auth.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_delete.py
  backend/communities/groups/tests/flag/test_group_flag_list.py
  backend/communities/groups/tests/flag/test_group_flag_retrieve.py
  backend/communities/groups/tests/test_group_retrieve.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/flag/test_org_flag_list.py
  backend/communities/organizations/tests/flag/test_org_flag_retrieve.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/image/test_image_upload.py
  backend/content/tests/resource/resource_flag/test_resource_flag_create.py
  backend/content/tests/resource/resource_flag/test_resource_flag_delete.py
  backend/content/tests/resource/resource_flag/test_resource_flag_list.py
  backend/content/tests/resource/resource_flag/test_resource_flag_retrieve.py
  backend/content/tests/resource/test_resource_delete.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/tests/flag/test_event_flag_create.py
  backend/events/tests/flag/test_event_flag_delete.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/flag/test_event_flag_retrieve.py
Due: mypy-check

chore: set up for @sidebase/nuxt-auth done and sign in started
  frontend/composables/useAuth.ts
  frontend/modules.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/auth/sign-in.vue
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

test: adding 401 test cases for entity flag creation.
  backend/authentication/tests/flag/test_user_flag_create.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/content/tests/resource/resource_flag/test_resource_flag_create.py
  backend/events/tests/flag/test_event_flag_create.py
Due: mypy-check

refactor: use reusable form components in ModalEditSocialLinks
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/nuxt.config.ts
Due: run-i18n-check, prettier-eslint-checks

fix: update field bindings and improve form structure
  frontend/.gitignore
  frontend/components/modal/edit/ModalEditSocialLinks.vue
  frontend/package-lock.json
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

Add new favicons and edit head.ts to load them
  frontend/head.ts
  frontend/public/icons/favicons/favicon-16x16.png
  frontend/public/icons/favicons/favicon-32x32.png
  frontend/public/icons/favicons/favicon-android-chrome-192x192.png
  frontend/public/icons/favicons/favicon-android-chrome-512x512.png
  frontend/public/icons/favicons/favicon-apple-touch.png
  frontend/public/icons/favicons/favicon.ico
  frontend/public/icons/favicons/favicon.svg
  frontend/public/icons/favicons/faviconDark.png
  frontend/public/icons/favicons/faviconLight.png
Due: run-i18n-check, prettier-eslint-checks

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
