Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.3
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Fixes to organization filtering based on updates to topic dropdown
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
Due: run-i18n-check, prettier-eslint-checks

Fixes for vitest for organization list
  frontend/test/services/communities/organization/organization.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Add pagination to organizations/ endpoint (#1733)
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/services/communities/organization/organization.ts
  frontend/shared/types/organization.d.ts
  frontend/test/services/communities/organization/organization.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fixes for tests to use sidebar composable in tests
  frontend/app/composables/useColor.ts
  frontend/test/components/sidebar/SidebarLeft.spec.ts
  frontend/test/composables/useSidebarClass.spec.ts
  frontend/test/setup.ts
  frontend/test/utils/sidebarUtils.spec.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

test: add unit tests for Sidebar and useSidebar logic (#1652) (#1657)
  frontend/app/composables/useColor.ts
  frontend/test/components/sidebar/SidebarLeft.spec.ts
  frontend/test/composables/useSidebarClass.spec.ts
  frontend/test/setup.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

Minor vitest file formatting
  frontend/test/composables/useSidebarClass.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Add license header, formatting and remove anys
  frontend/test/composables/useBreakpoint.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: add unit tests for useBreakpoint composable (#1695) (#1716)
  frontend/test/composables/useBreakpoint.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Unit tests, remove imports, add btn hover cursor-pointer
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/CardResource.vue
  frontend/app/components/modal/ModalAlert.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/test/services/communities/group/resource.spec.ts
  frontend/test/services/communities/organization/resource.spec.ts
  frontend/test/services/event/resource.spec.ts
Due: run-i18n-check, prettier-eslint-checks

refactored tests on authentication/views.py
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_signup.py
  backend/authentication/tests/test_verify_email.py
  backend/authentication/tests/test_verify_email_for_pwreset.py
Due: mypy-check

formatted code
  backend/authentication/tests/flag/test_user_flag_list.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_verify_email.py
  backend/authentication/tests/test_verify_email_for_pwreset.py
Due: mypy-check

fix: remove duplicate organization-faq-list test ID from draggable component
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

fix: move edit/delete buttons outside FAQ disclosure button to resolve nested interactive controls
  frontend/app/components/card/CardFAQEntry.vue
Due: run-i18n-check, prettier-eslint-checks

fix: remove duplicate organization-faq-list test ID from draggable component (#1743)
  frontend/app/pages/organizations/[orgId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

fix: use correct route parameter for groupId in FAQ page
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

test: add auto-import mock utility for Vitest
  frontend/test/auto-imports.ts
Due: run-i18n-check, prettier-eslint-checks

test: integrate auto-import mock utility into test setup
  frontend/test/setup.ts
Due: run-i18n-check, prettier-eslint-checks

test: exclude critical Nuxt composables from auto-mocking
  frontend/test/auto-imports.ts
Due: run-i18n-check, prettier-eslint-checks

test: fix TypeScript typecheck errors for Node.js imports
  frontend/test/auto-imports.ts
Due: run-i18n-check, prettier-eslint-checks

fix: remove unused @ts-expect-error directives in auto-imports.ts
  frontend/test/auto-imports.ts
Due: run-i18n-check, prettier-eslint-checks

fix: use correct route parameter for groupId in FAQ page (#1748)
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

Add focus brand, IconDelete is a button, a11y fixes
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
Due: run-i18n-check, prettier-eslint-checks

fix: move edit/delete buttons outside FAQ disclosure button to resolve nested interactive controls (#1745)
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
Due: run-i18n-check, prettier-eslint-checks

Expand i18n unit tests to rely on LOCALE_CODE + misc fixes
  frontend/shared/utils/locales.ts
  frontend/test/utils/errorHandler.spec.ts
  frontend/test/utils/i18n.spec.ts
  frontend/test/utils/routeUtils.spec.ts
  frontend/test/utils/utils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: add core utility function tests (#1686)
  frontend/shared/utils/locales.ts
  frontend/test/utils/errorHandler.spec.ts
  frontend/test/utils/i18n.spec.ts
  frontend/test/utils/routeUtils.spec.ts
  frontend/test/utils/utils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Minor comment fix, move composables test file, create new dirs
  frontend/test/app/.gitkeep
  frontend/test/composables/useGetGroupTabs.ts
  frontend/test/shared/.gitkeep
  frontend/test/utils/baseURLs.spec.ts
  frontend/test/utils/btnUtils.spec.ts
  frontend/test/utils/captcha.spec.ts
  frontend/test/utils/imageURLRegistry.s.spec.ts
  frontend/test/utils/locales.spec.ts
  frontend/test/utils/mapUtils.spec.ts
  frontend/test/utils/mentionSuggestion.spec.ts
  frontend/test/utils/navMenuItems.spec.ts
  frontend/test/utils/passwordRules.spec.ts
  frontend/test/utils/sidebarUtils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Simplify backend resource tests and fix comments
  backend/communities/groups/tests/resource/test_group_resource_delete.py
  backend/communities/groups/tests/resource/test_group_resource_list.py
  backend/communities/groups/tests/resource/test_group_resource_retrieve.py
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_list.py
  backend/communities/organizations/tests/resource/test_org_resource_retrieve.py
  backend/events/tests/resource/test_event_resource_delete.py
  backend/events/tests/resource/test_event_resource_list.py
  backend/events/tests/resource/test_event_resource_retrieve.py
Due: mypy-check

Further resource test simplification and comment fixes
  backend/communities/groups/tests/resource/test_group_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/events/tests/resource/test_event_resource_delete.py
Due: mypy-check

Feature/delete confirmation modal (#1724)
  backend/communities/groups/tests/resource/test_group_resource_delete.py
  backend/communities/groups/tests/resource/test_group_resource_list.py
  backend/communities/groups/tests/resource/test_group_resource_retrieve.py
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_list.py
  backend/communities/organizations/tests/resource/test_org_resource_retrieve.py
  backend/events/tests/resource/test_event_resource_delete.py
  backend/events/tests/resource/test_event_resource_list.py
  backend/events/tests/resource/test_event_resource_retrieve.py
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/CardResource.vue
  frontend/app/components/modal/ModalAlert.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/services/communities/group/resource.ts
  frontend/app/services/communities/organization/resource.ts
  frontend/app/services/event/resource.ts
  frontend/i18n/locales/en-US.json
  frontend/test/services/communities/group/resource.spec.ts
  frontend/test/services/communities/organization/resource.spec.ts
  frontend/test/services/event/resource.spec.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Translated using Weblate (Ukrainian)
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Ukrainian) (#1750)
  frontend/i18n/locales/uk.json
Due: run-i18n-check, prettier-eslint-checks

fix: add Node.js type reference for fs/path/url imports
  frontend/test/auto-imports.ts
Due: run-i18n-check, prettier-eslint-checks

expanded testing on events/views.py
  backend/events/tests/faq/test_event_faq_create.py
  backend/events/tests/faq/test_event_faq_destroy.py
  backend/events/tests/faq/test_event_faq_update.py
  backend/events/tests/flag/test_event_flag_list.py
  backend/events/tests/social_link/test_event_social_link_delete.py
  backend/events/tests/test_event_api.py
Due: mypy-check

expanded testing in communities/groups/views.py
  backend/communities/groups/tests/faq/test_group_faq_delete.py
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/groups/tests/test_group_list.py
Due: mypy-check

test: refactor examples demonstrating auto-import mocking patterns
  frontend/test/components/btn/route/BtnRouteInternal.spec.ts
  frontend/test/components/modal/ModalBase.spec.ts
  frontend/test/components/sidebar/SidebarLeft.spec.ts
  frontend/test/composables/useColor.spec.ts
  frontend/test/services/http.spec.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

fix: add useColorModeMock to GlobalThisTest type for TypeScript support
  frontend/test/composables/useColor.spec.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

refactor: use var declarations in global scope for direct globalThis property access
  frontend/test/composables/useColor.spec.ts
  frontend/test/services/helpers.ts
  frontend/test/services/http.spec.ts
  frontend/test/vitest-globals.d.ts
Due: run-i18n-check, prettier-eslint-checks

feat(events): introduce proper days_ahead filtering and align frontend query params
  backend/events/filters.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/shared/types/event.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

test: remove duplicate sidebarUtils.spec.ts
  frontend/test/utils/sidebarUtils.spec.ts
Due: run-i18n-check, prettier-eslint-checks

test: reorganize test files to match application structure
  frontend/test/composables/useMentionSuggestions.spec.ts
  frontend/test/constants/baseUrls.spec.ts
  frontend/test/constants/captcha.spec.ts
  frontend/test/constants/navMenuItems.spec.ts
  frontend/test/constants/passwordRules.spec.ts
Due: run-i18n-check, prettier-eslint-checks
