Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fixed license header
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

sorted imports
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(e2e): empty states for event FAQ and resources
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/test-e2e/specs/all/events/event-faq/event-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mockPublicEventDetail.ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/test-e2e/specs/all/events/event-faq/event-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mock-public-event-detail.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): stabilize event FAQ CRUD spec initial count
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix comments on useMap tests
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Use map test (#2072)
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update dev dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix prettier and removed unnecerary code
  frontend/app/components/modal/ModalBase.vue
  frontend/eslint.config.mjs
Due: prettier-eslint-checks, run-i18n-check

fix footer layouts
  frontend/app/layouts/Home.vue
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationList.vue
  frontend/app/layouts/organization/OrganizationPage.vue
Due: prettier-eslint-checks, run-i18n-check

fix issues with static tests
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix layouts footer
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
Due: prettier-eslint-checks, run-i18n-check

fix tests with updated code
  frontend/test/components/card/search-result-entity/CardSearchResultEntityEvent.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for CardSearchResultEntity Event and User (#1796)
  CONTRIBUTING.md
  frontend/test/components/card/search-result-entity/CardSearchResultEntityEvent.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

docs: add frontend JSDoc style guide to CONTRIBUTING.md and STYLEGUIDE.md
  CONTRIBUTING.md
  STYLEGUIDE.md
Due: none

Add zh-Hans locale given Weblate/Matrix request
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Remove unneeded note from contributing
  CONTRIBUTING.md
Due: none

fix modal qr code by refactoring and creating one unique instance of the modal
  frontend/app/components/btn/action/BtnActionDropdown.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/components/modal/qr-code/ModalQRCode.vue
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
  frontend/app/composables/generic/useModalHandlers.ts
  frontend/app/layouts/event/EventPage.vue
  frontend/app/stores/modals.ts
Due: prettier-eslint-checks, run-i18n-check

fix brocken navigation
  frontend/app/components/modal/qr-code/ModalQRCodeBtn.vue
Due: prettier-eslint-checks, run-i18n-check

WIP, but will be merged: Combine docs and create contributing
  services/filescan/CONTRIBUTING.md
  services/filescan/CSAM_IMPLEMENTATION_NOTES.md
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/MALWARE_DETECTED_RUNBOOK.md
  services/filescan/README.md
  services/filescan/scanners/clamav.py
  services/filescan/scanners/csam.py
  services/filescan/tests/test_clamav_scanner.py
  services/filescan/tests/test_csam_scanner.py
  services/filescan/tests/test_scan_endpoint.py
Due: none

Minor improvements to frontend docstring docs
  CONTRIBUTING.md
  STYLEGUIDE.md
Due: none

docs: add frontend JSDoc style guide to CONTRIBUTING.md and STYLEGUIDE.md (#2078)
  CONTRIBUTING.md
  STYLEGUIDE.md
Due: none

Remove unneded testing id
  frontend/app/layouts/group/GroupPage.vue
Due: prettier-eslint-checks, run-i18n-check

Revert change to dev dependency group in backend - fixes backend build issues
  .gitignore
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: none

fix footer layouts (#2077)
  .gitignore
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
  frontend/app/layouts/Home.vue
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationList.vue
  frontend/app/layouts/organization/OrganizationPage.vue
Due: prettier-eslint-checks, run-i18n-check

Minor comment fixes
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
Due: prettier-eslint-checks, run-i18n-check

Added Clear Filters Button for Events (#2036)
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix modal qr tests e2e
  frontend/test-e2e/component-objects/QRCodeModal.ts
Due: prettier-eslint-checks, run-i18n-check

fix unit tests
  frontend/app/components/modal/qr-code/ModalQRCode.vue
Due: prettier-eslint-checks, run-i18n-check

fix landing page first render
  frontend/app/components/landing/LandingSplash.vue
  frontend/app/stores/dev.ts
Due: prettier-eslint-checks, run-i18n-check

query improvements for organization lists
  backend/communities/organizations/filters.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/content/factories.py
  frontend/app/components/card/search-result-entity/CardSearchResultEntityOrganization.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Fix tech stack links on shields in readme
  CONTRIBUTING.md
  README.md
Due: none

added new filters for organizations
  backend/communities/organizations/filters.py
  frontend/app/components/form/FormSearchLocation.vue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fixes i18n check
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationsLocation.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
