Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Add style for checking breakpoints and update Tailwind classes
  STYLEGUIDE.md
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/feed/Feed.vue
  frontend/app/pages/organizations/[orgId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

Minor fix to Tailwind classes
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/index.vue
Due: prettier-eslint-checks, run-i18n-check

fix: improve mobile layout on organization pages (#1942)
  STYLEGUIDE.md
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/app/components/feed/Feed.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/index.vue
Due: prettier-eslint-checks, run-i18n-check

Return id of organization to be created
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/services/communities/organization/organization.ts
Due: prettier-eslint-checks, run-i18n-check

Better formatting upon running yarn format
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Redirection to new group's about working
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  frontend/app/components/modal/create/ModalCreateGroup.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Redirect to newly created group
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/services/communities/group/group.ts
Due: prettier-eslint-checks, run-i18n-check

Add type annotation for create function
  backend/communities/groups/views.py
Due: mypy-check

Redirection to new group's about page working
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  frontend/app/components/modal/create/ModalCreateGroup.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Redirect to new group's about page with associated organization
  frontend/app/components/dropdown/DropdownCreate.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Addition of throttle measures for testing
  backend/communities/organizations/views.py
Due: mypy-check

Header shows path of newly created organization instead of previously created one
  frontend/app/components/page/PageBreadcrumbs.vue
Due: prettier-eslint-checks, run-i18n-check

Correct implementation of redirecting to new created organization's about
  backend/communities/organizations/views.py
  frontend/app/components/modal/create/ModalCreateOrganization.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Remove unused variables and apply better formatting
  frontend/app/components/dropdown/DropdownCreate.vue
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/services/communities/organization/organization.ts
Due: prettier-eslint-checks, run-i18n-check

Fix import path
  frontend/app/components/modal/create/ModalCreateOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

Avoid redundant api call by using organization store if available
  frontend/app/components/page/PageBreadcrumbs.vue
Due: prettier-eslint-checks, run-i18n-check

previously known working group creation
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
Due: mypy-check

Redirection to about page of group works after refreshment
  frontend/app/components/modal/create/ModalCreateGroup.vue
Due: prettier-eslint-checks, run-i18n-check

Attempt to redirect to organization about page
  backend/communities/organizations/views.py
  frontend/app/composables/mutations/useOrganizationMutations.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Country code is not optional
  backend/communities/groups/serializers.py
Due: mypy-check

Prettier fomatting
  frontend/app/components/modal/create/ModalCreateGroup.vue
  frontend/app/components/modal/create/ModalCreateOrganization.vue
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/composables/mutations/useOrganizationMutations.ts
  frontend/app/services/communities/group/group.ts
Due: prettier-eslint-checks, run-i18n-check

Formatting and linting of code by tests
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
Due: mypy-check

post function sends organization instead of organization id
  backend/communities/organizations/views.py
Due: mypy-check

changed from navigateTo to router again
  frontend/app/components/modal/create/ModalCreateGroup.vue
Due: prettier-eslint-checks, run-i18n-check

removed imports since auto import exists
  frontend/app/components/modal/create/ModalCreateOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

Return mapped group object from api call
  frontend/app/services/communities/group/group.ts
Due: prettier-eslint-checks, run-i18n-check

Remove unnecessary try catch block
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Removal of printing lines for checks during development
  frontend/app/components/modal/create/ModalCreateGroup.vue
Due: prettier-eslint-checks, run-i18n-check

Return organization instead of string object
  frontend/app/services/communities/organization/organization.ts
Due: prettier-eslint-checks, run-i18n-check

Previously removed comment addition
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Group creation not working
  backend/communities/groups/serializers.py
Due: mypy-check

Country field is not optional
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
Due: prettier-eslint-checks, run-i18n-check

Redirection to new created group working within organization's about page as well outside of it
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

create function return organization instead of organization id
  frontend/app/composables/mutations/useOrganizationMutations.ts
Due: prettier-eslint-checks, run-i18n-check

Better naming of variables
  frontend/app/composables/mutations/useGroupMutations.ts
Due: prettier-eslint-checks, run-i18n-check

chore(populate_db): switch assigned seed data loading from JSON to YAML (#2010)
  backend/core/management/commands/entity_data_to_assign.json
  backend/core/management/commands/entity_data_to_assign.yaml
  backend/core/management/commands/populate_db.py
  backend/pyproject.toml
  backend/tests/fixtures/populate_db_assigned.json
  backend/tests/fixtures/populate_db_assigned.yaml
  backend/tests/test_populate_db_command.py
  backend/uv.lock
  docker-compose.yml
Due: mypy-check

fix: hide create/edit controls on FAQ/resource pages for non-admins
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

Issue 1171: local commit.
  docker-compose.yml
  services/filescan/CSAM_IMPLEMENTATION_NOTES.md
  services/filescan/Dockerfile
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/README.md
  services/filescan/TESTING.md
  services/filescan/entrypoint.sh
  services/filescan/main.py
  services/filescan/scanners/__init__.py
  services/filescan/scanners/clamav.py
  services/filescan/scanners/csam.py
  services/filescan/testImage_01.jpg
  services/filescan/tests/test_clamav_scanner.py
  services/filescan/tests/test_csam_scanner.py
  services/filescan/tests/test_scan_endpoint.py
Due: none

fix: move create permission gating into BtnActionAdd component
  frontend/app/components/btn/action/BtnActionAdd.vue
  frontend/app/composables/useUser.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): avoid ENOENT when auth state file is missing
  frontend/package.json
  frontend/playwright.config.mts
  frontend/test-e2e/global-setup.ts
Due: prettier-eslint-checks, run-i18n-check
