Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix: typing and testing
  frontend/app/components/form/FormListItem.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupLocation.vue
  frontend/shared/types/create-group-type.d.ts
  frontend/test/components/form/FormListItem.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#1881)
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
Due: prettier-eslint-checks, run-i18n-check

feat: add event details edit modal
  backend/events/factories.py
  backend/events/views.py
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/event/ModalEventDetails.vue
  frontend/app/composables/mutations/index.ts
  frontend/app/composables/mutations/useEventDetailMutations.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/services/event/event.ts
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/fr.json
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Update backend dependencies given dependabot warning and general update
  backend/pyproject.toml
  backend/uv.lock
Due: none

removed obsolete group and organization API test files
  backend/communities/groups/tests/test_group_api.py
  backend/communities/organizations/tests/test_org_api.py
Due: mypy-check

removed fields org_name and group_name, adjusted tests
  backend/communities/admin.py
  backend/communities/groups/models.py
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/communities/groups/tests/test_group.py
  backend/communities/organizations/models.py
  backend/communities/organizations/views.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/location/test_location_str_methods.py
  backend/content/tests/social_link/test_social_link.py
  backend/core/management/commands/entity_data_to_assign.json
  backend/core/management/commands/populate_db_utils/populate_org_groups.py
  backend/core/management/commands/populate_db_utils/populate_orgs.py
  backend/events/tests/test_event_api.py
  backend/events/tests/test_event_update.py
Due: mypy-check

fix: fix the issue with refresh when first rendering calendar and added create after the end of loop
  frontend/app/app.vue
  frontend/app/components/form/dateTime/FormDateTime.vue
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/stores/machines/create-event.ts
Due: prettier-eslint-checks, run-i18n-check

fix: vitests
  frontend/test/composables/queries/useGetEvent.spec.ts
  frontend/test/composables/queries/useGetEvents.spec.ts
  frontend/test/composables/queries/useGetGroup.spec.ts
  frontend/test/composables/queries/useGetGroupImages.spec.ts
  frontend/test/composables/queries/useGetGroups.spec.ts
  frontend/test/composables/queries/useGetOrganization.spec.ts
  frontend/test/composables/queries/useGetOrganizationByUser.spec.ts
  frontend/test/composables/queries/useGetOrganizationImages.spec.ts
  frontend/test/composables/queries/useGetOrganizations.spec.ts
  frontend/test/composables/queries/useGetTopics.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore: added components testing
  frontend/app/components/form/radio/FormRadioGroup.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/package.json
  frontend/test/components/form/radio/FormRadioBtn.spec.ts
  frontend/test/components/form/radio/FormRadioGroup.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(test): add mutation test infra aligned with #1753 patterns
  frontend/test/composables/mutations/setup.ts
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/mocks/composableMocks.ts
  frontend/test/mocks/data.ts
Due: prettier-eslint-checks, run-i18n-check

feat(test): add Event mutation specs (Phase 2)
  frontend/test/composables/mutations/setup.ts
  frontend/test/composables/mutations/useEventImageIconMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
  frontend/test/composables/mutations/useEventSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useEventTextsMutations.spec.ts
  frontend/test/mocks/data.ts
Due: prettier-eslint-checks, run-i18n-check

feat(test): add Group mutation specs (Phase 3)
  frontend/test/composables/mutations/setup.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useGroupImageMutations.spec.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/useGroupSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useGroupTextsMutations.spec.ts
  frontend/test/mocks/data.ts
Due: prettier-eslint-checks, run-i18n-check

feat(test): add Organization mutation specs (Phase 4)
  frontend/test/composables/mutations/setup.ts
  frontend/test/composables/mutations/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationTextsMutations.spec.ts
  frontend/test/mocks/data.ts
Due: prettier-eslint-checks, run-i18n-check

test(mutations): assert error.value and no refresh on service throw
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/app/services/event/text.ts
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useEventImageIconMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
  frontend/test/composables/mutations/useEventSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useEventTextsMutations.spec.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useGroupImageMutations.spec.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/useGroupSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useGroupTextsMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationTextsMutations.spec.ts
  frontend/test/services/event/text.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(mutations): add loading transitions and invalid input tests (#1783)
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
  frontend/test/composables/mutations/useEventSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useGroupImageMutations.spec.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/useGroupSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationSocialLinksMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Implement eslint-plugin-tailwindcss
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix: remove tailwind config since it's breaking the checks
  frontend/eslint.config.mjs
Due: prettier-eslint-checks, run-i18n-check

Adjusted event mobile-meta-tags container to use flex column instead of row
  frontend/app/components/card/search-result-entity/CardSearchResultEntity.vue
Due: prettier-eslint-checks, run-i18n-check

Updates to README.md
  README.md
Due: none

extend test coverage for populate_db command
  backend/tests/fixtures/populate_db_assigned.json
  backend/tests/test_populate_db_command.py
Due: mypy-check

apply ruff formatting
  backend/tests/test_populate_db_command.py
Due: mypy-check

Translated using Weblate (Arabic)
  frontend/i18n/locales/ar.json
Due: prettier-eslint-checks, run-i18n-check

fix prettier/eslint failures
  frontend/test/composables/mutations/setup.ts
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useEventImageIconMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
  frontend/test/composables/mutations/useEventSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useEventTextsMutations.spec.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useGroupImageMutations.spec.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/useGroupSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useGroupTextsMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationSocialLinksMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationTextsMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Minor edits to repo readme
  README.md
Due: none

Remove H2s from TOC as it is a bit too long with them
  README.md
Due: none

Improve line wrap on the sign-up page for the terms and conditions disclaimer.
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

small adjustment of left margin on second string. ml-1 to ml-0.5
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

feat: password crack time logic
  frontend/app/components/indicator/IndicatorPasswordStrength.vue
  frontend/i18n/locales/en-US.json
  frontend/package-lock.json
  frontend/package.json
  frontend/test-e2e/component-objects/PasswordStrength.ts
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

remove unnecessary span element.
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

Adjusted spacing of event header on mobile to give the dropdown more room.
  frontend/app/pages/events/[eventId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

Adjusted event header buttons to take whole width when screen is below the 'sm' breakpoint.
  frontend/app/pages/events/[eventId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

Removed previous top padding from about section and increased padding on parent container
  frontend/app/layouts/event/EventPage.vue
  frontend/app/pages/events/[eventId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

Fix: left-aligned FriendlyCaptcha on sign-in and sign-up pages
  frontend/app/assets/css/tailwind.css
  frontend/app/pages/auth/sign-in.vue
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

Revert changes and add text-left to FriendlyCaptcha component
  frontend/app/assets/css/tailwind.css
  frontend/app/components/FriendlyCaptcha.vue
  frontend/app/pages/auth/sign-in.vue
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

fix: fix upload and showing of images with new proxy server
  backend/content/serializers.py
  frontend/app/components/image/ImageMultipleFileDropZone.vue
  frontend/app/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentOrganization.vue
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/services/communities/group/image.ts
  frontend/app/services/communities/organization/image.ts
  frontend/app/services/http.ts
  frontend/server/api/images/[image].ts
  frontend/server/api/media/images/communities/group/[id].ts
  frontend/server/api/media/images/communities/organization/[id].ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix: tests
  frontend/test/services/communities/group/image.spec.ts
  frontend/test/services/communities/organization/image.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (French)
  frontend/i18n/locales/fr.json
Due: prettier-eslint-checks, run-i18n-check

Moved contents of footer from sub components directly into 'FooterWebsite.vue', and adjusted tailwind classes to maintain responsiveness and i18n files for file changes.
  frontend/app/components/footer/FooterWebsite.vue
  frontend/app/components/footer/flex/FooterFlex.vue
  frontend/app/components/footer/flex/FooterFlexCol.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/uk.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Indonesian)
  frontend/i18n/locales/id.json
Due: prettier-eslint-checks, run-i18n-check

i18n-check fixes
  frontend/i18n/locales/ar.json
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
