Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check
          - packaging

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

Turn on Italian localization
  frontend/locales.ts
  frontend/utils/i18n.ts
Due: run-i18n-check, prettier-eslint-checks

Switch language selector label for Italian to Italian
  frontend/locales.ts
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1476)
  frontend/i18n/it.json
  frontend/locales.ts
  frontend/utils/i18n.ts
Due: run-i18n-check, prettier-eslint-checks

Fix all i18n-check errors
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

Minor code formatting
  frontend/components/image/ImageMultipleFileDropZone.vue
  frontend/components/modal/ModalMediaImageCarousel.vue
  frontend/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/test/components/image/ImageFileDropzone.spec.ts
Due: run-i18n-check, prettier-eslint-checks

WIP refactor upload images and added missing testing (#1463)
  frontend/components/image/ImageMultipleFileDropZone.vue
  frontend/components/media/image-carousel/MediaImageCarousel.vue
  frontend/components/media/image-carousel/MediaImageCarouselFull.vue
  frontend/components/modal/ModalMediaImageCarousel.vue
  frontend/components/modal/upload-image/ModalUploadImage.vue
  frontend/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/components/modal/upload-image/ModalUploadImageIcon.vue
  frontend/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/composables/useFileManager.ts
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/layouts/group/GroupPage.vue
  frontend/layouts/organization/OrganizationPage.vue
  frontend/test/components/image/ImageFileDropzone.spec.ts
  frontend/types/content/file.ts
Due: run-i18n-check, prettier-eslint-checks

TEST: Added tests for content serializers
  backend/content/tests/image/test_image_upload.py
  backend/content/tests/topic/test_topic_str_methods.py
Due: mypy-check

refactored the CardSearchResult Component
  frontend/components/card/search-result/CardSearchResult.vue
  frontend/components/card/search-result/CardSearchResultEvent.vue
  frontend/components/card/search-result/CardSearchResultGroup.vue
  frontend/components/card/search-result/CardSearchResultOrganization.vue
  frontend/components/card/search-result/CardSearchResultResource.vue
  frontend/components/card/search-result/CardSearchResultUser.vue
Due: run-i18n-check, prettier-eslint-checks

fixed the i18n keys
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-eslint-checks

chore: update session url to use plural standard.
  backend/authentication/urls.py
Due: mypy-check

chore: update test url
  backend/authentication/tests/session/test_session_delete.py
  backend/authentication/tests/session/test_session_get.py
  backend/authentication/tests/session/test_session_post.py
Due: mypy-check

REFACT: I have my code are in now test serializer
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/image/test_image_upload.py
  backend/content/tests/topic/test_topic_serialzers.py
  backend/content/tests/topic/test_topic_str_methods.py
Due: mypy-check

FIX: adding license head in file
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/topic/test_topic_serialzers.py
Due: mypy-check

Translated using Weblate (Italian)
  frontend/i18n/it.json
Due: run-i18n-check, prettier-eslint-checks

Fix i18n-check error and sort JSON
  frontend/i18n/it.json
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1479)
  frontend/i18n/it.json
Due: run-i18n-check, prettier-eslint-checks

Updates for spelling and comment formatting
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/image/test_image_upload.py
  backend/content/tests/topic/test_topic_serialzers.py
Due: mypy-check

TEST: Added tests for content serializers (#1477)
  backend/content/tests/image/test_image_serializer.py
  backend/content/tests/image/test_image_upload.py
  backend/content/tests/topic/test_topic_serialzers.py
Due: mypy-check

chore: update the return to return refresh tokens within in the sign-in views.
  backend/authentication/views.py
  backend/core/settings.py
Due: mypy-check

chore:resource add in event working
  backend/content/models.py
  backend/content/serializers.py
  backend/events/serializers.py
  backend/events/urls.py
  backend/events/views.py
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/modal/resource/ModalResourceEvent.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/en-US.json
  frontend/pages/events/[eventId]/resources.vue
  frontend/stores/event.ts
  frontend/test/components/image/ImageFileDropzoneMultiple.spec.ts
  frontend/types/content/resource.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore:resoures services for group and organizations
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/content/serializers.py
  backend/events/urls.py
  backend/events/views.py
  frontend/stores/event.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore:add for resources for organization and event
  frontend/components/modal/resource/ModalResourceGroup.vue
  frontend/components/modal/resource/ModalResourceOrganization.vue
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: run-i18n-check, prettier-eslint-checks

chore:added reordering for resources for entities is working
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  frontend/pages/events/[eventId]/resources.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

TEST: Added tests for events serializers
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/tests/resource/__init__.py
  backend/events/tests/resource/test_resource_serializer.py
Due: mypy-check

fix:i18n fixes
  frontend/components/form/FormResource.vue
  frontend/components/modal/resource/ModalResourceEvent.vue
  frontend/components/modal/resource/ModalResourceGroup.vue
  frontend/components/modal/resource/ModalResourceOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/pages/organizations/[orgId]/groups/[groupId]/about.vue
Due: run-i18n-check, prettier-eslint-checks

fix:added missing header
  frontend/test/components/image/ImageFileDropzoneMultiple.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Add bulk export to .ics file
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

fix:added missing test suite
  frontend/test/components/image/ImageFileDropzoneMultiple.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix:prettier and nuxt type
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/pages/events/[eventId]/resources.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/types/content/resource.d.ts
Due: run-i18n-check, prettier-eslint-checks

fix:prettier
  backend/communities/groups/serializers.py
  frontend/i18n/en-US.json
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Minor comment and import fixes
  backend/events/tests/resource/test_resource_serializer.py
Due: mypy-check

TEST: Added tests for events serializers (#1481)
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/tests/resource/__init__.py
  backend/events/tests/resource/test_resource_serializer.py
Due: mypy-check

Fix Ruff and mypy errors
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/serializers.py
Due: mypy-check

Final Ruff import sorting fixes
  backend/communities/organizations/views.py
  backend/communities/urls.py
Due: mypy-check

Update topics and their TS, i18n and strore/view
  README.md
  backend/authentication/serializers.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/content/models.py
  backend/content/urls.py
  backend/content/views.py
  backend/events/serializers.py
  backend/fixtures/topics.json
  frontend/components/card/CardTopicSelection.vue
  frontend/components/combobox/ComboboxTopics.vue
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/sidebar/left/SidebarLeft.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/resources.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/pages/organizations/create.vue
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/stores/resource.ts
  frontend/stores/topics.ts
  frontend/test/components/image/ImageFileDropzoneMultiple.spec.ts
  frontend/types/content/resource.d.ts
  frontend/types/content/topics.ts
  frontend/types/topics.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Fixes to community URLs
  backend/communities/urls.py
Due: mypy-check

Fixes for backend tests and partial fixes for frontend
  backend/content/factories.py
  backend/content/serializers.py
  backend/content/tests/topic/test_topic_serialzers.py
  backend/content/tests/topic/test_topic_str_methods.py
  backend/core/management/commands/populate_db.py
  backend/utils/utils.py
  frontend/components/card/CardTopicSelection.vue
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/sidebar/left/SidebarLeft.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/pages/organizations/create.vue
  frontend/types/content/resource.d.ts
  frontend/types/content/topics.ts
  frontend/types/events/event.d.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

Fix frontend errors and update a11y topic name
  README.md
  frontend/components/card/CardTopicSelection.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/i18n/ar.json
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/it.json
  frontend/i18n/pt.json
  frontend/types/content/topics.ts
Due: run-i18n-check, prettier-eslint-checks

refactor: Changed the logic of GET sessions, changed login view to update the session table when a user logs in and removed DELETE for the time being.
  backend/authentication/tests/session/test_session_delete.py
  backend/authentication/tests/session/test_session_get.py
  backend/authentication/tests/session/test_session_post.py
  backend/authentication/urls.py
  backend/authentication/views.py
Due: mypy-check

chore: changed topic constant to type and added communication of front and back is not id but type
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/content/models.py
  backend/content/views.py
  backend/core/management/commands/populate_db.py
  backend/events/serializers.py
  backend/fixtures/topics.json
  frontend/components/form/FormResource.vue
  frontend/components/form/selector/FormSelectorCombobox.vue
  frontend/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/components/modal/resource/ModalResourceEvent.vue
  frontend/components/modal/resource/ModalResourceGroup.vue
  frontend/components/modal/resource/ModalResourceOrganization.vue
  frontend/components/sidebar/left/filter/SidebarLeftFilterOrganization.vue
  frontend/pages/events/[eventId]/resources.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/pages/organizations/[orgId]/resources.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/stores/topics.ts
  frontend/types/content/resource.d.ts
  frontend/types/content/topics.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks
