Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix(frontend): enable infinite scroll in FormSelectorComboboxGroups (#2200)
  frontend/app/components/form/selector/FormSelectorComboboxGroups.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add organization FAQ and resource pages empty state tests (#2143)
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mock-public-organization-detail.ts
Due: prettier-eslint-checks, run-i18n-check

feat(frontend): add useOrganizationCache and useGroupCache
  frontend/app/composables/cache/index.ts
  frontend/app/composables/cache/useGroupCache.ts
  frontend/app/composables/cache/useOrganizationCache.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useGetOrganization and useGetGroup to useQuery
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetOrganization.ts
  frontend/test/composables/queries/integration/useGetGroup.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganization.integration.spec.ts
  frontend/test/composables/queries/useGetGroup.spec.ts
  frontend/test/composables/queries/useGetOrganization.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useOrganizationFAQEntryMutations to useMutation
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/test/composables/mutations/useOrganizationFAQEntryMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fix PR maintainer workflow
  .github/workflows/pr_maintainer_checklist.yaml
Due: none

refactor(frontend): invalidate group FAQ mutations through Colada cache
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/test/composables/mutations/useGroupFAQEntryMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): migrate useOrganizationSocialLinksMutations to useMutation
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/test/composables/mutations/useOrganizationSocialLinksMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): reset pagination page state immediately on filter changes (#2204)
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
Due: prettier-eslint-checks, run-i18n-check

feat(frontend): add useAppAnnouncer composable for accessibility screen reader live updates (#2070)
  frontend/app/composables/generic/index.ts
  frontend/app/composables/generic/useAppAnnouncer.ts
  frontend/app/composables/generic/useToaster.ts
  frontend/test/composables/useAppAnnouncer.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fixes for dependency update workflow
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/ci_i18n_check.yaml
  .github/workflows/ci_services_pytest.yaml
  .github/workflows/ci_services_static_analysis.yaml
  .github/workflows/ci_spdx_license_header_check.yaml
  .github/workflows/ci_ts_backend_check.yaml
  .github/workflows/dependency_update_check.yaml
  .github/workflows/dependency_vulnerability_audit.yaml
  .github/workflows/owasp_zap_full_scan.yaml
  .i18n-check.yaml
  utils/check_used_api_calls.py
  utils/dependency_update_check/compare_backend_versions.py
  utils/dependency_update_check/compare_frontend_versions.ts
Due: none

Fixes for dependency update workflow (#2284)
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/ci_i18n_check.yaml
  .github/workflows/ci_services_pytest.yaml
  .github/workflows/ci_services_static_analysis.yaml
  .github/workflows/ci_spdx_license_header_check.yaml
  .github/workflows/ci_ts_backend_check.yaml
  .github/workflows/dependency_update_check.yaml
  .github/workflows/dependency_vulnerability_audit.yaml
  .github/workflows/owasp_zap_full_scan.yaml
  .i18n-check.yaml
  utils/check_used_api_calls.py
  utils/dependency_update_check/compare_backend_versions.py
  utils/dependency_update_check/compare_frontend_versions.ts
Due: none

Fix paths to dependency update workflow scripts
  .github/workflows/dependency_update_check.yaml
Due: none

Update the update dependencies workflow
  .github/workflows/dependency_update_check.yaml
Due: none

Fix uv commands and chmod frontend file
  .github/workflows/dependency_update_check.yaml
Due: none

Reorder stages of dependency update report
  .github/workflows/dependency_update_check.yaml
Due: none

Fixes for frontend update script
  utils/dependency_update_check/compare_frontend_versions.ts
Due: none

Misc workflow updates
  .github/workflows/ci_i18n_check.yaml
  .github/workflows/ci_ts_backend_check.yaml
  .github/workflows/dependency_update_check.yaml
Due: none

Add missing __init__.py file
  backend/content/tests/__init__.py
Due: mypy-check

Run pytest from Docker in dependency update workflow
  .github/workflows/dependency_update_check.yaml
Due: none

Remove access of backend env as it should have been done
  .github/workflows/dependency_update_check.yaml
Due: none

Updagte to Python tests within dependency update report
  .github/workflows/dependency_update_check.yaml
Due: none

Remove if always() from issue creation on dependency check
  .github/workflows/dependency_update_check.yaml
Due: none

Change directories within backend tests in update
  .github/workflows/dependency_update_check.yaml
Due: none

Run pytest in Docker
  .github/workflows/dependency_update_check.yaml
Due: none

Run pytest via uv in Docker for dependency update
  .github/workflows/dependency_update_check.yaml
Due: none

Install dependency with yarn, not npm in workflow
  .github/workflows/dependency_update_check.yaml
Due: none

Reinstall frontend dependencies in update workflow
  .github/workflows/dependency_update_check.yaml
Due: none

refactor(frontend): migrate useGroupSocialLinksMutations to useMutation
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/test/composables/mutations/useGroupSocialLinksMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update check dependencies to use ncu with Yarn
  .github/workflows/dependency_update_check.yaml
Due: none

Fix continue on error for dependency update check
  .github/workflows/dependency_update_check.yaml
Due: none

fix(frontend): clear Nuxt payload cache before refresh to prevent stale deduplicated data on rapid saves (#2250)
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetOrganization.ts
  frontend/app/composables/queries/useGetOrganizationEvents.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): invalidate remaining organization mutations through Colada cache
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/test/composables/mutations/useOrganizationImageMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationResourcesMutations.spec.ts
  frontend/test/composables/mutations/useOrganizationTextsMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(frontend): invalidate remaining group mutations through Colada cache
  frontend/app/composables/mutations/useGroupMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/test/composables/mutations/useGroupResourcesMutations.spec.ts
  frontend/test/composables/mutations/useGroupTextsMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): use route id instead of async entity id when opening entry modals
  frontend/app/components/card/connect/CardConnect.vue
  frontend/app/components/card/connect/CardConnectEvent.vue
  frontend/app/components/card/connect/CardConnectGroup.vue
  frontend/app/components/card/connect/CardConnectOrganization.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): use route id when opening text modals from entity cards
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/about/CardAboutOrganization.vue
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): render entity text form only once the texts have loaded
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/text/ModalTextOrganization.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): guard share button until the entity has loaded
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

test(frontend): expect the create event modal to stay open on a failed create
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): assert footer and CTA link hrefs instead of navigating to them
  frontend/test-e2e/specs/desktop/landing-page/landing-page-features-cta.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-features-cta.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
