Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix(e2e): wait for sidebar close animation before next theme change iteration
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): force click theme toggle to bypass sidebar open animation instability
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: resolve organization loading and improve topic selector UX
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/services/communities/organization/organization.ts
Due: prettier-eslint-checks, run-i18n-check

fix: resolve license headers and linting issues
  frontend/app/components/form/selector/FormSelectorCombobox.vue
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): force click theme toggle to bypass sidebar open animation instability
  frontend/app/components/form/Form.vue
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(dev): add Mailhog to dev stack for email capture
  .env.dev
  backend/core/settings.py
  docker-compose.yml
  frontend/test-e2e/utils/mailhog.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Add sign-up E2E tests and fix sign-up page a11y violations
  frontend/app/pages/auth/sign-up.vue
  frontend/test-e2e/page-objects/SignUpPage.ts
  frontend/test-e2e/specs/all/authentication/sign-up/sign-up-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-up/sign-up-validation.spec.ts
  frontend/test-e2e/utils/mailhog.ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/test-e2e/page-objects/SignUpPage.ts
  frontend/test-e2e/specs/all/authentication/sign-up/sign-up-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-up/sign-up-validation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(lint): fix attribute order on Icon in sign-up.vue
  frontend/app/pages/auth/sign-up.vue
Due: prettier-eslint-checks, run-i18n-check

Update current backend dependencies including ts-backend-check
  CONTRIBUTING.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

Update current backend dependencies including ts-backend-check (#1968)
  CONTRIBUTING.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

#1325 Update ts-backend-check and ci command to run all checks defined in config
  .github/workflows/pr_ci_ts_backend_check.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

added script that calculates e2e test coverage
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add FAQ deletion to CRUD tests with fixes and refactors (#1690)
  .github/workflows/pr_ci_playwright_e2e.yaml
  README.md
  frontend/app/components/form/Form.vue
  frontend/app/components/media/MediaUrl.vue
  frontend/i18n/locales/en-US.json
  frontend/test-e2e/actions/dragAndDrop.ts
  frontend/test-e2e/actions/navigation/groups.ts
  frontend/test-e2e/actions/navigation/organizations.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/all/navigation/route-query-topics-stability.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-management.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
  frontend/test-e2e/specs/desktop/events/event-resources/event-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-faq/organization-group-faq-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-faq/organization-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/events/event-resources/event-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-faq/organization-group-faq-page.spec.ts
  frontend/test-e2e/utils/faqHelpers.ts
  frontend/test-e2e/utils/server-readiness.ts
Due: prettier-eslint-checks, run-i18n-check

fixed license header, but had to remove shebang in order to satisfy license check
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

fixed lint and prettier issues
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

Mark out file
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

added script that calculates e2e test coverage (#1969)
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

Rename GitHub workflows given new usage on commits, not just PRs
  .github/workflows/ci_backend.yaml
  .github/workflows/ci_frontend.yaml
  .github/workflows/ci_i18n_check.yaml
  .github/workflows/ci_license_header_check.yaml
  .github/workflows/ci_playwright_e2e.yaml
  .github/workflows/ci_ts_backend_check.yaml
Due: none

Finalize rename of ci workflows with readme change
  CONTRIBUTING.md
  README.md
Due: none

Minor edit to readme to fix i18n-check ci shield
  README.md
Due: none

fix: update E2E docs and script for reliability (#1970)
  CONTRIBUTING.md
  FRONTEND_TESTING.md
  backend/Dockerfile
  docker-compose.yml
  run-e2e-tests.sh
Due: none

fix: replace yarn kill-port with lsof kill and add spinner for frontend wait
  run-e2e-tests.sh
Due: none

fix: replace yarn kill-port with lsof in CONTRIBUTING.md cleanup instructions
  CONTRIBUTING.md
Due: none

Add suggestion to use extension to Playwright e2e docs
  CONTRIBUTING.md
Due: none

fix: update E2E docs and script for reliability (#1971)
  CONTRIBUTING.md
  FRONTEND_TESTING.md
  backend/Dockerfile
  docker-compose.yml
  run-e2e-tests.sh
Due: none

feat: add non-admin member auth state to global E2E setup (#1975)
  frontend/playwright.config.mts
  frontend/test-e2e/global-setup.ts
Due: prettier-eslint-checks, run-i18n-check

feat: add missing permission-related locators to E2E page objects (#1977)
  frontend/test-e2e/page-objects/event/faq/EventFAQPage.ts
  frontend/test-e2e/page-objects/event/resources/EventResourcesPage.ts
  frontend/test-e2e/page-objects/organization/faq/OrganizationFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/about/OrganizationGroupAboutPage.ts
  frontend/test-e2e/page-objects/organization/resources/OrganizationResourcesPage.ts
Due: prettier-eslint-checks, run-i18n-check

feat: add non-admin member auth state to global E2E setup (#1975) (#1976)
  frontend/playwright.config.mts
  frontend/test-e2e/global-setup.ts
Due: prettier-eslint-checks, run-i18n-check

feat: add missing permission-related locators to E2E page objects (#1977) (#1978)
  frontend/test-e2e/page-objects/event/faq/EventFAQPage.ts
  frontend/test-e2e/page-objects/event/resources/EventResourcesPage.ts
  frontend/test-e2e/page-objects/organization/faq/OrganizationFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/about/OrganizationGroupAboutPage.ts
  frontend/test-e2e/page-objects/organization/resources/OrganizationResourcesPage.ts
Due: prettier-eslint-checks, run-i18n-check

fix-1979
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

style: apply prettier formatting to event permission specs
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

refactor(e2e): extract auth state paths to dedicated constants module
  frontend/test-e2e/constants/authPaths.ts
  frontend/test-e2e/global-fixtures.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-permissions.spec.ts
  frontend/test-e2e/specs/all/events/event-resources/event-resources-permissions.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Remove link to dev sync notes - will be deleted
  .github/workflows/pr_maintainer_checklist.yaml
  CONTRIBUTING.md
Due: none

Update machine to fit new requirements and make it more rebust (#1948)
  frontend/app/components/btn/action/BtnAction.vue
  frontend/app/components/form/Form.vue
  frontend/app/components/machine/Machine.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/app/composables/useFileManager.ts
  frontend/app/composables/useFlowScreens.ts
  frontend/app/services/event/event.ts
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/create-group.ts
  frontend/app/stores/machines/create-organization.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/components-props.ts
  frontend/shared/types/icon-map.ts
  frontend/shared/types/machine-type.d.ts
  frontend/shared/types/machines/create-events-steps.ts
  frontend/shared/utils/defineMachine.ts
  frontend/test/components/machine/Machine.spec.ts
  frontend/test/composables/useFlowScreens.spec.ts
  frontend/test/composables/useGetGroupTabs.spec.ts
  frontend/test/stores/create-event.spec.ts
  frontend/test/stores/flow.spec.ts
  frontend/test/utils/defineMachine.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/app/components/form/text/FormTextInput.vue
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for Tabs component
  frontend/test/components/Tabs.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(e2e): add delete button locators to group FAQ and resource page objects
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQCard.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceCard.ts
Due: prettier-eslint-checks, run-i18n-check

issue_1171: Implement scan functionality and create unit/integration tests.
  .env.dev
  docker-compose.yml
  services/filescan/Dockerfile
  services/filescan/README.md
  services/filescan/TESTING.md
  services/filescan/entrypoint.sh
  services/filescan/main.py
  services/filescan/pyproject.toml
  services/filescan/requirements.txt
  services/filescan/testImage_01.jpg
  services/filescan/tests/__init__.py
  services/filescan/tests/test_files/clean.txt
  services/filescan/tests/test_files/eicar.txt
  services/filescan/tests/test_files/empty.txt
  services/filescan/tests/test_files/fake_image.bin
  services/filescan/tests/test_files/large_clean.txt
  services/filescan/tests/test_scan_endpoint.py
  services/filescan/tests_integration/__init__.py
  services/filescan/tests_integration/test_filescan_integration.py
  services/filescan/uv.lock
Due: none

test: add unit tests for 5 Modal components
  frontend/test/components/modal/ModalCommandPalette.spec.ts
  frontend/test/components/modal/ModalMediaImageCarousel.spec.ts
  frontend/test/components/modal/ModalOrganizationOverview.spec.ts
  frontend/test/components/modal/ModalOrganizationStatus.spec.ts
  frontend/test/components/modal/ModalSharePage.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
