Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix(scripts): start db_worker in local e2e stack
  run-e2e-tests.sh
Due: none

fix(frontend): scope Mailhog lookups to recipient to fix e2e signup race
  frontend/test-e2e/specs/all/authentication/password-reset/password-reset-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-up/sign-up-authentication.spec.ts
  frontend/test-e2e/utils/mailhog.ts
Due: prettier-eslint-checks, run-i18n-check

Update pytest tests with new task based pw reset method
  backend/authentication/tests/test_auth_reset_pw.py
Due: mypy-check

Fix timing attack vulnerability in password reset endpoint (#1864)
  backend/authentication/admin.py
  backend/authentication/serializers.py
  backend/authentication/templates/pwreset_email.html
  backend/authentication/tests/test_auth_reset_pw.py
  backend/authentication/views.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/core/internal_events.py
  backend/events/serializers.py
  backend/utils/utils.py
Due: mypy-check

fix: scope Mailhog lookups to recipient to fix e2e signup race (#2350) (#2353)
  frontend/test-e2e/specs/all/authentication/password-reset/password-reset-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-up/sign-up-authentication.spec.ts
  frontend/test-e2e/utils/mailhog.ts
  run-e2e-tests.sh
Due: prettier-eslint-checks, run-i18n-check

edited the events endpoint to get consitent response format
  backend/communities/organizations/views.py
Due: mypy-check

modified the test case for the response format when the result is empty
  backend/communities/organizations/tests/event/test_org_event_retrieve.py
Due: mypy-check

fix: localize password reset email validation messages
  frontend/app/pages/auth/pwreset/email.vue
  frontend/test/pages/auth/pwreset/email.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: localize password reset email validation messages (#2356)
  frontend/app/pages/auth/pwreset/email.vue
  frontend/test/pages/auth/pwreset/email.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(layout): sidebar padding, header width, and fixed sidebar on tablet
  frontend/app/assets/css/tailwind.css
  frontend/app/components/card/about/CardAbout.vue
  frontend/app/components/header/app-page/HeaderAppPage.vue
  frontend/app/components/sidebar/left/SidebarLeft.vue
  frontend/app/composables/useSidebarClass.ts
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/tailwind.config.ts
  frontend/test/composables/useSidebarClass.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix prettier
  frontend/test/services/helpers.ts
Due: prettier-eslint-checks, run-i18n-check

fix footer
  frontend/app/components/footer/FooterWebsite.vue
Due: prettier-eslint-checks, run-i18n-check

Fix vitest var name and path
  frontend/test/components/modal/ModalMediaImageCarousel.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Remove outdated $t TypeScript workaround docs.
  .gitignore
  CONTRIBUTING.md
Due: none

Update i18n-check to fix errors
  .i18n-check.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

Revert formatting of changelog
  CONTRIBUTING.md
Due: none

Remove outdated $t TypeScript workaround docs. (#2360)
  .gitignore
  CONTRIBUTING.md
Due: none

chore: add yarn test:e2e:coverage
  frontend/package.json
Due: prettier-eslint-checks, run-i18n-check

feat: add E2E required-scenario catalog
  frontend/test-e2e/scenario-matrix.mjs
Due: prettier-eslint-checks, run-i18n-check

feat: score E2E scenarios in the coverage script
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

docs: document E2E scenario coverage
  FRONTEND_TESTING.md
Due: none

docs: explain scenario coverage ids with examples
  FRONTEND_TESTING.md
  frontend/test-e2e/scenario-matrix.mjs
Due: prettier-eslint-checks, run-i18n-check

feat: make the E2E scenario report actionable
  FRONTEND_TESTING.md
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

Update spacing for files and Nuxt version to latest
  frontend/app/components/EmptyState.vue
  frontend/app/components/btn/BtnRoadMap.vue
  frontend/app/components/grid/GridAppShields.vue
  frontend/app/components/grid/GridSupporters.vue
  frontend/app/components/landing/LandingCommunityBanner.vue
  frontend/app/components/landing/LandingTechBanner.vue
  frontend/app/components/tooltip/TooltipDiscussionWarning.vue
  frontend/app/error.vue
  frontend/app/pages/auth/confirm/email.vue
  frontend/app/pages/auth/index.vue
  frontend/app/pages/events/search.vue
  frontend/app/pages/home/index.vue
  frontend/app/pages/index.vue
  frontend/app/pages/organizations/search.vue
  frontend/package.json
  frontend/shared/constants/imageURLRegistry.s.ts
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

Spacing for dependency update check workflow
  .github/workflows/dependency_update_check.yaml
Due: none

build(deps): update pinia to v4 in /frontend
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

build(deps): update pinia to v4 in /frontend (#2364)
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

i18n incoming change manually added
  frontend/app/components/sidebar/left/SidebarLeft.vue
Due: prettier-eslint-checks, run-i18n-check

removed redundant imports
  frontend/app/assets/css/tailwind.css
Due: prettier-eslint-checks, run-i18n-check

formating issue fix
  frontend/app/assets/css/tailwind.css
Due: prettier-eslint-checks, run-i18n-check

feat: default E2E coverage to a compact scenario report
  FRONTEND_TESTING.md
  frontend/test-e2e/scenario-matrix.mjs
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

style: format e2e-coverage script with Prettier
  frontend/test-e2e/scripts/e2e-coverage.mjs
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script))
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script)) (#2368)
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

test(e2e): add empty state tests for organization faq and resources (closes #2143)
  frontend/test-e2e/specs/all/organizations/organization-faq/organization-faq-empty-states.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-resources/organization-resources-empty-states.spec.ts
  frontend/test-e2e/utils/mock-public-organization-detail.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
