Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Fix missing EOF spacing
  frontend/app/composables/generic/useToaster.ts
Due: prettier-eslint-checks, run-i18n-check

Dependency update: Remove color from Vitest output
  .github/workflows/dependency_update_check.yaml
Due: none

Dependency update check: Add yarn postinstall for .nuxt
  .github/workflows/dependency_update_check.yaml
Due: none

Update dependency check issue headers
  .github/workflows/dependency_update_check.yaml
Due: none

Remove yarn postinstall as it's not helping the breaking tests
  .github/workflows/dependency_update_check.yaml
Due: none

Minor updates to dependency update workflow
  .github/workflows/dependency_update_check.yaml
Due: none

fix(frontend): download individual event calendars
  frontend/app/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/app/composables/useDownloadEventCalendar.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/services/event/event.ts
  frontend/app/services/http.ts
  frontend/app/utils/download.ts
  frontend/test/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.spec.ts
  frontend/test/composables/useDownloadEventCalendar.spec.ts
  frontend/test/pages/events/about.spec.ts
  frontend/test/services/event/event.spec.ts
  frontend/test/services/helpers.ts
  frontend/test/services/http.spec.ts
  frontend/test/utils/download.spec.ts
  frontend/test/vitest-globals.d.ts
Due: prettier-eslint-checks, run-i18n-check

chore: changed from useQuery to approppiate useQueryInfinite
  frontend/app/components/sidebar/left/SidebarLeftSelector.vue
  frontend/app/composables/cache/useEventCache.ts
  frontend/app/composables/cache/useOrganizationCache.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/middleware/clearQueryOnPathChange.global.ts
  frontend/app/pages/events/index.vue
  frontend/app/pages/organizations/index.vue
  frontend/app/stores/data/event.ts
  frontend/app/stores/data/organization.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix: to make sure the url is different to routeUrl
  frontend/app/components/sidebar/left/SidebarLeftSelector.vue
Due: prettier-eslint-checks, run-i18n-check

chore(frontend): upgrade Playwright to 1.62.1
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

chore(frontend): upgrade Playwright to 1.62.1 (#2319)
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

chore: added queries to refactor
  frontend/app/composables/cache/useEventCache.ts
  frontend/app/composables/cache/useOrganizationCache.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventMutations.ts
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/composables/queries/useGetTopics.ts
Due: prettier-eslint-checks, run-i18n-check

test(backend): standardize HTTP 401 and 403 test cases for organization FAQs (#2318)
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/communities/organizations/tests/faq/test_org_faq_delete.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
Due: mypy-check

fix(frontend): un-skip mobile event reorder e2e tests
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/test-e2e/actions/navigation/events.ts
  frontend/test-e2e/specs/mobile/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/events/event-resources/event-resources-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): poll until drag reorder settles in e2e
  frontend/test-e2e/actions/dragAndDrop.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): merge playwright imports in dragAndDrop
  frontend/test-e2e/actions/dragAndDrop.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): keep event resource reorder from being clobbered
  frontend/app/pages/events/[eventId]/resources.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): stabilize mobile drag-and-drop e2e with page.mouse
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/test-e2e/actions/dragAndDrop.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): format dragAndDrop helper with Prettier
  frontend/test-e2e/actions/dragAndDrop.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): make list reorder work with real touch input
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/components/card/CardResource.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/test-e2e/actions/dragAndDrop.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): derive mobile chrome insets from the DOM in e2e drag helper
  frontend/app/components/menu/mobile/MenuMobileNavBar.vue
  frontend/test-e2e/actions/dragAndDrop.ts
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): restore spacing between search result card titles and content
  frontend/app/components/card/CardResource.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntity.vue
  frontend/app/components/card/search-result-entity/CardSearchResultEntityEvent.vue
Due: prettier-eslint-checks, run-i18n-check

fix(frontend): optimistically write event reorder mutations to the query cache
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
  frontend/test/setup.ts
  frontend/test/vitest-globals.d.ts
Due: prettier-eslint-checks, run-i18n-check

style(frontend): format optimistic reorder cache tests with Prettier
  frontend/test/composables/mutations/useEventFAQEntryMutations.spec.ts
  frontend/test/composables/mutations/useEventResourcesMutations.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script))
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

test(backend): standardize HTTP 401 and 403 tests
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/groups/tests/faq/test_group_faq_delete.py
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/groups/tests/flag/test_group_flag_create.py
  backend/communities/groups/tests/resource/test_group_resource_create.py
  backend/communities/groups/tests/resource/test_group_resource_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/groups/tests/text/test_group_text_update.py
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/communities/organizations/tests/faq/test_org_faq_delete.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/flag/test_org_flag_create.py
  backend/communities/organizations/tests/resource/test_org_resource_create.py
  backend/communities/organizations/tests/resource/test_org_resource_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_by_user.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_update.py
  backend/communities/organizations/tests/text/test_org_text_update.py
Due: mypy-check

Translated using Weblate (Chinese (Simplified Han script)) (#2324)
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Remove entityId prop from CardConnect* components
  frontend/app/components/card/connect/CardConnect.vue
  frontend/app/components/card/connect/CardConnectEvent.vue
  frontend/app/components/card/connect/CardConnectGroup.vue
  frontend/app/components/card/connect/CardConnectOrganization.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/organizations/[orgId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
Due: prettier-eslint-checks, run-i18n-check

Changes to social link modals
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Revert change to social links header - fix vitest
  frontend/app/components/form/FormSocialLink.vue
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/pt.json
  frontend/i18n/locales/ru.json
  frontend/i18n/locales/tr.json
  frontend/i18n/locales/zh-Hans.json
  frontend/test/components/form/FormSocialLink.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Centalizing keying for pinia colada within composables
  frontend/app/composables/cache/useEventCache.ts
  frontend/app/composables/cache/useGroupCache.ts
  frontend/app/composables/cache/useOrganizationCache.ts
  frontend/app/composables/queries/useGetEvent.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/composables/queries/useGetOrganization.ts
  frontend/app/composables/queries/useGetOrganizationImages.ts
  frontend/test/composables/queries/integration/useGetEvent.integration.spec.ts
  frontend/test/composables/queries/integration/useGetGroup.integration.spec.ts
  frontend/test/composables/queries/integration/useGetGroupImages.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganization.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizationImages.integration.spec.ts
  frontend/test/composables/queries/useGetEvent.spec.ts
  frontend/test/composables/queries/useGetGroup.spec.ts
  frontend/test/composables/queries/useGetGroupImages.spec.ts
  frontend/test/composables/queries/useGetOrganization.spec.ts
  frontend/test/composables/queries/useGetOrganizationImages.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Mark code
  frontend/app/composables/cache/useGroupCache.ts
  frontend/app/composables/cache/useOrganizationCache.ts
Due: prettier-eslint-checks, run-i18n-check

Update backend dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

Fix types of DRF requests - always dicts
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/core/internal_events.py
Due: mypy-check

Update backend dependencies (#2326)
  backend/authentication/views.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/core/internal_events.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy-check

test(backend): remove redundant user setup
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
Due: mypy-check

Enable event calendar downloads
  frontend/app/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/app/composables/useEventCalendarDownload.ts
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/services/event/event.ts
  frontend/app/services/http.ts
  frontend/test/services/event/event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): wait for the organization entity before opening the social links modal
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Remove unneeded assignment of non-staff to test users
  backend/communities/groups/tests/faq/test_group_faq_create.py
  backend/communities/groups/tests/faq/test_group_faq_delete.py
  backend/communities/groups/tests/faq/test_group_faq_update.py
  backend/communities/groups/tests/resource/test_group_resource_create.py
  backend/communities/groups/tests/resource/test_group_resource_delete.py
  backend/communities/groups/tests/resource/test_group_resource_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/tests/social_link/test_group_social_link_update.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/groups/tests/text/test_group_text_update.py
  backend/communities/organizations/tests/faq/test_org_faq_create.py
  backend/communities/organizations/tests/faq/test_org_faq_delete.py
  backend/communities/organizations/tests/faq/test_org_faq_update.py
  backend/communities/organizations/tests/flag/test_org_flag_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_create.py
  backend/communities/organizations/tests/resource/test_org_resource_delete.py
  backend/communities/organizations/tests/resource/test_org_resource_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_update.py
  backend/communities/organizations/tests/test_org_by_user.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_update.py
  backend/communities/organizations/tests/text/test_org_text_update.py
  backend/events/tests/faq/test_event_faq_delete.py
  backend/events/tests/resource/test_event_resource_delete.py
  backend/events/tests/test_event_create.py
Due: mypy-check
