Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

fix prettier issue
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/app/services/communities/organization/organization.ts
Due: prettier-eslint-checks, run-i18n-check

fix: resolve organization loading and improve topic selector UX (#1956)
  frontend/app/components/form/selector/FormSelectorCombobox.vue
  frontend/app/composables/queries/useGetOrganizationByUser.ts
  frontend/package-lock.json
Due: prettier-eslint-checks, run-i18n-check

e2e: create event full-flow tests and align modal with main
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/create/ModalCreateEvent.vue
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(create-event): clear Event Details via action/sharedData instead of mutating in onExit
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/machine-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

feat(create-event): rehydration in all steps + Time step persist on Prev
  frontend/app/components/form/Form.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/composables/useFlowScreens.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/machine-type.d.ts
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fixes for typecheck, eslint, prettier, vitest
  frontend/app/components/form/Form.vue
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/shared/types/machine-type.d.ts
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added coverage/ dir to .prettierignore; prettier fix
  .prettierignore
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
Due: prettier-eslint-checks, run-i18n-check

test(e2e): use shared ensureMinimumFAQs in event FAQ view/interact test
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

ci(frontend): split CI into static checks and tests workflows
  .github/workflows/ci_frontend_static.yaml
  .github/workflows/ci_frontend_tests.yaml
Due: none

ci(backend): split CI into static checks and tests workflows
  .github/workflows/ci_backend_static.yaml
  .github/workflows/ci_backend_tests.yaml
Due: none

fix(backend): fix dummy data creation closer to new model
  backend/content/factories.py
  backend/events/factories.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fixes on country code and adjusting filters
  backend/content/factories.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

fix in prettier frontend
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: prettier-eslint-checks, run-i18n-check

cleaned some code, added functionality on machine stores and added initial values when returning
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/machine-type.d.ts
Due: prettier-eslint-checks, run-i18n-check

fix typecheck and vitest tests
  frontend/app/composables/useFlowScreens.ts
  frontend/shared/types/machine-type.d.ts
  frontend/test/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Clean up markdown documentaiton
  BACKEND_TESTING.md
  CONTRIBUTING.md
  FRONTEND_TESTING.md
  STYLEGUIDE.md
Due: none

skipping the e2e test for Time prev/next data retention
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(e2e): Event Create Modal E2E tests, create-flow helpers, and app fixes (#1998)
  .prettierignore
  backend/communities/organizations/views.py
  backend/events/serializers.py
  frontend/app/components/form/Form.vue
  frontend/app/components/form/text/FormTextInput.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventDetails.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLinkOnline.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventLocation.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventType.vue
  frontend/app/components/machine/steps/createGroup/MachineStepsCreateGroupDetails.vue
  frontend/app/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.vue
  frontend/app/components/modal/ModalBase.vue
  frontend/app/stores/machines/create-event.ts
  frontend/app/stores/machines/flow.ts
  frontend/shared/types/machine-type.d.ts
  frontend/test-e2e/component-objects/CreateDropdown.ts
  frontend/test-e2e/component-objects/CreateEventModal.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/component-objects/CreateOrganizationModal.ts
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test/components/machine/steps/createOrganization/MachineStepsCreateOrganizationDetails.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Remove and ignore package-lock.json + minor fixes
  .gitignore
  backend/events/tests/test_event_filters.py
  frontend/package-lock.json
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Make paths for running e2e tests more explicit
  .github/workflows/ci_playwright_e2e_desktop.yaml
  .github/workflows/ci_playwright_e2e_mobile.yaml
Due: none

Rename files, remove unneeded import and increase threshold
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  frontend/vitest.config.mts
Due: prettier-eslint-checks, run-i18n-check

ci(playwright): run desktop and mobile E2E in parallel via separate workflows (#1999)
  .github/workflows/ci_playwright_e2e_desktop.yaml
  .github/workflows/ci_playwright_e2e_mobile.yaml
Due: none

Reduce vitest testing thresholds
  frontend/vitest.config.mts
Due: prettier-eslint-checks, run-i18n-check

Feature/split ci frontend backend (#2004)
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  frontend/vitest.config.mts
Due: prettier-eslint-checks, run-i18n-check

Minor code formatting
  backend/events/factories.py
Due: mypy-check

Update other dev dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

Translated using Weblate (Spanish)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Translations update from Hosted Weblate (#2005)
  frontend/i18n/locales/es.json
Due: prettier-eslint-checks, run-i18n-check

Don't run e2e tests on i18n only changes
  .github/workflows/ci_playwright_e2e_desktop.yaml
  .github/workflows/ci_playwright_e2e_mobile.yaml
Due: none

fix: event creation for location type
  backend/core/management/commands/populate_db_utils/populate_org_events.py
  backend/events/factories.py
Due: mypy-check

fix: imports
  backend/core/management/commands/populate_db_utils/populate_org_events.py
Due: mypy-check

fix(e2e): stabilize flaky FAQ count and theme change tests (#2008)
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): stabilize search modal close test (CTRL+K)
  frontend/test-e2e/component-objects/SearchModal.ts
  frontend/test-e2e/specs/all/home-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): skip CTRL+K search modal test on mobile (desktop-only shortcut)
  frontend/test-e2e/specs/all/home-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): use in-test skip for CTRL+K test (fix TypeError on CI)
  frontend/test-e2e/specs/all/home-page.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(e2e): stabilize flaky FAQ count and theme change tests (#2008) (#2009)
  frontend/test-e2e/component-objects/SearchModal.ts
  frontend/test-e2e/specs/all/events/event-faq/event-faq-page.spec.ts
  frontend/test-e2e/specs/all/home-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Minor update to formatting and change dummy url
  backend/core/management/commands/populate_db_utils/populate_org_events.py
Due: mypy-check

fix(backend): fix dummy data creation closer to new model (#2006)
  backend/content/factories.py
  backend/core/management/commands/populate_db_utils/populate_org_events.py
  backend/events/factories.py
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
