Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check

Misc fixes + add notes of which backend files lead to the TS interfaces for entities
  frontend/shared/types/event.d.ts
  frontend/shared/types/group.d.ts
  frontend/shared/types/organization.d.ts
  frontend/shared/types/user.d.ts
  frontend/test-e2e/utils/mailhog.ts
Due: prettier-eslint-checks, run-i18n-check

Misc fixes to code
  frontend/app/composables/generic/useAppError.ts
  frontend/app/services/content/image.ts
  frontend/test/composables/queries/useLocation.spec.ts
  frontend/test/composables/useAppError.spec.ts
  frontend/test/services/location.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Fixes for frontend static analysis
  frontend/test/components/card/search-result-entity/CardSearchResultEntityEvent.spec.ts
  frontend/test/components/card/search-result-entity/CardSearchResultEntityUser.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Import interface to be used for testing
  CONTRIBUTING.md
  frontend/test/components/card/search-result-entity/CardSearchResultEntityEvent.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix: prevent navigation to broken request access form
  frontend/app/components/landing/LandingSplash.vue
Due: prettier-eslint-checks, run-i18n-check

Fix path for services workflows
  .github/workflows/ci_services_pytest.yaml
  .github/workflows/ci_services_static_analysis.yaml
Due: none

Fix services workflow naming
  .github/workflows/ci_services_pytest.yaml
  .github/workflows/ci_services_static_analysis.yaml
Due: none

Fix numpydoc in workflows
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_services_static_analysis.yaml
Due: none

Expand pyproject.toml for filescan service
  services/filescan/pyproject.toml
Due: none

Update filescan uv.lock file
  services/filescan/uv.lock
Due: none

Fix Ruff linting errors for services
  services/filescan/main.py
  services/filescan/pyproject.toml
  services/filescan/tests/__init__.py
  services/filescan/tests/test_scan_endpoint.py
  services/filescan/tests_integration/__init__.py
  services/filescan/tests_integration/test_filescan_integration.py
Due: none

Ignore pyclamd for mypy in services
  services/filescan/main.py
  services/filescan/pyproject.toml
Due: none

Fix mypy and switch all %s to f-strings
  services/filescan/main.py
  services/filescan/notification_helpers.py
  services/filescan/pyproject.toml
Due: none

Fix filescan service pytet imports
  services/filescan/tests/test_clamav_scanner.py
  services/filescan/tests/test_csam_scanner.py
Due: none

Fix mypy errors for filescan service
  services/filescan/main.py
Due: none

Ignore tests and views for docstrings and do misc fixes
  backend/authentication/admin.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_verify_email_for_pwreset.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/core/tests/conftest.py
  backend/events/serializers.py
  backend/pyproject.toml
  backend/tests/test_populate_db_command.py
  services/filescan/pyproject.toml
  services/filescan/scanners/clamav.py
  services/filescan/scanners/csam.py
Due: mypy-check

Finalize docstrings for filescan service
  services/filescan/main.py
  services/filescan/notification_helpers.py
  services/filescan/scanners/clamav.py
  services/filescan/scanners/csam.py
Due: none

Fix(issue_1171): Docstrings.
  .gitignore
  backend/communities/groups/serializers.py
  backend/communities/organizations/serializers.py
  backend/content/serializers.py
  backend/core/filescan/scan_helpers.py
  backend/events/serializers.py
  services/filescan/main.py
  services/filescan/notification_helpers.py
  services/filescan/scanners/csam.py
Due: mypy-check

Fix(issue_1171): Tests and EICAR string.
  .github/workflows/ci_services_pytest.yaml
  services/filescan/README.md
  services/filescan/tests/__init__.py
  services/filescan/tests/eicar_payload.py
  services/filescan/tests/test_scan_endpoint.py
  services/filescan/tests_integration/__init__.py
  services/filescan/tests_integration/integration_helpers.py
  services/filescan/tests_integration/test_filescan_integration.py
  services/filescan/tests_integration/test_scan_quarantine_integration.py
Due: none

Fix(issue_1171): Numpy error on eicar_payload.py
  services/filescan/pyproject.toml
  services/filescan/tests/eicar_payload.py
Due: none

Fix(issue_1171): Unneeded SPDX headers.
  backend/core/filescan/__init__.py
  services/filescan/tests/__init__.py
  services/filescan/tests_integration/__init__.py
Due: mypy-check

Fix(issue_1171): Removed unneeded text from __init__.py files.
  backend/core/filescan/__init__.py
  services/__init__.py
  services/filescan/tests/__init__.py
  services/filescan/tests_integration/__init__.py
Due: mypy-check

test: add unit tests for useMenuEntriesState and useQRCode composables
  frontend/test/composables/useMenuEntriesState.spec.ts
  frontend/test/composables/useQRCode.spec.ts
Due: prettier-eslint-checks, run-i18n-check

test: add unit tests for useMenuEntriesState and useQRCode composables (#2063)
  frontend/test/composables/useMenuEntriesState.spec.ts
  frontend/test/composables/useQRCode.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added nuxt route announcer in app file
  frontend/app/app.vue
Due: prettier-eslint-checks, run-i18n-check

fix: QR dropdown not opening inside modal
  frontend/app/components/btn/action/BtnActionDropdown.vue
Due: prettier-eslint-checks, run-i18n-check

Misc changes and reductions to docs
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_services_pytest.yaml
  backend/README.md
  backend/content/serializers.py
  backend/core/filescan/__init__.py
  services/filescan/CSAM_IMPLEMENTATION_NOTES.md
  services/filescan/INTEGRATION_NOTES.md
  services/filescan/MALWARE_DETECTED_RUNBOOK.md
Due: mypy-check

added nuxt route announcer in app file (#2065)
  frontend/app/app.vue
Due: prettier-eslint-checks, run-i18n-check

Misc import sorting
  frontend/test/composables/useMenuEntriesState.spec.ts
  frontend/test/composables/useQRCode.spec.ts
Due: prettier-eslint-checks, run-i18n-check

ci(e2e): bump GitHub Actions to Node 24 runtimes
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
Due: none

added useMap.spec.ts
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix failing/flaky tests
  frontend/test-e2e/specs/all/authentication/password-reset/password-reset-authentication.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
Due: prettier-eslint-checks, run-i18n-check

added more test for buttons
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

ci(e2e): bump Playwright workflows to Actions using Node 24 runtime (#2069)
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  frontend/test-e2e/specs/all/authentication/password-reset/password-reset-authentication.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update workflow GitHub actions versions
  .github/workflows/check_dependency_updates.yaml
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/ci_i18n_check.yaml
  .github/workflows/ci_license_header_check.yaml
  .github/workflows/ci_ts_backend_check.yaml
  .github/workflows/owasp_zap_full_scan.yaml
Due: none

fixed issues
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Update workflow GitHub actions versions for Python and checkout
  .github/workflows/check_dependency_updates.yaml
  .github/workflows/ci_backend_pytest.yaml
  .github/workflows/ci_backend_static_analysis.yaml
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  .github/workflows/ci_frontend_static_analysis.yaml
  .github/workflows/ci_frontend_vitest.yaml
  .github/workflows/ci_i18n_check.yaml
  .github/workflows/ci_license_header_check.yaml
  .github/workflows/ci_ts_backend_check.yaml
  .github/workflows/owasp_zap_full_scan.yaml
  .github/workflows/pr_maintainer_checklist.yaml
Due: none

refactor(filescan): replace pyclamd with clamav-client
  services/filescan/README.md
  services/filescan/pyproject.toml
  services/filescan/scanners/clamav.py
  services/filescan/tests/test_clamav_scanner.py
  services/filescan/uv.lock
Due: none

fixed some issues and fixed formatting
  frontend/test/composables/map/useMap.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  prettier-eslint-checks: any of: ^frontend/
  run-i18n-check: any of: ^frontend/
