Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, prettier-eslint-checks, run-i18n-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.7
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later, --fix, --continue-on-error]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/?(tests(/.*)?|views\.py|__init__\.py))$

  - repo: https://github.com/to-sta/spdx-checker-pre-commit
    rev: 0.1.5
    hooks:
      - id: spdx-license-checker
        name: run spdx-checker license check
        exclude: ^(?:.*/)?__init__\.py$
        args: [-l, AGPL-3.0-or-later]
        types_or: [python, ts, javascript, vue, css, html]

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check

Update dev dependencies for backend and services
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
  services/filescan/pyproject.toml
  services/filescan/uv.lock
Due: none

Misc code fixes
  backend/complexipy-snapshot.json
  backend/core/management/commands/populate_db.py
Due: mypy-check

fix(docker): persist local dev database across Docker restarts (#2198) (#2199)
  backend/complexipy-snapshot.json
  backend/core/management/commands/populate_db.py
  backend/tests/test_populate_db_command.py
  docker-compose.yml
  reset-dev-db.sh
  run-e2e-tests.sh
Due: mypy-check

Fix formatting and linting
  frontend/test/components/btn/BtnRoadMap.spec.ts
  frontend/test/components/btn/action/BtnActionAdd.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedEvent.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedGroup.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedOrganization.spec.ts
  frontend/test/pages/auth/pwreset/email.spec.ts
Due: prettier-eslint-checks, run-i18n-check

Increase vitest thresholds
  frontend/vitest.config.mts
Due: prettier-eslint-checks, run-i18n-check

fix(backend): organizations_by_user 500s for non-admin users (#2205)
  backend/communities/organizations/tests/test_org_by_user.py
  backend/communities/organizations/views.py
Due: mypy-check

Skip e2e tests for changes to vitest config file
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  frontend/test/vitest-globals.d.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): add unit tests for components and auth pages (#2209)
  .github/workflows/ci_e2e_playwright_desktop.yaml
  .github/workflows/ci_e2e_playwright_mobile.yaml
  frontend/test/components/Collapsable.spec.ts
  frontend/test/components/EmptyState.spec.ts
  frontend/test/components/btn/BtnRoadMap.spec.ts
  frontend/test/components/btn/action/BtnActionAdd.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolved.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedEvent.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedGroup.spec.ts
  frontend/test/components/card/get-involved/CardGetInvolvedOrganization.spec.ts
  frontend/test/pages/auth/confirm/email.spec.ts
  frontend/test/pages/auth/pwreset/email.spec.ts
  frontend/test/vitest-globals.d.ts
  frontend/vitest.config.mts
Due: prettier-eslint-checks, run-i18n-check

Misc formatting and doc updates
  backend/authentication/tasks.py
  backend/pyproject.toml
Due: mypy-check

Views.py refactor (#2180)
  backend/authentication/views.py
Due: mypy-check

feat(events): add EventSupport model, serializer, views and endpoints
  backend/events/models.py
  backend/events/serializers.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

feat(events): add event support toggle UI, store actions and i18n keys
  frontend/app/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/app/services/event/index.ts
  frontend/app/services/event/support.ts
  frontend/app/stores/data/event.ts
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

feat(events): add EventFavorite model, serializer, views and endpoints
  backend/events/models.py
  backend/events/serializers.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

feat(events): add event favorite toggle UI, store actions and i18n keys
  frontend/app/components/tooltip/menu-search-result/TooltipMenuSearchResultEvent.vue
  frontend/app/services/event/favorite.ts
  frontend/app/services/event/index.ts
  frontend/app/services/event/support.ts
  frontend/app/stores/data/event.ts
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

test(integration): add real composable integration tests for race conditions
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizations.integration.spec.ts
Due: prettier-eslint-checks, run-i18n-check

fix(backend): add PUT serializer for event detail updates
  backend/events/serializers.py
  backend/events/tests/test_event_update_details.py
  backend/events/views.py
Due: mypy-check

feat(frontend): add schedule helpers for event details editing
  frontend/shared/utils/date.ts
  frontend/test/utils/date.spec.ts
Due: prettier-eslint-checks, run-i18n-check

feat(frontend): add event details edit modal on About page
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/form/dateTime/FormDateTimeCalendar.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/modal/ModalProvider.vue
  frontend/app/components/modal/event/ModalEventDetails.vue
  frontend/app/composables/mutations/index.ts
  frontend/app/composables/mutations/useEventDetailMutations.ts
  frontend/app/services/event/event.ts
  frontend/i18n/locales/en-US.json
  frontend/shared/types/event.d.ts
Due: prettier-eslint-checks, run-i18n-check

test(frontend): add unit tests for event details edit flow
  frontend/test/components/card/CardDetails.spec.ts
  frontend/test/composables/mutations/useEventDetailMutations.spec.ts
  frontend/test/services/event/event.spec.ts
Due: prettier-eslint-checks, run-i18n-check

chore(docker): improve preview rebuild and healthcheck
  docker-compose.yml
Due: none

test(e2e): add event about details edit specs
  frontend/test-e2e/component-objects/EventDetailsEditModal.ts
  frontend/test-e2e/page-objects/event/EventPage.ts
  frontend/test-e2e/page-objects/event/about/EventAboutPage.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-details-content.spec.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-details-permissions.spec.ts
  frontend/test-e2e/utils/event-about-details-helpers.ts
Due: prettier-eslint-checks, run-i18n-check

feat(events): add favorites page with backend integration and user menu link
  frontend/app/components/dropdown/DropdownUserOptions.vue
  frontend/app/pages/events/favorites.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check

fix(test): restore SPDX license headers to integration specs
  frontend/test/composables/queries/integration/useGetEvents.integration.spec.ts
  frontend/test/composables/queries/integration/useGetOrganizations.integration.spec.ts
Due: prettier-eslint-checks, run-i18n-check

revert(frontend): restore aria-labelledby and hidden span for a11y as requested
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
Due: prettier-eslint-checks, run-i18n-check

build(deps): bump uuid to fix vulnerability
  frontend/package.json
  frontend/yarn.lock
Due: prettier-eslint-checks, run-i18n-check

fix(backend): add numpydoc docstrings to EventPUTSerializer methods
  backend/events/serializers.py
Due: mypy-check

test(backend): merge event detail PUT tests into test_event_update
  backend/events/tests/test_event_update.py
  backend/events/tests/test_event_update_details.py
Due: mypy-check

refactor(backend): reduce EventPUTSerializer complexity for complexipy CI.
  backend/complexipy-snapshot.json
  backend/events/serializers.py
Due: mypy-check

fix(i18n): rename event schedule keys for i18n-check compliance.
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/event/ModalEventDetails.vue
  frontend/i18n/locales/ar.json
  frontend/i18n/locales/de.json
  frontend/i18n/locales/en-US.json
  frontend/i18n/locales/es.json
  frontend/i18n/locales/fr.json
  frontend/i18n/locales/id.json
  frontend/i18n/locales/it.json
  frontend/i18n/locales/uk.json
  frontend/test-e2e/component-objects/EventDetailsEditModal.ts
Due: prettier-eslint-checks, run-i18n-check

fix(backend): add numpydoc docstrings to event PUT helpers.
  backend/events/serializers.py
Due: mypy-check

fix: resolve mypy, typecheck, prettier, and eslint CI failures.
  backend/events/serializers.py
  frontend/app/components/card/CardDetails.vue
  frontend/app/components/card/about/CardAboutEvent.vue
  frontend/app/components/form/selector/FormSelectorComboboxOrganizations.vue
  frontend/app/components/machine/steps/createEvent/MachineStepsCreateEventTime.vue
  frontend/app/components/modal/event/ModalEventDetails.vue
  frontend/app/services/event/event.ts
  frontend/shared/utils/date.ts
  frontend/test-e2e/component-objects/EventDetailsEditModal.ts
  frontend/test-e2e/page-objects/event/about/EventAboutPage.ts
  frontend/test-e2e/specs/all/events/event-about/event-about-details-permissions.spec.ts
  frontend/test-e2e/utils/event-about-details-helpers.ts
  frontend/test/utils/date.spec.ts
Due: mypy-check, prettier-eslint-checks, run-i18n-check

test(e2e): harden combobox and step advance helpers on mobile.
  frontend/test-e2e/component-objects/CreateEventModal.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/specs/all/create-flows/event-create-modal.spec.ts
  frontend/test-e2e/specs/all/events/events-create/events-create-form-validation.spec.ts
  frontend/test-e2e/specs/all/events/events-create/events-create-location-step.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-create/organization-group-create-form-validation.spec.ts
  frontend/test-e2e/utils/combobox-helpers.ts
Due: prettier-eslint-checks, run-i18n-check

test(e2e): fix event about edit locator and pagination helper.
  frontend/test-e2e/page-objects/event/about/EventAboutPage.ts
  frontend/test-e2e/specs/desktop/events/events-list/events-pagination.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organizations-list/organizations-pagination.spec.ts
  frontend/test-e2e/utils/pagination.ts
Due: prettier-eslint-checks, run-i18n-check

chore(e2e): apply Prettier formatting to test helpers.
  frontend/test-e2e/component-objects/CreateEventModal.ts
  frontend/test-e2e/component-objects/CreateGroupModal.ts
  frontend/test-e2e/utils/combobox-helpers.ts
  frontend/test-e2e/utils/pagination.ts
Due: prettier-eslint-checks, run-i18n-check

seperated the background task test
  backend/authentication/tests/test_auth_tasks.py
Due: mypy-check

Add ta.json based on Weblate request
  backend/authentication/views.py
  frontend/i18n/locales/ta.json
Due: mypy-check, prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script))
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Translated using Weblate (Chinese (Simplified Han script)) (#2214)
  frontend/i18n/locales/zh-Hans.json
Due: prettier-eslint-checks, run-i18n-check

Update backend/filescan dev dependencies
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
  services/filescan/pyproject.toml
  services/filescan/uv.lock
Due: none

Formatting and punctuation for aria labels
  frontend/app/components/icon/IconDelete.vue
  frontend/app/components/icon/IconEdit.vue
  frontend/i18n/locales/en-US.json
Due: prettier-eslint-checks, run-i18n-check
