Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: python ./pre_commit_scripts/mypy_static_type_check.py
        language: python
        types: [python]

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check
        files: ^frontend/
        entry: python frontend/i18n/check/run_i18n_checks.py
        language: python

      - id: prettier-format-check
        name: run prettier formatting check
        files: ^frontend/
        entry: python ./pre_commit_scripts/prettier_formatting_check.py
        language: python

      - id: eslint-lint-check
        name: run eslint static type check
        files: ^frontend/
        entry: python ./pre_commit_scripts/eslint_static_type_check.py
        language: python
        types_or: [javascript, ts, tsx, jsx, vue]

  # Note: Disabled as it breaks on TOC links.
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.13.6
  #   hooks:
  #     - id: markdown-link-check
  #       args: [-q]

  # SkyWalking Eyes License header check (https://github.com/apache/skywalking-eyes).
  # -   repo: local
  #     hooks:
  #     - id: license-check
  #       name: license-check
  #       language: docker_image
  #       entry: --rm apache/skywalking-eyes:0.7.0 --config .licenserc.yaml header check
  #       types_or: [python, ts, javascript, vue, css]
  #       exclude_types: [directory, wsgi]

Two FAQs per entity, factory text to latin, _ in loops
  backend/authentication/factories.py
  backend/communities/organizations/serializers.py
  backend/content/factories.py
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  docker-compose.yml
Due: mypy-check

Populate DB with FAQ + Organization FAQ Hydration + Updated modal handlers for FAQ edits (#1282)
  backend/authentication/factories.py
  backend/communities/organizations/serializers.py
  backend/content/factories.py
  backend/content/serializers.py
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  docker-compose.yml
  frontend/components/card/CardFAQEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/pages/organizations/[orgId]/faq.vue
  frontend/stores/organization.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

Removed unnecessary types
  frontend/types/communities/group.d.ts
  frontend/types/communities/organization.d.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Switched to all fields for consistency
  backend/content/serializers.py
Due: mypy-check

Added ability to edit FAQ
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  frontend/components/card/CardFAQEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/stores/group.ts
  frontend/stores/organization.ts
  frontend/types/content/faq-entry.d.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

fix directions control
  frontend/components/media/MediaMap.vue
  frontend/composables/useRoutingMap.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Add event faq page, i18n edits and faq entry css
  backend/communities/groups/serializers.py
  backend/events/serializers.py
  frontend/components/card/CardFAQEntry.vue
  frontend/composables/useMenuEntriesState.ts
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
  frontend/types/events/event.d.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

feat:Added hydration for Group FAQs (#1283)
  backend/communities/groups/serializers.py
  backend/events/serializers.py
  frontend/components/card/CardFAQEntry.vue
  frontend/composables/useMenuEntriesState.ts
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/events/[eventId]/faq.vue
  frontend/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/stores/event.ts
  frontend/stores/group.ts
  frontend/types/events/event.d.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

updated the models
  backend/communities/organizations/models.py
Due: mypy-check

Fixing ESLint errors
  frontend/components/media/MediaMap.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: factories and admin, after field name changed
  backend/communities/admin.py
  backend/communities/organizations/factories.py
Due: mypy-check

frontend: Added faq functions based on social links
  frontend/types/communities/group.d.ts
  frontend/types/communities/organization.d.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

added custom permission in groups
  backend/communities/groups/tests/test_group_social_link_update.py
  backend/communities/groups/views.py
  backend/core/permissions.py
Due: mypy-check

Added Edit FAQ for Events
  backend/communities/groups/factories.py
  backend/communities/organizations/factories.py
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/urls.py
  backend/events/views.py
  frontend/components/card/CardFAQEntry.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/pages/events/[eventId]/faq.vue
  frontend/stores/event.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

removed faqs from exclude list according to tests
  backend/communities/groups/serializers.py
  backend/events/serializers.py
Due: mypy-check

Removed faqentry according to tests
  frontend/types/communities/group.d.ts
  frontend/types/communities/organization.d.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Edited i18n according to tests
  frontend/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/components/card/get-involved/CardGetInvolvedOrganization.vue
  frontend/components/modal/edit/ModalEditFaqEntry.vue
  frontend/components/modal/edit/text/ModalEditTextEvent.vue
  frontend/components/modal/edit/text/ModalEditTextGroup.vue
  frontend/components/modal/edit/text/ModalEditTextOrganization.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Edited i18n according to tests
  frontend/components/card/get-involved/CardGetInvolvedEvent.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultGroup.vue
  frontend/components/tooltip/menu-search-result/TooltipMenuSearchResultOrganization.vue
  frontend/i18n/de.json
  frontend/i18n/en-US.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Import Event
  frontend/components/modal/edit/ModalEditFaqEntry.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

order imports
  frontend/components/modal/edit/ModalEditFaqEntry.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

formatting
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/views.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/views.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/events/urls.py
  backend/events/views.py
Due: mypy-check

WIP Adding backend FAQ tests and file renames
  .pre-commit-config.yaml
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/test_group_faq.py
  backend/communities/groups/tests/test_group_social_link.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/test_org_faq.py
  backend/communities/organizations/tests/test_org_social_links.py
  backend/content/tests/test_faqs.py
  backend/content/tests/test_social_links.py
  backend/core/management/commands/populate_db.py
  backend/events/serializers.py
  backend/events/tests/test_event_faq.py
  backend/events/tests/test_event_social_links.py
  backend/events/tests/test_event_updat_social_links.py
  frontend/utils/groupSubPages.ts
Due: mypy-check, run-i18n-check, prettier-format-check, eslint-lint-check

fixed test
  backend/communities/organizations/tests/test_org_flag_create.py
Due: mypy-check

add
  frontend/composables/useClusterMap.ts
  frontend/composables/usePointerMap.ts
  frontend/composables/useRoutingMap.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix: faq tests
  backend/communities/groups/tests/test_group_faq.py
  backend/communities/organizations/tests/test_org_faq.py
  backend/content/tests/test_faqs.py
  backend/events/tests/test_event_faq.py
Due: mypy-check

formatting
  backend/content/tests/test_faqs.py
Due: mypy-check

added pass_filenames:false to pre-commit-config
  .pre-commit-config.yaml
Due: none

Nit picks: Minor spacing and comment fixes
  backend/communities/admin.py
  backend/communities/organizations/tests/test_org_flag_create.py
  backend/communities/organizations/tests/test_org_flag_delete.py
  backend/communities/organizations/tests/test_org_flag_list.py
Due: mypy-check

Flag and FlagEntity Model Draft (#1269)
  backend/communities/admin.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/serializers.py
  backend/communities/organizations/tests/test_org_flag_create.py
  backend/communities/organizations/tests/test_org_flag_delete.py
  backend/communities/organizations/tests/test_org_flag_list.py
  backend/communities/organizations/tests/test_org_flag_retrieve.py
  backend/communities/organizations/views.py
  backend/communities/urls.py
Due: mypy-check

fix rerendering issue
  frontend/composables/useClusterMap.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

added group flags model, views, serializers, factories, tests and url
  backend/communities/admin.py
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/tests/test_group_flag_create.py
  backend/communities/groups/tests/test_group_flag_delete.py
  backend/communities/groups/tests/test_group_flag_list.py
  backend/communities/groups/tests/test_group_flag_retrieve.py
  backend/communities/groups/views.py
  backend/communities/urls.py
Due: mypy-check

fixed imports
  backend/communities/groups/serializers.py
Due: mypy-check

Test variable standardization
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/test_group_faq.py
  backend/communities/groups/tests/test_group_flag_create.py
  backend/communities/groups/tests/test_group_flag_delete.py
  backend/communities/groups/tests/test_group_flag_list.py
  backend/communities/groups/tests/test_group_flag_retrieve.py
  backend/communities/groups/tests/test_group_partial_update.py
  backend/communities/groups/tests/test_group_social_link.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_faq.py
  backend/communities/organizations/tests/test_org_flag_create.py
  backend/communities/organizations/tests/test_org_flag_delete.py
  backend/communities/organizations/tests/test_org_social_links.py
  backend/communities/organizations/tests/test_org_update.py
  backend/content/tests/discussion/test_disc_entry_create.py
  backend/content/tests/discussion/test_disc_entry_delete.py
  backend/content/tests/discussion/test_disc_entry_partial_update.py
  backend/content/tests/discussion/test_disc_entry_update.py
  backend/content/tests/discussion/test_discussion_create.py
  backend/content/tests/discussion/test_discussion_delete.py
  backend/content/tests/discussion/test_discussion_partial_update.py
  backend/content/tests/discussion/test_discussion_update.py
  backend/content/tests/resource/test_resource_create.py
  backend/content/tests/resource/test_resource_delete.py
  backend/content/tests/resource/test_resource_partial_update.py
  backend/content/tests/resource/test_resource_retrieve.py
  backend/content/tests/resource/test_resource_update.py
  backend/core/tests/unit/test_throttling.py
  backend/events/tests/test_event_faq.py
  backend/events/tests/test_event_social_links.py
Due: mypy-check

Group flag model (#1290)
  backend/communities/admin.py
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/test_group_delete.py
  backend/communities/groups/tests/test_group_faq.py
  backend/communities/groups/tests/test_group_flag_create.py
  backend/communities/groups/tests/test_group_flag_delete.py
  backend/communities/groups/tests/test_group_flag_list.py
  backend/communities/groups/tests/test_group_flag_retrieve.py
  backend/communities/groups/tests/test_group_partial_update.py
  backend/communities/groups/tests/test_group_social_link.py
  backend/communities/groups/tests/test_group_update.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/test_org_delete.py
  backend/communities/organizations/tests/test_org_faq.py
  backend/communities/organizations/tests/test_org_flag_delete.py
  backend/communities/organizations/tests/test_org_social_links.py
  backend/communities/organizations/tests/test_org_update.py
  backend/communities/urls.py
  backend/content/tests/discussion/test_disc_entry_create.py
  backend/content/tests/discussion/test_disc_entry_delete.py
  backend/content/tests/discussion/test_disc_entry_partial_update.py
  backend/content/tests/discussion/test_disc_entry_update.py
  backend/content/tests/discussion/test_discussion_create.py
  backend/content/tests/discussion/test_discussion_delete.py
  backend/content/tests/discussion/test_discussion_partial_update.py
  backend/content/tests/resource/test_resource_create.py
  backend/content/tests/resource/test_resource_delete.py
  backend/content/tests/resource/test_resource_partial_update.py
  backend/content/tests/resource/test_resource_retrieve.py
  backend/content/tests/resource/test_resource_update.py
  backend/core/tests/unit/test_throttling.py
  backend/events/tests/test_event_faq.py
  backend/events/tests/test_event_social_links.py
Due: mypy-check

Fix i18n, minor spacing and remove unneeded prop
  frontend/composables/useClusterMap.ts
  frontend/i18n/de.json
  frontend/i18n/es.json
  frontend/i18n/fr.json
  frontend/i18n/pt.json
  frontend/pages/home/index.vue
Due: run-i18n-check, prettier-format-check, eslint-lint-check

fix rerendering issue and directions breaking issue
  frontend/composables/useClusterMap.ts
  frontend/composables/usePointerMap.ts
  frontend/composables/useRoutingMap.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check

Reset clear directions control when user clicks it
  frontend/composables/useRoutingMap.ts
Due: run-i18n-check, prettier-format-check, eslint-lint-check
