Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace  # handled by Ruff and Prettier
      - id: end-of-file-fixer
        exclude: ^docs/|README.md$
      - id: check-yaml
      - id: check-added-large-files
      # - id: pretty-format-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-check
        name: run ruff linting check
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: run ruff formatting check
        files: ^backend/

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        name: run numpydoc docstring validation
        files: ^backend/
        exclude: ^backend/(.*/(tests(/.*)?|views\.py|__init__\.py))$

  - repo: local
    hooks:
      - id: mypy-check
        name: run mypy static type checking
        files: ^backend/
        entry: mypy ./backend --config-file ./backend/pyproject.toml
        language: python
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: run-i18n-check
        name: run i18n-check key-value checks
        files: ^frontend/
        entry: i18n-check -a
        language: python
        pass_filenames: false
        additional_dependencies:
          - i18n-check
          - packaging

      - id: prettier-eslint-checks
        name: run prettier and eslint checks
        files: ^frontend/
        entry: python -m pre_commit_scripts.prettier_eslint_checks
        language: python
        pass_filenames: false

updated social links to use drf-spectacular module
  backend/communities/groups/tests/image/test_group_image_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/events/views.py
Due: mypy-check

Missing tests for social links and resources added.
  backend/communities/groups/tests/resource/test_group_resource_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/resource/test_org_resource_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_delete.py
  backend/communities/organizations/views.py
  backend/events/tests/resource/test_event_resource_create.py
  backend/events/tests/resource/test_event_resource_update.py
  backend/events/views.py
Due: mypy-check

refactoring auth tests to seperate files based on methods.
  backend/authentication/tests/test_auth.py
  backend/authentication/tests/test_auth_str_methods.py
  backend/authentication/tests/test_create_user_and_super.py
  backend/authentication/tests/test_delete_user.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_signin.py
  backend/authentication/tests/test_signup.py
  backend/authentication/tests/test_verify_email.py
  backend/authentication/tests/test_verify_email_for_pwreset.py
Due: mypy-check

License header and mark fixes for new files
  BACKEND_TESTING.md
  backend/authentication/tests/test_auth_str_methods.py
  backend/authentication/tests/test_create_user_and_super.py
  backend/authentication/tests/test_delete_user.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_signin.py
  backend/authentication/tests/test_signout.py
  backend/authentication/tests/test_signup.py
  backend/authentication/tests/test_verify_email.py
  backend/authentication/tests/test_verify_email_for_pwreset.py
Due: mypy-check

Backend coverage threshold to 90
  .github/workflows/pr_ci_backend.yaml
Due: none

Expanding tests for views to reach 90+% coverage (#1570)
  .github/workflows/pr_ci_backend.yaml
  BACKEND_TESTING.md
  backend/authentication/tests/test_auth.py
  backend/authentication/tests/test_auth_str_methods.py
  backend/authentication/tests/test_create_user_and_super.py
  backend/authentication/tests/test_delete_user.py
  backend/authentication/tests/test_reset_password.py
  backend/authentication/tests/test_signin.py
  backend/authentication/tests/test_signout.py
  backend/authentication/tests/test_signup.py
  backend/authentication/tests/test_verify_email.py
  backend/authentication/tests/test_verify_email_for_pwreset.py
  backend/communities/groups/tests/image/test_group_image_update.py
  backend/communities/groups/tests/resource/test_group_resource_update.py
  backend/communities/groups/tests/social_link/test_group_social_link_create.py
  backend/communities/groups/tests/social_link/test_group_social_link_delete.py
  backend/communities/groups/views.py
  backend/communities/organizations/tests/resource/test_org_resource_update.py
  backend/communities/organizations/tests/social_link/test_org_social_link_create.py
  backend/communities/organizations/tests/social_link/test_org_social_link_delete.py
  backend/communities/organizations/views.py
  backend/events/tests/resource/test_event_resource_create.py
  backend/events/tests/resource/test_event_resource_update.py
  backend/events/views.py
Due: mypy-check

Split services into sub-directories + minor code changes
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/services/communities/group/faq.ts
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/group/image.ts
  frontend/app/services/communities/group/resource.ts
  frontend/app/services/communities/group/social-link.ts
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/.gitkeep
  frontend/app/services/content/.gitkeep
  frontend/app/services/events/.gitkeep
  frontend/app/services/group.ts
  frontend/app/stores/group.ts
  frontend/app/utils/errorHandler.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix when you refresh and data is undefined initially
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
Due: run-i18n-check, prettier-eslint-checks

Refactor group services (#1583)
  backend/communities/groups/serializers.py
  frontend/app/app.vue
  frontend/app/components/card/about/CardAboutGroup.vue
  frontend/app/components/card/connect/CardConnectGroup.vue
  frontend/app/components/card/get-involved/CardGetInvolvedGroup.vue
  frontend/app/components/header/app-page/HeaderAppPageGroup.vue
  frontend/app/components/modal/faq-entry/ModalFaqEntryGroup.vue
  frontend/app/components/modal/resource/ModalResourceGroup.vue
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/components/sidebar/left/content/SidebarLeftContentGroupPage.vue
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/about.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/events.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/services/communities/group/faq.ts
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/group/image.ts
  frontend/app/services/communities/group/resource.ts
  frontend/app/services/communities/group/social-link.ts
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/.gitkeep
  frontend/app/services/content/.gitkeep
  frontend/app/services/events/.gitkeep
  frontend/app/services/http.ts
  frontend/app/stores/group.ts
  frontend/app/types/error.ts
  frontend/app/utils/errorHandler.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore(frontend):refactor events services with new architecture
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/queries/useGetEvent.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/event/EventPage.vue
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/pages/events/[eventId]/about.vue
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/index.vue
  frontend/app/pages/events/[eventId]/tasks.vue
  frontend/app/pages/events/index.vue
  frontend/app/services/event.ts
  frontend/app/stores/event.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):refactor services to smaller files with new system
  frontend/app/services/events/event.ts
  frontend/app/services/events/faq.ts
  frontend/app/services/events/image.ts
  frontend/app/services/events/resource.ts
  frontend/app/services/events/social-link.ts
  frontend/app/services/events/text.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):nuxt type check fixes
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/app/pages/organizations/create.vue
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):event social links
  frontend/app/components/modal/social-links/ModalSocialLinksEvent.vue
Due: run-i18n-check, prettier-eslint-checks

chore: use getCachedData to get data from the store or from nuxt data and fix for organization images
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/app/composables/queries/useGetEvent.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetGroupImages.ts
  frontend/app/composables/queries/useGetOrganization.ts
  frontend/app/composables/queries/useGetOrganizationImages.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/services/communities/organization/image.ts
Due: run-i18n-check, prettier-eslint-checks

docs: add initial onboarding document for new contributors
  docs/SUMMARY.md
  docs/welcome/onboarding.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1594)
  README.md
Due: none

feat: add presentation data and database population command
  backend/core/management/commands/populate_db_from_json.py
  backend/core/settings.py
  backend/data/presentation_data.json
  docker-compose.presentation.yml
Due: mypy-check

Comment/mark fixes for frontend services
  frontend/app/components/modal/upload-image/ModalUploadImageGroup.vue
  frontend/app/components/modal/upload-image/ModalUploadImageOrganization.vue
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useEventImageIconMutations.ts
  frontend/app/composables/mutations/useEventResourcesMutations.ts
  frontend/app/composables/mutations/useEventSocialLinksMutations.ts
  frontend/app/composables/mutations/useEventTextsMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupImageMutations.ts
  frontend/app/composables/mutations/useGroupResourcesMutations.ts
  frontend/app/composables/mutations/useGroupSocialLinksMutations.ts
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationImageMutations.ts
  frontend/app/composables/mutations/useOrganizationResourcesMutations.ts
  frontend/app/composables/mutations/useOrganizationSocialLinksMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/app/composables/queries/useGetEvent.ts
  frontend/app/composables/queries/useGetEvents.ts
  frontend/app/composables/queries/useGetOrganization.ts
  frontend/app/composables/queries/useGetOrganizations.ts
  frontend/app/layouts/group/GroupPage.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/app/services/communities/organization/.gitkeep
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/event/.gitkeep
  frontend/app/services/event/event.ts
Due: run-i18n-check, prettier-eslint-checks

chore: add topics to new services architecture
  frontend/app/components/form/selector/FormSelectorComboboxTopics.vue
  frontend/app/composables/queries/useGetTopics.ts
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/services/communities/group/group.ts
  frontend/app/services/communities/organization/organization.ts
  frontend/app/services/content/topics.ts
  frontend/app/services/event/event.ts
  frontend/app/services/http.ts
  frontend/app/stores/topics.ts
Due: run-i18n-check, prettier-eslint-checks

Type check fix and minor updates
  frontend/app/composables/queries/useGetTopics.ts
  frontend/app/layouts/event/EventList.vue
  frontend/app/layouts/organization/OrganizationPage.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/services/content/topics.ts
  frontend/app/services/http.ts
Due: run-i18n-check, prettier-eslint-checks

fix: fix group faq is undefined props.group
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

Fix for local eslint
  frontend/eslint.config.js
  frontend/eslint.config.mjs
Due: run-i18n-check, prettier-eslint-checks

Fix org event rendering and faq entry creation
  frontend/app/components/modal/faq-entry/ModalFaqEntryOrganization.vue
  frontend/app/pages/organizations/[orgId]/events.vue
Due: run-i18n-check, prettier-eslint-checks

Increase session time + fixes for modals + get involved in group factory
  backend/communities/groups/factories.py
  backend/core/settings.py
  frontend/app/components/modal/text/ModalTextEvent.vue
  frontend/app/components/modal/text/ModalTextGroup.vue
  frontend/app/components/modal/text/ModalTextOrganization.vue
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/text.ts
  frontend/nuxt.config.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

fix: update FAQ management tests for modal implementation
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-management.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Add note on conventional comments to PR thank you
  .github/workflows/pr_maintainer_checklist.yaml
Due: none

WIP Use captial case for marks and minor comment fixes
  frontend/test-e2e/component-objects/SidebarLeft.ts
  frontend/test-e2e/page-objects/organization/groups/about/OrganizationGroupAboutPage.ts
  frontend/test-e2e/page-objects/organization/groups/events/OrganizationGroupEventsPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/OrganizationGroupFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQCard.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQDragDrop.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQList.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQModal.ts
  frontend/test-e2e/page-objects/organization/groups/resources/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceCard.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceDragDrop.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceList.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-content.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-navigation.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-about/organization-group-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-faq/organization-group-faq-management.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-display.spec.ts
  frontend/test-e2e/specs/all/organizations/groups/organization-group-resources/organization-group-resources-management.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-accessibility.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-content.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-about/organization-about-social-links.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events/organization-events-display.spec.ts
  frontend/test-e2e/specs/all/organizations/organization-events/organization-events-interactions.spec.ts
  frontend/test-e2e/specs/all/sign-in/sign-in-authentication.spec.ts
  frontend/test-e2e/specs/all/sign-in/sign-in-validation.spec.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-accessibility.spec.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-features-cta.spec.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-hero-navigation.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/organizations/groups/organization-group-resources/organization-group-resources-page.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fixed typos
  FRONTEND_TESTING.md
Due: none

Fixes to marks and comments
  frontend/test-e2e/page-objects/organization/groups/about/OrganizationGroupAboutPage.ts
  frontend/test-e2e/page-objects/organization/groups/events/OrganizationGroupEventsPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/OrganizationGroupFAQPage.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQCard.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQDragDrop.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQList.ts
  frontend/test-e2e/page-objects/organization/groups/faq/features/FAQModal.ts
  frontend/test-e2e/page-objects/organization/groups/resources/OrganizationGroupResourcesPage.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceCard.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceDragDrop.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceList.ts
  frontend/test-e2e/page-objects/organization/groups/resources/features/ResourceModal.ts
  frontend/test-e2e/specs/desktop/landing-page/landing-page-hero-navigation.spec.ts
  frontend/test-e2e/specs/desktop/organizations/groups/organization-group-resources/organization-group-resources-page.spec.ts
  frontend/test-e2e/specs/desktop/organizations/organization-resources/organization-resources-page.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-accessibility.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-features-cta.spec.ts
  frontend/test-e2e/specs/mobile/landing-page/landing-page-hero-navigation.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix social links being empty by getting the group from useGetGroup
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/eslint.config.js
Due: run-i18n-check, prettier-eslint-checks

Translated using Weblate (Portuguese)
  frontend/i18n/locales/pt.json
Due: run-i18n-check, prettier-eslint-checks

feat: added del for FAQs
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  backend/events/views.py
Due: mypy-check

feat: added del service func for FAQs
  frontend/app/services/communities/group/faq.ts
  frontend/app/services/communities/organization/faq.ts
  frontend/app/services/event/faq.ts
Due: run-i18n-check, prettier-eslint-checks

feat: added deleteFAQ method to mutation composables
  frontend/app/composables/mutations/useEventFAQEntryMutations.ts
  frontend/app/composables/mutations/useGroupFAQEntryMutations.ts
  frontend/app/composables/mutations/useOrganizationFAQEntryMutations.ts
Due: run-i18n-check, prettier-eslint-checks
