Repository activist-org/activist: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, run-i18n-check, prettier-eslint-checks

mypy-check:
  name: run mypy static type checking
  entry: mypy ./backend --config-file ./backend/pyproject.toml
  language: python
  pass_filenames: false

run-i18n-check:
  name: run i18n-check key-value checks
  entry: i18n-check -a
  language: python
  pass_filenames: false
  additional_dependencies:
  - i18n-check
  - packaging

prettier-eslint-checks:
  name: run prettier and eslint checks
  entry: python -m pre_commit_scripts.prettier_eslint_checks
  language: python
  pass_filenames: false

feat: added icon
  frontend/app/components/icon/IconDelete.vue
  frontend/app/types/icon-map.ts
Due: run-i18n-check, prettier-eslint-checks

feat: add del button to FAQ card
  frontend/app/components/card/CardFAQEntry.vue
Due: run-i18n-check, prettier-eslint-checks

feat: handle FAQ deletion
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
Due: run-i18n-check, prettier-eslint-checks

feat: added i18n translation
  frontend/i18n/locales/en-US.json
Due: run-i18n-check, prettier-eslint-checks

Translations update from Hosted Weblate (#1605)
  frontend/i18n/locales/pt.json
Due: run-i18n-check, prettier-eslint-checks

fix(frontend):fix social links being empty by getting the group from useGetGroup (#1604)
  frontend/app/components/modal/social-links/ModalSocialLinksGroup.vue
  frontend/eslint.config.js
Due: run-i18n-check, prettier-eslint-checks

Add time validation for events
  backend/events/models.py
  backend/events/tests/test_event_api.py
  backend/events/views.py
Due: mypy-check

Trigger frontend build for time validation feature
  frontend/README.md
Due: run-i18n-check, prettier-eslint-checks

feat(backend): implement elegant single API call solution for join URL persistence
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
  frontend/app/composables/mutations/useGroupTextsMutations.ts
  frontend/app/composables/mutations/useOrganizationTextsMutations.ts
  frontend/app/services/communities/group/text.ts
  frontend/app/services/communities/organization/text.ts
Due: mypy-check, run-i18n-check, prettier-eslint-checks

chore: added peromissions edit
  frontend/app/components/card/CardFAQEntry.vue
  frontend/app/components/card/CardResource.vue
  frontend/app/components/icon/IconDraggableEdit.vue
  frontend/app/composables/useUser.ts
  frontend/app/pages/events/[eventId]/faq.vue
  frontend/app/pages/events/[eventId]/resources.vue
  frontend/app/pages/organizations/[orgId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/faq.vue
  frontend/app/pages/organizations/[orgId]/groups/[groupId]/resources.vue
  frontend/app/pages/organizations/[orgId]/resources.vue
  frontend/app/types/communities/group.ts
  frontend/app/types/communities/organization.ts
  frontend/app/types/entity.ts
  frontend/app/types/events/event.ts
Due: run-i18n-check, prettier-eslint-checks

fix(backend): correct field name mapping for getInvolvedUrl
  backend/communities/groups/views.py
  backend/communities/organizations/views.py
Due: mypy-check

Fixed typos
  STYLEGUIDE.md
Due: none

Delete frontend/README.md
  frontend/README.md
Due: run-i18n-check, prettier-eslint-checks

fixed datetime and frontend docker compose
  backend/events/serializers.py
  docker-compose.yml
Due: mypy-check

chore: added tests for the new feature
  frontend/app/composables/useUser.ts
  frontend/test/components/icon/IconDraggableEdit.spec.ts
  frontend/test/components/icon/IconEdit.spec.ts
  frontend/test/composables/useUser.spec.ts
  frontend/test/setup.ts
Due: run-i18n-check, prettier-eslint-checks

fix: fix type check
  frontend/app/components/menu/MenuItemLabel.vue
Due: run-i18n-check, prettier-eslint-checks

fix: fix missing headers
  frontend/test/components/icon/IconDraggableEdit.spec.ts
  frontend/test/components/icon/IconEdit.spec.ts
  frontend/test/composables/useUser.spec.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):added unique test identifier for icon edit draggable component
  frontend/app/components/icon/IconDraggableEdit.vue
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):fix navigation between pages, empty string was being used to fetch event or organization
  frontend/app/components/page/PageBreadcrumbs.vue
  frontend/app/composables/queries/useGetEvent.ts
  frontend/app/composables/queries/useGetGroup.ts
  frontend/app/composables/queries/useGetOrganization.ts
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):added unique test identifier for icon edit draggable component to be used in test suite
  frontend/test/components/icon/IconDraggableEdit.spec.ts
Due: run-i18n-check, prettier-eslint-checks

bugfix: editing social links will be immediately reflected
  frontend/app/components/modal/social-links/ModalSocialLinksOrganization.vue
Due: run-i18n-check, prettier-eslint-checks

Resolve merge conflicts, update tailwind to 4.1.16 as well as scroll bar and vite updates
  frontend/package.json
  frontend/tailwind.config.ts
  frontend/yarn.lock
Due: run-i18n-check, prettier-eslint-checks

updated pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fixed typos (#1617)
  FRONTEND_TESTING.md
Due: none

Fixed typos (#1618)
  STYLEGUIDE.md
Due: none

move get_involved_url to text table
  backend/communities/groups/factories.py
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/groups/tests/resource/test_group_resource.py
  backend/communities/groups/tests/test_group.py
  backend/communities/organizations/factories.py
  backend/communities/organizations/models.py
  backend/communities/organizations/tests/test_org_api.py
  backend/content/models.py
  backend/content/tests/faq/test_faq.py
  backend/content/tests/social_link/test_social_link.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
Due: mypy-check

test: add events filter E2E tests with page object pattern
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
  frontend/test-e2e/component-objects/EventsFilter.ts
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Fix location input selector in EventsFilter page object
  frontend/test-e2e/component-objects/EventsFilter.ts
Due: run-i18n-check, prettier-eslint-checks

Enable location filter test and update test location to Berlin
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Remove comment that the features is not implemented
  frontend/test-e2e/specs/desktop/events-filter.spec.ts
Due: run-i18n-check, prettier-eslint-checks

fixed issue
  frontend/app/components/menu/mobile/MenuMobileNavigationDropdown.vue
  frontend/app/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

bugfix: fixed the button highlight based on url-route
  frontend/app/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

formatting: fixed formatting to follow prettier config
  frontend/app/composables/useMenuEntriesState.ts
Due: run-i18n-check, prettier-eslint-checks

"bugfix: added logic to convert active_on back to day value "
  frontend/app/components/sidebar/left/filter/SidebarLeftFilterEvents.vue
Due: run-i18n-check, prettier-eslint-checks

chore(frontend):add sign out action to test sign out e2e tests
  frontend/app/components/dropdown/DropdownBase.vue
  frontend/app/components/dropdown/DropdownItemsLayout.vue
  frontend/app/components/dropdown/DropdownUserOptions.vue
  frontend/app/types/menu/menu-selector.ts
  frontend/test-e2e/actions/authentication.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-authentication.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-in/sign-in-validation.spec.ts
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
Due: run-i18n-check, prettier-eslint-checks

FIX(frontend):adding missing header
  frontend/test-e2e/specs/all/authentication/sign-out-validation.spec.ts
Due: run-i18n-check, prettier-eslint-checks

Switch over data assignment process
  backend/core/management/commands/entity_data_to_assign.json
  backend/core/management/commands/populate_db.py
  backend/core/management/commands/populate_db_from_json.py
  backend/core/settings.py
  backend/data/presentation_data.json
  docker-compose.presentation.yml
  docker-compose.yml
Due: mypy-check

No JSON data needed, fix event factory, add events to groups
  backend/communities/groups/models.py
  backend/communities/organizations/factories.py
  backend/core/management/commands/entity_data_to_assign.json
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/tests/test_populate_db_command.py
Due: mypy-check

Fix pytest tests
  backend/communities/groups/serializers.py
  backend/events/serializers.py
Due: mypy-check

feat: add presentation data and database population command (#1595)
  backend/communities/groups/models.py
  backend/communities/groups/serializers.py
  backend/communities/organizations/factories.py
  backend/core/management/commands/entity_data_to_assign.json
  backend/core/management/commands/populate_db.py
  backend/events/factories.py
  backend/events/models.py
  backend/events/serializers.py
  backend/tests/test_populate_db_command.py
  docker-compose.yml
Due: mypy-check

Path conditions:
  mypy-check: any of: ^backend/ and \.py$
  run-i18n-check: any of: ^frontend/
  prettier-eslint-checks: any of: ^frontend/
